<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -15px;">
    <a class="navbar-brand" [routerLink]="['/']">MUNity</a><span class="badge badge-pill badge-dark">BETA</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
      aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/exploreconferences']">Konferenzen</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/reshome']">Resolutionen</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/s/start']">Redeliste</a>
        </li>
        <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/simulator']">Simulation <span class="badge badge-success">Neu</span></a>
          </li>-->
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" (click)="vip()">VIP-Test</a>
        </li>
        <li>
          <form class="form-inline" *ngIf="!userSerivce.currentUser">
            <button id="loginButton" class="btn btn-outline-success" type="button" [routerLink]="['/login']">
              Anmelden
            </button>
            <button id="registerButton" class="btn btn-sm btn-outline-secondary" type="button"
              [routerLink]="['/register']">
              Registrieren
            </button>
          </form>

          <button *ngIf="userSerivce.currentUser" (click)="this.showTopBox = !this.showTopBox"
            class="btn btn-outline-secondary">Menü</button>

          <div class="menubox" *ngIf="showTopBox">
            <div class="menubox-header">
              <h3>MUNity</h3>
            </div>
            <div class="menu-body">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"> Konferenzen</a>
                <a href="#"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  Aufgaben
                  <span class="badge badge-primary badge-pill">14</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Meine Resolutionen</a>
                <a href="#" class="list-group-item list-group-item-action">Nachrichten</a>
                <a href="#" class="list-group-item list-group-item-action">Neutzerverwaltung</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Abmelden</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>