@* Diese Komponente ist eine Tabelle für die Lobbyphase der Simulation. Hierbei werden die Benutzer in der Simulation
    für einen Administrator/ Jemanden der den Raum verwalten kann aufgelistet. *@

@inject Services.SimulationService _simulationService;
@inject IJSRuntime JS;

@if (Users != null)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nutzername</th>
                    <th>Online</th>
                    <th>PublicId</th>
                    <th>Rolle</th>
                    <th>
                        <div type="button" @onclick="() => showPasswords = !showPasswords">
                            @if (showPasswords)
                            {
                                <i class="fas fa-eye mr-2"></i>
                            }
                            else
                            {
                                <i class="fas fa-eye-slash mr-2"></i>
                            }
                            Passwort
                        </div>
                    </th>
                    <th>Löschen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in this.Users)
                {
                    if (user != null)
                    {
                        <UserListItemAdmin User="user" ViewModel="@ViewModel" UserRemoveClicked="@OnUserRemoved" PasswordShown="@showPasswords"></UserListItemAdmin>
                    }
                }
            </tbody>
        </table>
        <button class="btn btn-dark-green btn-block" @onclick="() => NewUser()">
            <i class="fas fa-plus mr-2"></i>Neuer
            Benutzer
        </button>
        <div class="btn-group w-100" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" @onclick="CopyListToClipboard">Liste in Zwischenablage kopieren</button>
            <button type="button" class="btn btn-secondary" disabled>Zufällige Rollen</button>
        </div>
    </div>
}
else
{
    <MUNityClient.Shared.Bootstrap.Spinner DisplayText="Benutzer werden geladen" />
}


