@inject Services.SimulationService _simulationService;

@if (ViewModel != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Online</th>
                <th>Name</th>
                <th>Rolle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in this.ViewModel.Slots)
            {
            <tr class="@((ViewModel.Me.SimulationUserId == user.SimulationUserId) ? "bg-light" : "")">
                <td><i class="fa fa-circle ml-2 @(user.IsOnline ? "text-success" : "text-danger")" aria-hidden="true"></i></td>
                <td>@user?.DisplayName</td>
                <td>@user?.RoleName</td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Benutzerliste wird geladen...</p>
}


