@if (ViewModel?.Simulation?.Roles != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (!ViewModel.Simulation.Roles.Any())
            {
                <tr>
                    <td>Keine Rollen</td>
                </tr>
            }
            else
            {
                foreach(var role in ViewModel.Simulation.Roles)
                {
                    <tr>
                        <td>@role.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>Keine Rollen geladen.</p>
}

@code {
    [Parameter]
    public ViewModels.SimulationViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        if (this.ViewModel != null)
        {
            this.ViewModel.RolesChanged += delegate { this.StateHasChanged(); };
        }
        base.OnInitialized();
    }
}
