<h1>Ablauf der Sitzung</h1>

<div class="panel panel-default">
	<div class="panel-heading bg-success text-white">
		<h4 class="panel-title">Feststellung der Anwesenheit</h4>
		@*<div class="panel-heading-btn">
			<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
		</div>*@
	</div>
</div>

<div class="panel panel-inverse" data-sortable-id="ui-widget-14">
	<div class="panel-heading ui-sortable-handle">
		<h4 class="panel-title">Zu jedem Tagesordnungspunkt</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-12 mb-0">
				<div class="panel panel-default mb-0">
					<div class="panel-heading bg-success text-white">
						<h4 class="panel-title">Reginalgruppentreffen</h4>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading bg-cyan-700 text-white">
						<h4 class="panel-title">Allgemeine Debatte zum Tagesordnungspunkt</h4>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading">
						<h4 class="panel-title">Einreichen von Arbeitspapieren</h4>
					</div>
				</div>
			</div>
			
			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading">
						<h4 class="panel-title">Sammeln von Unterstützung für die Arbeitspapiere</h4>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading">
						<h4 class="panel-title">die drei Arbeitspapiere mit den meisten Unterstützungsstimmen werden zu Resolutionsentwürfen</h4>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading">
						<h4 class="panel-title">Vorstellung der Resolutionsentwürfe</h4>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading">
						<h4 class="panel-title">Debatte über die Resolutionsentwürfe</h4>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="panel panel-default mb-3">
					<div class="panel-heading">
						<h4 class="panel-title">die Unterstützung der Resolutionsentwürfe kann geändert werden</h4>
					</div>
				</div>
			</div>

			<!-- Zu jedem Resolutionsentwurf-->
			<div class="panel panel-inverse" data-sortable-id="ui-widget-14">
	<div class="panel-heading ui-sortable-handle">
		<h4 class="panel-title">Zu jedem Resolutionsentwurf</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading">
						<h4 class="panel-title">Behandlung in absteigender Anzahl der Unterstützerstimmen</h4>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="panel panel-default mb-0">
					<div class="panel-heading ">
						<h4 class="panel-title">Debatte zum Resolutionsentwurf</h4>
					</div>
				</div>
			</div>

			

			<p>TODO...</p>

		</div>
	</div>
</div>
<!-- Ende zu jedem Resolutionsentwurf-->
		</div>
	</div>
</div>



@code {

}
