<!-- default -->
<div class="note note-primary">
  <div class="note-icon"><i class="fa fa-info"></i></div>
  <div class="note-content">
    <h4><b>Information</b></h4>
    <p> Dies ist ein Informationsbanner. Dieser kann genutzt werden um ggf. Pausen, Informelle Sitzungen und anderes anzuzeigen. Dieses Feature ist noch nicht fertig. </p>
  </div>
</div>

@code {

}
