@inject BServices.VirtualCommiteeParticipationService virtualCommitteeParticipation

<h1 class="page-header">Willkommen @(virtualCommitteeParticipation.RoleName)</h1>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
				<h4 class="panel-title">Information</h4>
			</div>
			<div class="panel-body">
				<MUNity.BlazorServer.Components.VirtualCommittee.ProcedureComponent />
			</div>
        </div>
    </div>

	<div class="col-lg-6 col-md-12">

	</div>
</div>

@code {
	[CascadingParameter] public BServices.VirtualCommitteeExchange CommitteeExchange { get; set; }
}
