<div class="d-flex">
    <!-- Upcoming speakers -->
    <div class="d-flex flex-column" style="text-align: right;">
        <div class="animate__animated  animate__backInLeft">
            <span class="text-white">Belgien</span>
            <img src="/img/flags/small/be.png" />
            <span class="badge bg-primary">1</span>
        </div>
        <div class="animate__animated animate__delay-1s animate__backInLeft">
            <span class="text-white ">Deutschland</span>
            <img src="/img/flags/small/de.png" />
            <span class="badge bg-primary">2</span>
        </div>
        <div class="animate__animated animate__delay-2s animate__backInLeft">
            <span class="text-white">Frankreich</span>
            <img src="/img/flags/small/fr.png" />
            <span class="badge bg-primary">3</span>
        </div>
    </div>

    <!-- Current Speaker and Time box-->
    <div class="d-flex justify-content-center">
        <div class="col-3 p-1 mt-5px text-center">

            <img src="/img/flags/medium/ae.png" class="border border-3 border-primary" style="height: 50px" />
            <h6 class="text-white">Afgahnistan</h6>
        </div>
        <div class="col-3 p-3 ">
            <h3 class="text-white">03:00</h3>
            <h6 class="text-white-600">03:00</h6>
        </div>
            <div class="col-3 p-3 text-right" style="text-align: right">
            <h3 class="text-white">03:00</h3>
            <h6 class="text-white-600">03:00</h6>
        </div>
        <div class="col-3 p-1 mt-5px text-center">
            <img src="/img/flags/medium/un.png" style="height: 50px" />
            <h6 class="text-white">Gast</h6>
        </div>
    </div>

    <!-- Upcoming questions-->
    <div class="d-flex flex-column" style="text-align: left;">
        <div class="animate__animated animate__backInRight">
            <span class="badge bg-primary">1</span>

            <img src="/img/flags/small/be.png" />
            <span class="text-white">Belgien</span>
        </div>
        <div class="animate__animated animate__delay-1s animate__backInRight">
            <span class="badge bg-primary">2</span>

            <img src="/img/flags/small/de.png" />
            <span class="text-white ">Deutschland</span>
                
        </div>
        <div class="animate__animated animate__delay-2s animate__backInRight">
            <span class="badge bg-primary">3</span>

            <img src="/img/flags/small/fr.png" />
            <span class="text-white">Frankreich</span>
        </div>
    </div>

    <!-- Members icon-->
</div>


@code {

}
