@using Microsoft.EntityFrameworkCore
 
@inject MUNity.Database.Context.MunityContext context

<div class="mailbox">
    <!-- BEGIN mailbox-sidebar -->
    <div class="mailbox-sidebar">
        <div class="mailbox-sidebar-header d-flex justify-content-center">
            <a href="#emailNav" data-bs-toggle="collapse" class="btn btn-inverse btn-sm me-auto d-block d-lg-none">
                <i class="fa fa-cog"></i>
            </a>
            <h4>Filter</h4>
        </div>
        <div class="mailbox-sidebar-content collapse d-lg-block" id="emailNav">
            <!-- BEGIN scrollbar -->
            <div data-scrollbar="true" data-height="100%" data-skip-mobile="true" class="ps" data-init="true" style="height: 100%;">
                <div class="nav-title"><b>Allgemein</b></div>
                <ul class="nav nav-inbox">
                    <li class="active"><a @onclick="() => SelectedApplication = null"><i class="fa fa-hdd fa-lg fa-fw me-2"></i> Alle </a></li>
                </ul>
                <div class="nav-title"><b>Gremien</b></div>
                <ul class="nav nav-inbox">
                    @foreach (var committee in context.Committees.Where(n => n.Conference.ConferenceId == ConferenceId))
                    {
                        <li><a href="email_inbox.html"> <i class="fa fa-flag fa-lg fa-fw me-2"></i> @committee.Name</a></li>
                    }
                </ul>
                <div class="nav-title"><b>LABEL</b></div>
                <ul class="nav nav-inbox">
                    <li><a href="javascript:;"><i class="fa fa-fw fa-lg fs-12px me-2 fa-circle text-inverse"></i> Ausstehend</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw fa-lg fs-12px me-2 fa-circle text-success"></i> Angenommen</a></li>
                    <li><a href="javascript:;"><i class="fa fa-fw fa-lg fs-12px me-2 fa-circle text-danger"></i> Abgelehnt</a></li>
                </ul>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
            </div>
            <!-- END scrollbar -->
        </div>
    </div>
    <!-- END mailbox-sidebar -->
    <!-- BEGIN mailbox-content -->
    <div class="mailbox-content">
        @if (SelectedApplication == null)
        {
            <ApplicationList ConferenceId="@ConferenceId" ApplicationSelected="OnApplicationSelected" />

        }
        else
        {
            <ApplicationDetail ApplicationId="@SelectedApplication.Value"  />
        }
    </div>
    <!-- END mailbox-content -->
</div>

@code {
    [Parameter] public string ConferenceId { get; set; }

    [Parameter] public int? SelectedApplication { get; set; } = null;

    private void OnApplicationSelected(int id)
    {
        SelectedApplication = id;
    }
}
