<div class="delegationcard" *ngIf="user">

  <div class="card" [class.bg-primary]="isMe" [class.text-white]="isMe">
    <img src="/assets/img/flags/medium/un.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p>{{ user.DisplayName }}</p>
      <b *ngIf="user.Delegation">{{ user.Delegation.Name }}</b>
      <b *ngIf="!user.Delegation">Keine Delegation gefunden</b>
    </div>
  </div>
  <div *ngIf="hasRequest" class="card-notification text-white"
       [class.bg-primary]="currentRequests.RequestType == 'addToSpeakerlist'"
       [class.bg-info]="currentRequests.RequestType == 'addToQuestions'"
       [class.bg-secondary]="currentRequests.RequestType == 'GO'"
       [class.bg-warning]="currentRequests.RequestType == 'PP'">Antrag</div>
</div>

<div class="delegationcard" *ngIf="!user">

  <div class="card">
    <div class="card-body">
      <p>Nicht verifizierter Benutzer!</p>
    </div>
  </div>
</div>


