.delegationcard
{
    margin-top: 10px;
}

.card-notification {
    position: absolute;
    left: 0px;
    top: 0Px;
    width: 80%;
    height: 30px;
    background: #810000;
    color: white;
    z-index: 20;
    text-align: center;
}
