@page "/committee/session/{Id}"
@using MUNity.Database.Models.Session

@inject MunityContext dbContext

<AuthorizeView>
    <Authorized>
        <h1>@session.Name</h1>
        <h2>von @session?.StartDate bis @session?.EndDate</h2>
        <h3>Tagesordnungspunkte</h3>
        <ul>
            
        </ul>
        
    </Authorized>
    <NotAuthorized>
        <p>You need to be logged in for this page!</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public string Id { get; set; }

    [CascadingParameter] public Task<AuthenticationState> AuthStateTask { get; set; }

    private CommitteeSession session;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        this.session = dbContext.CommitteeSessions.FirstOrDefault(n => n.CommitteeSessionId == Id);
    }
}
