<div class="row">
    <div class="col-12">
        <h3>Resolutionen</h3>
    </div>
    <div class="col-12">
        <h5>Bearbeiten und Einsehen von Resolutionen </h5>
    </div>
    <div class="col-12" *ngIf="service.hasError">
        <div class="alert alert-danger" role="alert">
            <b>ACHTUNG!</b> Offenbar liegt ein Fehler bei unseren WebSockets vor, die Arbeit an Resolutionen kann
            eingeschränkt sein!
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-xs-12  d-flex align-items-stretch">
        <div class="card text-center">
            <img src="../../../../assets/img/thumbs/working-on-mac.jpg" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">Resolution erstellen</h5>
                <p class="card-text">Eine neue Resolution erstellen auch ohne einen Account auf MUNity zu haben. Wenn
                    kein Account vorhanden ist bitte die ID merken, diese wird benötigt um das Dokument erneut
                    zu öffnen.</p>
              <p class="text-muted">Bei Registrierten Nutzern werden die erstellten Resolutionen unterhalb aufgelistet.</p>
            </div>
            <div class="card-footer text-muted">
              <button *ngIf="!userService.session"
                      type="submit" class="btn btn-block btn-primary" (click)="createPublicResolution()" [disabled]="creatingResolution">
                <div *ngIf="creatingResolution" class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                Öffentliche Resolution erstellen
              </button>
              <p *ngIf="!userService.session">Logge dich ein um eine private Resolution zu erstellen.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12 d-flex align-items-stretch">
        <div class="card text-center">
            <img src="../../../../assets/img/thumbs/committee-small.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Mitschreiben</h5>
                <p class="card-text">An einer bestehenden Resolution mitarbeiten, oder an einer zurvor erstellten
                    Resolution weiterarbeiten</p>
                <form>
                    <div class="form-group">
                        <label for="speakerlistid">Public Work Id</label>
                        <input type="text" class="form-control" id="workOnInputId"
                            (keyup.enter)="workTogether(workOnInput.value)"
                            (blur)="updateWorkTogetherKey(workOnInput.value)" #workOnInput aria-describedby="emailHelp"
                            placeholder="aaaa-aaaaa-aaaaa-aaaa">
                        <small id="emailHelp" class="form-text text-muted">Die Public-Work-Id ist lediglich dem
                            Ersteller der Resolution bekannt</small>
                    </div>

                </form>
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-block btn-primary"
                    (click)="workTogetherClick()">Mitschreiben</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xs-12 d-flex align-items-stretch">
        <div class="card text-center">
            <img src="../../../../assets/img/thumbs/empty-table.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Mitarbeiten</h5>
                <p class="card-text">Mitlesen und ggf. Änderungsanträge einreichen.</p>
                <form>
                    <div class="form-group">
                        <label for="speakerlistpublicid">ResolutionId</label>
                        <input type="number" class="form-control" id="displayInputId" #displayInput
                            aria-describedby="displayKeyHelp" placeholder="12345678"
                            (keyup.enter)="displayResolution(displayInput.value)"
                            (blur)="updateDisplayKey(displayInput.value)">
                        <small id="displayKeyHelp" class="form-text text-muted">Die ResolutionId ist lediglich dem
                            Ersteller der Resolution bekannt. Damit diese Ansicht geöffnet werden kann, muss die
                            Resolution hierfür freigegeben werden.</small>
                    </div>
                </form>
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-block btn-primary"
                    (click)="displayResolutionClick()">Mitarbeiten</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="userService.session">
    <app-myresolutions></app-myresolutions>
</div>
