.window {
    position: fixed;
    z-index: 50;
    min-width: 200Px;
    width: 400Px;
    border:solid;
    border-color: black;
    border-width: 1Px;
}

.window-header {
    height: 50Px;
}

.window-body {
    padding: 0Px;
}

.close-btn {
    margin-right: 10px;
    width: 40Px;
    height: 40Px;
}
