<div class="window shadow-lg" [style.left.px]="leftVal" [style.top.px]="topVal">
  <div class="window-header bg-primary clearfix" (mousedown)="windowMouseDown($event)"
       (mousemove)="windowMouseMove($event)" (mouseup)="windowMouseUp($event)"
       (mouseleave)="windowMouseLeave()">
    <h3 class="float-left">{{ title }}</h3>
    <button type="button" class="close float-right close-btn" aria-label="Close" (click)="closeClicked()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="window-body bg-white border-dark" [style.opacity]="isMoving == true ? 0.5 : 1">
    <ng-content></ng-content>
  </div>
</div>
