<div *ngIf="user" class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="../../../../assets/img/flags/medium/un.png" alt="" />
          <!-- Show when own profile -->
          <!--<div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div>-->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{ user.Forename }} {{ user.Lastname }}
          </h5>
          <small>{{ user.Username }}</small>
          <h6>
            User Rank
          </h6>
          <p class="proile-rating">Konferenzen : <span>X</span></p>
        </div>
      </div>
      <!-- Wenn der Benutzer selbst der angemeldete ist-->
      <div *ngIf="isMe" class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Profil bearbeiten" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>Funktionen</p>
          <a>Freund hinzufügen</a><br />
          <a>Abonnieren</a><br />
          <a>Nachricht schreiben</a>
        </div>
      </div>
      <!-- Profil Bereich-->
      <div class="col-md-8">

        <tabset #staticTabs>
          <tab heading="Profil">
            <h3>{{ user.Forename }} {{ user.Lastname }}</h3>
            <p>Profilbeschreibung</p>
          </tab>
          <tab heading="Konferenzen">
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Jahr</th>
                <th>Rolle</th>
              </tr>
              <tr>
                <td>Example</td>
                <td>2020</td>
                <td>Beispielrolle</td>
              </tr>

            </table>

          </tab>
          <tab heading="Beiträge">
            <div class="media">
              <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                <p>Hier steht ein Beispiel Kommentar</p>
                <small>0 Kommentare | <a>Kommentar schreiben</a> | <a>Melden</a></small>
              </div>
            </div>
          </tab>
          <tab heading="Dokumente">Static content 3</tab>
        </tabset>

      </div>
    </div>
  </form>
</div>

<p *ngIf="!user">Benutzer nicht gefunden. Denke daran, dass du angemeldet sein musst
  um Profile anschauen zu können.</p>
