<div *ngIf="user" class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="../../../../assets/img/profile/p.conradi.JPG" alt="" />
          <!-- Show when own profile -->
          <!--<div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div>-->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{ user.Forename }} {{ user.Lastname }}
          </h5>
          <small>{{ user.Username }}</small>
          <h6>
            Founder & CEO
          </h6>
          <p class="proile-rating">Konferenzen : <span>10</span></p>
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>Funktionen</p>
          <a href="">Freund hinzufügen</a><br />
          <a href="">Abonnieren</a><br />
          <a href="">Nachricht schreiben</a>
        </div>
      </div>
      <!-- Profil Bereich-->
      <div class="col-md-8">

        <tabset #staticTabs>
          <tab heading="Profil">
            <h3>Peer Conradi</h3>
            <p>Peer ist der Gründer und Leiter des MUNity-Projects. Er hatte seine erste Model United Nations Konferenz im Jahre 2013
            in Schleswig-Holstein. Dort war er Teilnehmer des Fernsehteams. Im Jahre 2014 wechselte er ins Team von Model United Nations Baden-Württemberg.
            In den darauf folgenden Jahren leitete er die Sitzungstechnik bei den Konferenzen MUN-SH und MUNBB.</p>
          </tab>
          <tab heading="Konferenzen">
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Jahr</th>
                <th>Rolle</th>
              </tr>
              <tr>
                <td>MUN-SH 2020</td>
                <td>2020</td>
                <td>Fernsehteamlitung</td>
              </tr>

            </table>

          </tab>
          <tab heading="Beiträge">
            <div class="media">
              <!--<img class="mr-3" src="..." alt="Generic placeholder image">-->
              <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <small>0 Kommentare | <a>Kommentar schreiben</a> | <a>Melden</a></small>
              </div>
            </div>
          </tab>
          <tab heading="Dokumente">Static content 3</tab>
        </tabset>

      </div>
    </div>
  </form>
</div>

<p *ngIf="!user">Benutzer nicht gefunden. Denke daran, dass du angemeldet sein musst
  um Profile anschauen zu können.</p>
