<div class="row">
  <h1 class="col-12">Konferenz bearbeiten</h1>
  <h3 class="col-12" *ngIf="conference">{{ conference.Name }}</h3>
</div>

<p *ngIf="!conference"> Konferenz wird geladen</p>

<div *ngIf="conference" class="row mbr-justify-content-center">

  <div class="col-lg-6 mbr-col-md-10" [routerLink]="['/mc/committees', conference.ID]">
    <div class="wrap wrap-primary">
      <div class="ico-wrap">
        <span class="mbr-iconfont fa-volume-up fa"></span>
      </div>
      <div class="text-wrap vcenter">
        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Gremien <span>Bearbeiten</span></h2>
        <p class="mbr-fonts-style text1 mbr-text display-6">Gremien hinzufügen, umbenennen oder entfernen. Sowie Delegationen einem Gremium hinzufügen.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mbr-col-md-10">
    <div class="wrap wrap-primary">
      <div class="ico-wrap">
        <span class="mbr-iconfont fa-calendar fa"></span>
      </div>
      <div class="text-wrap vcenter">
        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
          Delegationen
          <span>einstellen</span>
        </h2>
        <p class="mbr-fonts-style text1 mbr-text display-6">Delegationen zu dieser Konferenz hinzufügen, bearbeiten oder auflösen.</p>
      </div>
    </div>
  </div>

  <!-- Manage Team Roles -->
  <div class="col-lg-6 mbr-col-md-10" [routerLink]="['/mc/TeamRoles', conference.ID]">
    <div class="wrap wrap-primary">
      <div class="ico-wrap">
        <span class="mbr-iconfont fa-globe fa"></span>
      </div>
      <div class="text-wrap vcenter">
        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
          Teamstruktur
          <span>verwalten</span>
        </h2>
        <p class="mbr-fonts-style text1 mbr-text display-6">Rechte, Aufgaben und Rollen des Teams einstellen und verwalten. Sowie Ausschreibungen aktivieren</p>
      </div>
    </div>
  </div>

  <!-- Manage Team -->
  <div class="col-lg-6 mbr-col-md-10" [routerLink]="['/mc/team', conference.ID]">
    <div class="wrap wrap-warning">
      <div class="ico-wrap">
        <span class="mbr-iconfont fa-globe fa"></span>
      </div>
      <div class="text-wrap vcenter">
        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
          Teammitglieder
          <span>verwalten</span>
        </h2>
        <p class="mbr-fonts-style text1 mbr-text display-6">Personen in Teampositionen setzen und Einzelrechte verwalten, sowie Direktaufgaben verteilen.</p>
      </div>
    </div>
  </div>

  <!-- Edit generals -->
  <div class="col-lg-6 mbr-col-md-10">
    <div class="wrap wrap-primary">
      <div class="ico-wrap">
        <span class="mbr-iconfont fa-trophy fa"></span>
      </div>
      <div class="text-wrap vcenter">
        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Allgemeine <span>Einstellungen</span></h2>
        <p class="mbr-fonts-style text1 mbr-text display-6">Allgemeine Einstellungen für die Konferenz vornehmen, wie Datum, Namen oder Veranstaltungsort.</p>
      </div>
    </div>
  </div>

  <!-- Edit Webpages -->
  <div class="col-lg-6 mbr-col-md-10">
    <div class="wrap wrap-primary">
      <div class="ico-wrap">
        <span class="mbr-iconfont fa-trophy fa"></span>
      </div>
      <div class="text-wrap vcenter">
        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Webpräsenz <span>Bearbeiten</span></h2>
        <p class="mbr-fonts-style text1 mbr-text display-6">Öffentliche Seiten, Infoboxen und Beiträge für die Konferenz erstellen und bearbeiten.</p>
      </div>
    </div>
  </div>

  <!-- Manage Participants -->
  <div class="col-lg-6 mbr-col-md-10 ">
    <div class="wrap wrap-warning">
      <div class="ico-wrap">
        <span class="mbr-iconfont fa-trophy fa"></span>
      </div>
      <div class="text-wrap vcenter">
        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Teilnehmende <span>verwalten</span></h2>
        <p class="mbr-fonts-style text1 mbr-text display-6">Einsicht in die Teilnehmendenlisten, Verteilung von Teilnehmenden auf Delegationen und Gremien, sowie Beiträge innerhalb der Konferenz.</p>
      </div>
    </div>
  </div>
</div>
