.operative-paragraph-text {
    font-size: 24px;
}

.operative-paragraph-title {
  font-size: 36px;
}

.title-section {
    font-size: 24px;
}

.amendment-counts {
    font-size: 18px;
}

ul {
    list-style-type: lower-alpha; margin-left: 50Px;

}
ul ul {
    list-style-type: lower-roman;

}
