<div *ngIf="!resolution">
  <h3 class="text-danger">Fehler beim Laden der Resolution!</h3>
</div>

<markdown [data]="presets"></markdown>

<div *ngIf="resolution" class="container">
  <div class="title-section">
    <h3> {{ resolution.header.topic }}</h3>
    <p>Einbringer: {{ resolution.header.submitterName }}</p>
    <p>Unterstützer: </p>
    <ng-container>{{ supporters }}</ng-container>
    <br />
    <br />
    <b>{{ resolution.header.committeeName | uppercase }},</b>
    <br />
  </div>

  <!-- Präambel -->
  <div *ngFor="let pre of resolution.preamble.paragraphs">
    <markdown class="operative-paragraph-text" [data]="pre.text"></markdown>
    <br />
  </div>

  <div *ngFor="let oa of resolution.operativeSection.paragraphs" [class.bg-success]="oa.isVirtual === true"
    [class.text-white]="oa.isVirtual === true" class="row">

    <!-- Kopfzeile -->
    <app-operative-paragraph-view class="col-12" [paragraph]="oa" [resolution]="resolution">
    </app-operative-paragraph-view>

    <br />
  </div>
</div>