<div class="row py-0 mx-0 my-2 col-12 d-flex justify-content-between">
    <div class="col p-0 mr-2">
        <input type="text" @bind="ResolutionViewModel.Resolution.Header.Topic" class="form-control" placeholder="Thema">
    </div>
    <div class="col p-0 mx-2">
        <input type="text" @bind="ResolutionViewModel.Resolution.Header.CommitteeName" class="form-control" placeholder="Gremium">
    </div>
    <div class="col p-0 ml-2">
        <input type="text" @bind="ResolutionViewModel.Resolution.Header.SubmitterName" class="form-control" placeholder="Einbringerstaat">
    </div>
</div>
<div class="row py-0 m-0 col-12 justify-content-center">
    <div class="w-100">
        @* //string list *@
        <textarea class="md-textarea form-control" rows="3" placeholder="Unterstützerstaaten"></textarea>
    </div>
</div>

@code {
    [Parameter]
    public MUNityClient.ViewModels.ResolutionViewModel ResolutionViewModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (this.ResolutionViewModel != null)
        {
            // Refresh view when the resolution has been changed by an extern source
            this.ResolutionViewModel.HeaderChangedFromExtern += delegate { this.StateHasChanged(); };
        }
    }
}
