@inject Services.SimulationService simulationService; 
<div class="row">
    
    <div class="col-8">
        <div class="form-group">
            <label>Ziel Simulation</label>
            <select>
                @* Die Options müssen über die Gespeicherten Simulationstokens hergeleitet werden... *@
            </select>
        </div>
    </div>
    <div class="col-4">
        <button class="btn btn-primary">Zusenden</button>
    </div>
</div>

@code {      
    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }
}
