<h1>Impressum</h1>

<h3>Ansprechpartner/Inhaber</h3>
<p>Peer Conradi</p>
<p>aeuke-peer@t-online.de</p>

<h3>Anschrift</h3>
<address>
  Grambker Heerstraße 93a <br />
  28719 Bremen <br />
  Deutschland
</address>

<h3>Informationen</h3>
<p>Diese Seite dient der Bereitstellung von Software für den Einsatz auf Model United Nations Konferenzen. Die auf dieser Plattform
  angebotenen Dienste sind kostenfrei.</p>
<p>Die Serverbereitstellung erfolgt durch den Anbieter STRATO.</p>
<p>Auf dieser Website werden Cookies für die Erfassung von Sessions gespeichert.</p>
<p>Alle auf dieser Website eingegebenen <u>und</u> angesendeten Daten werden vom Server gespeichert und verarbeitet.
  Zudem werden Daten wie die IP-Addresse zwischengespeichert um WebSocket Dienste anzubieten und Schutzmaßnahmen gegen
  potentielle Angriffe einzuleiten.</p>

<h3>Datenschutz</h3>
<p>Der Administrator dieser Seite ist in der Lage alle eingegebenen Daten zu sehen.</p>
<p>Resolutionen, welche öffentlich freigeschaltet werden können auch von allen Benutzern dieser Website (obgleich diese ein
  Benutzerkonto haben) gesehen werden.</p>
<p>Die eingegebnen Daten werden im Rahmen dieser Anwendung gespeichert und für die weitere Verwendung aufbereitet.
  Eingegebnen Delegationen und Konferenzstrukturen können dazu verwendet werden Muster für die Erstellung anderer
  Kofnerenzen zu bieten.</p>
<p>Redelisten werden nach eine bestimmten Zeit wieder entfernt.</p>
<p>Die Plattform bietet einen Basisdatensatz zum Arbeiten mit Resolutionen und Redelisten für die Richtigkeit dieser Daten wird
  keine Haftung übernommen.</p>

<h3>Disclaimer</h3>
<p>Bei dieser Anwendung handelt es sich um einen kostenlosen und in der Freizeit entwickelten Dienst. Es wird keinerlei
  Garantie auf Funktionalität gegeben. Der Ersteller dieser Software haftet nicht für möglicherweise entstandende Schände beim
  Ausfall dieser Plattform.</p>
