<div *ngIf="!resolution" class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="resolution">
  <h1>{{ resolution.Topic }}</h1>
  <h2>Präambel</h2>
  <div *ngFor="let preamble of resolution.Preamble.Paragraphs" class="card col-12">
    <p>{{ preamble.Text }}</p>
  </div>
  <h2>Operativer Abschnitt</h2>
  <div *ngFor="let operative of resolution.OperativeSections" class="col-12 card">
    <h3 class="card-title">{{ operative.Path }}</h3>
    <div class="btn-group w-100">
      <button class="btn btn-warning" (click)="getDeleteAmendment(operative)">
        Streichen <span class="badge badge-light"> {{ operative.DeleteAmendmentCount }}</span>
      </button>
      <button class="btn btn-primary" (click)="getChangeAmendment(operative)">
        Ändern <span class="badge badge-light"> {{ operative.ChangeAmendmentCount }}</span>
      </button>
      <button class="btn btn-secondary">
        Verschieben <span class="badge badge-light"> {{ operative.MoveAmendmentCount }}</span>
      </button>
    </div>
    <p>{{ operative.Text }} </p>
  </div>
</div>

<!-- Amendment Information Modal -->
<div class="modal-backdrop fade-in" style="opacity: 0.9;" [style.display]="amendmentModalActive ? 'block' : 'none'">
</div>
<div class="modal" [style.display]="amendmentModalActive ? 'block' : 'none'" tabindex="-1" role="dialog">
  <div class="modal-dialog2 bg-white" role="document">
    <div class="modal-content2">
      <div class="modal-header">
        <h5 class="modal-title">Übersicht der Änderungsanträge</h5>
        <button type="button" class="close" (click)="closeAmendmentDetailModal();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Zeit</th>
              <th scope="col">Einbringer</th>
              <th scope="col" *ngIf="amendmentDetailType != 'delete'">Neuer Wert</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let amendment of detailAmendments">
              <th scope="row">{{ amendment.SubmitTime | date:'dd.MM.yyyy HH:mm:ss' }}</th>
              <td>{{ amendment.SubmitterName }}</td>
              <td *ngIf="amendment.type != 'delete'" ><p class="overflow-auto max-height-200">{{ amendment.NewText }}</p></td>
            </tr>
            </table>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeAmendmentDetailModal();">
          Close
        </button>
        <button type="button" class="btn btn-primary">Neuen Erstellen</button>

      </div>
    </div>
  </div>
</div>
