<div class="panel panel-inverse mb-1">
	<div class="panel-heading ui-sortable-handle">
		<h4 class="panel-title">Operativer Abschnitt</h4>
	</div>
</div>

<OperativeParagraphComponent HasChild=true />
<OperativeParagraphComponent />
<OperativeParagraphComponent />

@code {

}
