<div class="card border-0 mb-1" @onmouseenter="() => displayTools = true" @onmouseleave="() => displayTools = false"
	@onclick="() => { if (htmlText.Length == 0 && !isEditing) { isEditing = true;}}">
	<div class="card-body">
		<div class="row">
			@if (isEditing == false)
			{
				<p @onclick="() => isEditing = true" class="card-text">@((MarkupString)htmlText)</p>
			}
			else
			{
				<button class="btn btn-default" @onclick="() => isEditing = false"><i class="fa fa-save"></i> Speichern</button>
				<RadzenHtmlEditor @bind-Value="@htmlText" style="max-height: 300px; width: 100%; margin-bottom: 1rem;">
					<RadzenHtmlEditorUndo />
					<RadzenHtmlEditorRedo />
					<RadzenHtmlEditorSeparator />
					<RadzenHtmlEditorBold />
					<RadzenHtmlEditorItalic />
					<RadzenHtmlEditorUnderline />
					<RadzenHtmlEditorStrikeThrough />
				</RadzenHtmlEditor>
			}

		</div>
		
@*		@if (displayTools)
		{
			<p class="card-text text-gray">Last updated 3 mins ago</p>
			
		}*@
	</div>
</div>

@code {
	private bool displayTools = false;

	private bool isEditing = false;

	private string htmlText = "Präambel Paragraph <br />Mit mehreren Zeilen <br />Anklicken um zu bearbeiten";
}
