
<div class="panel panel-inverse mb-1">
	<div class="panel-heading ui-sortable-handle">
		<h4 class="panel-title">Präambel</h4>
	</div>
</div>

<PreambleParagraphComponent />
<PreambleParagraphComponent />

@code {

}
