<div class="card border-0 mb-1">
	<div class="card-body">
		<h4 class="card-title">Resolutionstitel</h4>
		<p class="card-text">Einbringer:</p>
		<p class="card-text">Unterstützer:</p>
		<p class="card-text">GREMIUM,</p>
		<p class="card-text text-gray">Last updated 3 mins ago</p>
	</div>
</div>
@code {

}
