<div class="preamble-box">
      <p class="paragraph-index">{{ index }}.</p>
      <button type="button" class="btn btn-outline-primary btn-move btn-up">▲</button>
      <button type="button" class="btn btn-outline-primary btn-move btn-down">▼</button>
      <button type="button" class="btn btn-danger btn-delete">X</button>
    
  <div class="form-group pfield">
    <textarea class="form-control" id="preambleTextArea" rows="3" (keyup)="onKey($event)">{{ paragraph.Text }}</textarea>
    
  </div>
</div>



