<ng-template #popContent>
  <button class="btn btn-danger" (click)="p.close();delete()">Löschen</button>
</ng-template>

<app-munity-window *ngIf="!hideNotices" (onClose)="toggleNotices()" title="Notizen"
                   (moveStopped)="moveStopped($event);"
                   [leftVal]="noticeWindowLeft" [topVal]="noticeWindowTop">
  <div style="max-height: 400Px; overflow-y: scroll; overflow-x: hidden">
    <div *ngIf="paragraph.Notices != null && paragraph.Notices.length > 0">
      <app-notice *ngFor="let notice of paragraph.Notices" [notice]="notice"
                  (onDelete)="deleteNotice(notice);" (onRead)="noticeRead(notice)"
                  (onUpdate)="noticeUpdated(notice);"></app-notice>
    </div>
    <p *ngIf="paragraph.Notices == null || paragraph.Notices.length == 0">Keine Kommentare vorhanden</p>
  </div>
  <div class="card-footer">
    <button *ngIf="!showAddComment" (click)="showAddComment = !showAddComment" class="btn btn-outline-dark btn-block">Kommentar verfassen</button>
    <div *ngIf="showAddComment">
      <div class="clearfix">
        <h6 class="float-left">Kommentar schreiben</h6>
        <button type="button" class="close float-right" aria-label="Close" (click)="showAddComment = !showAddComment">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <label>Titel</label>
      <input class="form-control" [(ngModel)]="newComment.Title" />

      <textarea class="form-control" [(ngModel)]="newComment.Text"></textarea>
      <div class="row">
        <span *ngFor="let tag of newComment.Tags" class="badge text-white"
              [class.bg-primary]="tag.Type == 'primary'"
              [class.bg-secondary]="tag.Type == 'secondary'"
              [class.bg-success]="tag.Type == 'success'"
              [class.bg-danger]="tag.Type == 'danger'"
              (dblclick)="removeTag(tag);">{{ tag.Text }}</span>
      </div>
      <div class="col-12">
        <h6>Tags hinzufügen: </h6>
      </div>
      <div class="col-12">
        <div class="row ">
          <!--form-inline align-items-center -->
          <div class="col-4">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="newTag.Type">
              <option class="bg-primary text-white" value="primary">Blau</option>
              <option class="bg-secondary text-white" value="secondary">Grau</option>
              <option class="bg-success text-white" value="success">Grün</option>
              <option class="bg-danger text-white" value="danger">Rot</option>
            </select>
          </div>
          <div class="col-6">
            <input class="form-control" [(ngModel)]="newTag.Text" (keyup.enter)="addTag();" type="text" />
          </div>
          <div class="col-2">
            <button class="btn btn-outline-primary" (click)="addTag();">+</button>
          </div>
        </div>
      </div>

      <button class="btn btn-block btn-primary" (click)="addNotice()">Hinzufügen</button>
    </div>

  </div>
</app-munity-window>

<div class="preamble-box">
  <div class="preamble-title">
    {{ index }}
  </div>

  <button type="button" class="btn-notice btn-warning tooltip-wide" (click)="showNotices($event)" *ngIf="paragraph.Notices != null">
    <span>N</span>
    <span class="badge" *ngIf="paragraph.Notices.length > 0">{{ paragraph.Notices.length }}</span>
  </button>

  <div class="preamble-tools btn-group-vertical">
    <button type="button" class="btn btn-danger" placement="left" [ngbPopover]="popContent" triggers="manual"
            #p="ngbPopover" (click)="p.open()">
      X
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="moveUp()">▲</button>
    <button type="button" class="btn btn-outline-primary" (click)="moveDown()">▼</button>

  </div>


  <div class="form-group preamble-textarea">
    <textarea class="form-control" id="preambleTextArea" rows="3"
              (keyup)="onKey($event)" maxlength="4000">{{ paragraph.Text }}</textarea>

  </div>
</div>
