<div class="row">
    <div class="col-12">
        <h1>Rollenverwaltung</h1>
        <p>Rollen werden dafür benötigt um einen Benutzer mit der Konferenz zu verbinden. Hierbei wird zwischen
            verschiedenen Arten von Rollen unterschieden.
        </p>
        <p>Diese Rollen sind auch als Slots/Posten zu verstehen, auf welche sich Teilnehmende der Konferenz bewerben
            können und diese werden dann mit den entsprechenden Personen besetzt.</p>
        <h3>Team Rollen</h3>
        <p>Bei diesen Rollen handelt es sich um Teilnehmende der Konferenz, welche dem Organisationsteam zuzuordnen
            sind. Diese haben Einsicht in den internen Bereich der Konferenz und können teilweise Änderungen an den
            Einstellungen der Konferenz vornehmen.</p>

        <h3>GeneralsekretärIn</h3>
        <p>Die mitunter wichtigste Rolle auf der Konferenz. Diese ist als eigene Rolle definiert, welche nicht dem Team
            zugeordnet ist, allerdings die volle Einsicht in alle Inhaltlichen Aspekte der Konferenz bekommt.</p>
        <h3>Delegierte(r)</h3>
        <p>Der Delegierte ist die meistvorkommende Art von Teilnehmern. Ein Delegierter vertritt in irgendeiner Form
            einen Staat oder ein Amt auf der Konferenz. Die Rolle eines Delegierten ist an ein Gremium, sowie eine
            Delegation geknüpft. Die Delegation ist in diesem Fall als Gruppe
            zu verstehen. Der Staat den der Delegierte vertritt wird in der Rolle festgelegt. So ist es möglich das
            unterschiedliche Staaten in einer Delegation gebündelt werden können.
        </p>
        <h3>NGO-VertreterIn</h3>
        <p>Sollte es auf der Konferenz auch die Simulation von Delegationen geben, so ist es möglich diese durch die
            Rolle NGO in die Konferenz einzubinden.
            NGO-VereterInnen sind keinem Gremium zugeordnet und können sich auf der Konferenz frei bewegen. Sie befinden
            sich alle im Pool der NGO-VertreterInnen es ist jedoch auch möglich mehrere dieser Rollen in einer Gruppe
            zusammen zu fassen.
        </p>
        <h3>PressevertreterInnen</h3>
        <p>Wenn auf der Konferenz eine Presse simuliert werden soll, ist es ebenfalls möglich hierfür eine Rolle
            anzulegen. Diese verhalten sich ähnlich wie die NGOs. Es kann zwischen den Arten: Print, TV und Online
            Redaktion unterschieden werden.
        </p>
    </div>
</div>