@page "/impressum"

<p><span>Kontaktdaten des Verantwortlichen</span></p>
<p><span>Verantwortlich im Sinne der EU-Datenschutzgrundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist:</span></p>
<p><span>Deutsche Model United Nations (DMUN) e.V.</span></p>
<p><span>Tel.: +49 4343 4929433</span></p>
<p><span>Birkenweg 1, D-24253 Laboe</span></p>
<p><span>E-Mail: </span><span>vorstand@dmun.de</span></p>
<p><span>Name und Kontakt des Datenschutzbeauftragten</span></p>
<p><span>Der Datenschutzbeauftragte des Verantwortlichen ist:</span></p>
<p><span>Gabriel Bock</span></p>
<p><span>E-Mail: </span><span>datenschutz@dmun.de</span></p>
<p><span>Datenverarbeitung bei der Nutzung von MUNity</span></p>
<p><span>Umfang der Datenverarbeitung</span></p>
<p><span>Wenn Sie den Dienst &bdquo;MUNity&ldquo; f&uuml;r die Teilnahme an &ldquo;MUN-SH&ldquo; verwenden, verarbeiten wir von Ihnen folgende Daten:</span></p>
<p><span>Aeuke Peer Conradi<br>Dieckbornstra&szlig;e 12<br>30449 Hannover<br></span><span class="c2"><a class="c7" href="mailto:p.conradi@dmun.de">p.conradi@dmun.de</a></span><span><br><br>Verarbeitete Daten<br>Meeting-Metadaten: Anzeigenamen,Thema, Verbindungsverlauf</span></p>
<p><span>Meeting-Inhaltsdaten: Beitrittsname, eingereichte Antr&auml;ge und weitere Interaktionen welche beim Verwenden der Anwendung anfallen.</span></p>
<p><span>Zwecke &amp; Rechtsgrundlage der Datenverarbeitung</span></p>
<p><span>Die Verarbeitung Ihrer oben genannten personenbezogenen Daten dient dazu, Ihnen &bdquo;MUNity&ldquo; als Tool f&uuml;r die Durchf&uuml;hrung des Projekts &ldquo;MUN-SH 2021&Prime; zur Verf&uuml;gung stellen zu k&ouml;nnen und das genannte Format &uuml;ber &bdquo;MUNity&ldquo; abwickeln zu k&ouml;nnen. Des Weiteren werden die Erhobenen Daten </span></p>
<p><span>Die Daten werden auf Grundlage des Art. 6 Abs. 1 DSGVO verarbeitet. Sie haben jederzeit die M&ouml;glichkeit einer Verarbeitung zu widersprechen. &nbsp;</span></p>
<p><span>Weitere Empf&auml;nger Ihrer personenbezogenen Daten</span></p>
<p><span>Ihre bei der Nutzung von &bdquo;Zoom&ldquo; erhobenen personenbezogenen Daten werden an folgende Empf&auml;nger innerhalb bzw. au&szlig;erhalb von DMUN e.V. weitergegeben:</span></p>
<p><span>Empf&auml;nger innerhalb von DMUN e.V.:</span></p>
<p><span>&bull; Projektleitung, Teilnehmendenbetreuung, Technikteam und Gremienvorsitzende Projekt &ldquo;MUN-SH 2021&Prime;</span></p>
<p><span>Empf&auml;nger au&szlig;erhalb von DMUN e.V.:</span></p>
<p><span>STRATO AG</span></p>
<p><span>Datenverarbeitung au&szlig;erhalb der Europ&auml;ischen Union</span></p>
<p><span>Im Zweifel muss das Eingef&uuml;gt werden! </span></p>
<p><span>Dauer der Speicherung personenbezogener Daten</span></p>
<p><span>Ihre personenbezogenen Daten, die wir im Rahmen Ihrer Verwendung von &bdquo;MUNity&ldquo; verarbeiten, werden grunds&auml;tzlich gel&ouml;scht, sobald sie nicht mehr f&uuml;r die Zwecke, f&uuml;r die sie erhoben wurden, ben&ouml;tigt werden. F&uuml;r MUN-SH 2021 bedeutet das, dass wir Ihre personenbezogenen Daten, die wir im Rahmen Ihrer Verwendung von &bdquo;MUNity&ldquo; verarbeiten, nach der Konferenz vollst&auml;ndig l&ouml;schen, sp&auml;testens bis zum 31.10.2021.</span></p>
<p><span>Weitere technische Hinweise</span></p>
<p><span>Durch die Nutzung des Webdienstes MUNity kann es dazu kommen, dass der tempor&auml;re, lokale Speicher, der von Ihrem Webbrowser genutzt wird, sehr stark beansprucht wird.</span></p>
<p><span>MUNity ben&ouml;tigt einen aktuellen Browser, der Webassembly-sprachen unterst&uuml;tzt (z.B. Firefox, Chrome, Safari, Edge). </span></p>
<p><span>. Ihre Rechte als Betroffene*r</span></p>
<p><span>Sie haben jederzeit ein Recht auf Auskunft &uuml;ber Ihre von DMUN verarbeiteten personenbezogenen Daten (Art. 15 DSGVO), ein Recht auf Berichtigung Ihrer personenbezogenen Daten (Art. 16 DSGVO), ein Recht auf L&ouml;schung (Art. 17 DSGVO), ein Recht auf Einschr&auml;nkung der Verarbeitung (Art. 18 DSGVO), ein Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DSGVO) und, soweit die Verarbeitung auf Ihrer &nbsp;Einwilligung beruht, ein Recht auf Widerruf Ihrer Einwilligung (Art. 7 Abs. 3 DSGVO).</span></p>
<p><span>Au&szlig;erdem haben Sie das Recht, Beschwerde bei einer Aufsichtsbeh&ouml;rde einzulegen (Art. 77 DSGVO). Dies kann zum Beispiel bei dem f&uuml;r DMUN zust&auml;ndigen Unabh&auml;ngigen Landeszentrum f&uuml;r Datenschutz &nbsp;Schleswig-Holstein, Postfach 71 16, 24171 Kiel, Tel.: 0431/988-12 00, E-Mail: </span><span>mail@datenschutzzentrum.de</span><span>&nbsp;geschehen.</span></p>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>

@code {

}
