@inherits LayoutComponentBase

@if (maintananceMode)
{
    <div class="row col-12 m-0 p-0 d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row m-0 p-0 d-flex justify-content-center align-items-center">
            <h1 class="col-12 m-0 p-0 d-flex justify-content-center mb-3">Wir bauen um!</h1>
            <p class="col-12 m-0 p-0 d-flex justify-content-center mb-3">Diese Version ist keine lauffähige Version des Projekts. Es können Fehler auftreten. Wenn dies
                passieren
                sollte, gebt uns gern bescheid.</p>
            <div class="col-12 m-0 p-0 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" @onclick="() => maintananceMode = false">Verstanden,
                    weiter</button>
            </div>
        </div>
    </div>
}
else
{
    <Navbar></Navbar>
    @Body
}


@code {
    private Boolean maintananceMode = true;
}