@page "/impressum";

<p><span>Kontaktdaten des Verantwortlichen</span></p>
<!--!--><p><span>Verantwortlich im Sinne der EU-Datenschutzgrundverordnung (DSGVO) und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist:</span></p>
<!--!--><p><span>Deutsche Model United Nations (DMUN) e.V.</span></p>
<!--!--><p><span>Tel.: +49 4343 4929433</span></p>
<!--!--><p><span>Birkenweg 1, D-24253 Laboe</span></p>
<!--!--><p><span>E-Mail: </span><span>vorstand@dmun.de</span></p>
<!--!--><p><span>Name und Kontakt des Datenschutzbeauftragten</span></p>
<!--!--><p><span>Der Datenschutzbeauftragte des Verantwortlichen ist:</span></p>
<!--!--><p><span>Gabriel Bock</span></p>
<!--!--><p><span>E-Mail: </span><span>datenschutz@dmun.de</span></p>
<!--!--><p><span>Datenverarbeitung bei der Nutzung von MUNity</span></p>
<!--!--><p><span>Umfang der Datenverarbeitung</span></p>
<!--!--><p><span>Wenn Sie den Dienst „MUNity“ für die Teilnahme an “MUNBW“ verwenden, verarbeiten wir von Ihnen folgende Daten:</span></p>
<!--!--><p><span>Aeuke Peer Conradi<br>Dieckbornstraße 12<br>30449 Hannover<br></span><span class="c2"><a class="c7" href="mailto:p.conradi@dmun.de">p.conradi@dmun.de</a></span><span><br><br>Verarbeitete Daten<br>Meeting-Metadaten: Anzeigenamen,Thema, Verbindungsverlauf</span></p>
<!--!--><p><span>Meeting-Inhaltsdaten: Beitrittsname, eingereichte Anträge und weitere Interaktionen welche beim Verwenden der Anwendung anfallen.</span></p>
<!--!--><p><span>Zwecke &amp; Rechtsgrundlage der Datenverarbeitung</span></p>
<!--!--><p><span>Die Verarbeitung Ihrer oben genannten personenbezogenen Daten dient dazu, Ihnen „MUNity“ als Tool für die Durchführung des Projekts “MUNBW 2021″ zur Verfügung stellen zu können und das genannte Format über „MUNity“ abwickeln zu können. Des Weiteren werden die Erhobenen Daten </span></p>
<!--!--><p><span>Die Daten werden auf Grundlage des Art. 6 Abs. 1 DSGVO verarbeitet. Sie haben jederzeit die Möglichkeit einer Verarbeitung zu widersprechen. &nbsp;</span></p>
<!--!--><p><span>Weitere Empfänger Ihrer personenbezogenen Daten</span></p>
<!--!--><p><span>Ihre bei der Nutzung von „Zoom“ erhobenen personenbezogenen Daten werden an folgende Empfänger innerhalb bzw. außerhalb von DMUN e.V. weitergegeben:</span></p>
<!--!--><p><span>Empfänger innerhalb von DMUN e.V.:</span></p>
<!--!--><p><span>• Projektleitung, Teilnehmendenbetreuung, Technikteam und Gremienvorsitzende Projekt “MUNBW 2021″</span></p>
<!--!--><p><span>Empfänger außerhalb von DMUN e.V.:</span></p>
<!--!--><p><span>STRATO AG</span></p>
<!--!--><p><span>Dauer der Speicherung personenbezogener Daten</span></p>
<!--!--><p><span>Ihre personenbezogenen Daten, die wir im Rahmen Ihrer Verwendung von „MUNity“ verarbeiten, werden grundsätzlich gelöscht, sobald sie nicht mehr für die Zwecke, für die sie erhoben wurden, benötigt werden. Für MUNBW 2021 bedeutet das, dass wir Ihre personenbezogenen Daten, die wir im Rahmen Ihrer Verwendung von „MUNity“ verarbeiten, nach der Konferenz vollständig löschen, spätestens bis zum 31.10.2021.</span></p>
<!--!--><p><span>Weitere technische Hinweise</span></p>
<!--!--><p><span>Durch die Nutzung des Webdienstes MUNity kann es dazu kommen, dass der temporäre, lokale Speicher, der von Ihrem Webbrowser genutzt wird, sehr stark beansprucht wird.</span></p>
<!--!--><p><span>MUNity benötigt einen aktuellen Browser, der Webassembly-sprachen unterstützt (z.B. Firefox, Chrome, Safari, Edge). </span></p>
<!--!--><p><span>. Ihre Rechte als Betroffene*r</span></p>
<!--!--><p><span>Sie haben jederzeit ein Recht auf Auskunft über Ihre von DMUN verarbeiteten personenbezogenen Daten (Art. 15 DSGVO), ein Recht auf Berichtigung Ihrer personenbezogenen Daten (Art. 16 DSGVO), ein Recht auf Löschung (Art. 17 DSGVO), ein Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO), ein Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DSGVO) und, soweit die Verarbeitung auf Ihrer &nbsp;Einwilligung beruht, ein Recht auf Widerruf Ihrer Einwilligung (Art. 7 Abs. 3 DSGVO).</span></p>
<!--!--><p><span>Außerdem haben Sie das Recht, Beschwerde bei einer Aufsichtsbehörde einzulegen (Art. 77 DSGVO). Dies kann zum Beispiel bei dem für DMUN zuständigen Unabhängigen Landeszentrum für Datenschutz &nbsp;Schleswig-Holstein, Postfach 71 16, 24171 Kiel, Tel.: 0431/988-12 00, E-Mail: </span><span>mail@datenschutzzentrum.de</span><span>&nbsp;geschehen.</span></p>