<app-munity-box title="Eigenschaften" toolbox="true" expand="false">
  <form>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" #inputName id="inputName" aria-describedby="emailHelp"
             (keyup.enter)="onEnterTitle(inputName.value)" [value]="resolution.Topic" placeholder="Name der Resolution">
      <small id="emailHelp" class="form-text text-muted">
        Dieser Name wird als Titel für die Resolution
        verwendet.
      </small>
    </div>
    <!-- Einbringer -->
    <div class="form-group">
      <label for="inputSubmitter">Einbringer</label>
      <input class="form-control" id="inputSubmitter" #inputSubmitter placeholder="Delegationsname" [value]="resolution.SubmitterName"
             (keyup.enter)="onEnterSubmitter(inputSubmitter.value)" />
    </div>
    <!-- Beschlussfassendes Gremium -->
    <div class="form-group">
      <label for="resolultyCommittee">Beschlussfassendes Gremium</label>
      <input class="form-control" id="resolutlyCommittee" #inputCommittee placeholder="Gremiumname" [value]="resolution.CommitteeName"
             (keyup.enter)="onEnterCommittee(inputCommittee.value)" />
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="display">
      <label class="form-check-label" for="display">Online Ansicht erlauben</label>
      <small id="emailHelp" class="form-text text-muted">
        Die ID für die Ansicht lautet: <a href="http://www.google.com/"
                                          target="_blank">1234567</a>
      </small>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="allowAmendments">
      <label class="form-check-label" for="allowAmendments">Online Einreichen von Änderungsanträgen erlauben</label>
    </div>

  </form>
</app-munity-box>
