<div class="row">
    <div class="col-lg-6 col-xm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Delegationen
            </div>
            <div class="card-body">
                <button class="btn btn-block btn-primary">Delegationen aktivieren</button>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Nicht-Regierungs-Organisationen (NGOs)
            </div>
            <div class="card-body">
                <button class="btn btn-block btn-primary">NGOs aktivieren</button>
            </div>
        </div>
    </div>


</div>

<div class="row m-t-10">
    <div class="col-lg-6 col-xm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Presse
            </div>
            <div class="card-body">
                <button class="btn btn-block btn-primary">Presse aktivieren</button>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Besucher
            </div>
            <div class="card-body">
                <button class="btn btn-block btn-primary">Besucher aktivieren</button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 m-t-10">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Delegierte(r) Rollen
            </div>
            <div class="card-body">
                <p class="card-text">Delegierte vertreten einen Staat in einem Gremium.</p>
                <p class="card-text">Es ist ebenfalls möglich diese einer Delegation zuzurodnen, dabei müssen nicht alle
                    Rollen in der Delegation den gleichen Staat vertreten. Es ist zum Beispiel möglich eine Delegation
                    "Präsidenten" zu erstellen und dort mehrere Rollen von Präsidenten unterschiedlicher Staaten zu
                    speichern.
                </p>
                <table class="table">
                    <tr>
                        <th>Rollenname</th>
                        <th>Staat</th>
                        <th>Delegation</th>
                        <th>Gremium</th>
                        <th>Ändern</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Abgeordneter Deutschland <fa-icon [icon]="faEdit"></fa-icon>
                            </td>
                            <td>Deutschland</td>
                            <td>Deutschland</td>
                            <td>Generalversammlung</td>
                            <td><a href="#">bearbeiten</a></td>
                        </tr>
                        <tr>
                            <td>Präsident der vereinigten Staaten</td>
                            <td>Vereinigte Staaten</td>
                            <td>Vereinigte Staaten</td>
                            <td>Generalversammlung</td>
                            <td><a href="#">bearbeiten</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>