.text-grey {
    color: #b6c2c9!important;
}

.f-w-600 {
    font-weight: 600!important;
}

.f-s-8 {
    font-size: 8px!important;
}

.f-s-18 {
    font-size: 18px!important;
}

.mr-2, .mx-2 {
    margin-right: 8px!important;
}

.bg-dark-darker {
    background-color: #0a0a0a;
}

.text-red {
    color: #ff5b57!important;
}

.text-warning {
    color: #f59c1a!important;
}

.text-lime {
    color: #90ca4b!important;
}