<!-- Main Dashboard Row-->
<div class="row">
    <!-- begin col-6 -->
    <div class="col-xl-6">
        <!-- begin card -->
        <div class="card border-0 bg-dark text-white mb-3 overflow-hidden">
            <!-- begin card-body -->
            <div class="card-body">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-7 -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- begin title -->
                        <div class="mb-3 text-grey">
                            <b>Teilnehmende</b>
                        </div>
                        <!-- end title -->
                        <!-- begin total-sales -->
                        <div class="d-flex mb-1">
                            <h2 class="mb-0"><span>367</span><small>/412</small></h2>
                        </div>
                        <!-- end total-sales -->
                        <!-- begin percentage -->
                        <div class="mb-3 text-grey">
                            <fa-icon [icon]="faCaretUp"></fa-icon><span>5</span>%
                            Zuwachs
                        </div>
                        <!-- end percentage -->
                        <hr class="bg-white-transparent-2">
                        <!-- begin row -->
                        <div class="row text-truncate">
                            <!-- begin col-6 -->
                            <div class="col-6">
                                <div class="f-s-12 text-grey">Teammitglieder und Posten</div>
                                <div class="f-s-18 m-b-5 f-w-600 p-b-1">61 von
                                    61
                                </div>
                                <div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
                                    <div class="progress-bar progress-bar-striped rounded-right bg-primary"
                                        data-animation="width" data-value="100%" style="width: 100%;"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            <!-- begin col-6 -->
                            <div class="col-6">
                                <div class="f-s-12 text-grey">Teilnehmende</div>
                                <div class="f-s-18 m-b-5 f-w-600 p-b-1"><span data-animation="number"
                                        data-value="41.20">280 von 351</span></div>
                                <div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
                                    <div class="progress-bar progress-bar-striped rounded-right bg-info"
                                        data-animation="width" data-value="80%" style="width: 80%;"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end col-7 -->
                    <!-- begin col-5 -->
                    <div class="col-xl-5 col-lg-4 align-items-center d-flex justify-content-center">
                        <img src="https://static.thenounproject.com/png/1874165-200.png" height="150px"
                            class="d-none d-lg-block">
                    </div>
                    <!-- end col-5 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
    <div class="col-xl-6">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-sm-6">
                <!-- begin card -->
                <div class="card border-0 bg-dark text-white text-truncate mb-3">
                    <!-- begin card-body -->
                    <div class="card-body">
                        <!-- begin title -->
                        <div class="mb-3 text-grey">
                            <b class="mb-3">Gremien</b>
                        </div>
                        <!-- end title -->
                        <!-- begin conversion-rate -->
                        <div class="d-flex align-items-center mb-1">
                            <h2 class="text-white mb-0"><span>4</span>
                            </h2>
                        </div>
                        <!-- end conversion-rate -->
                        <!-- begin percentage -->
                        <div class="mb-4 text-grey">
                            <i class="fa fa-caret-down"></i> <span>25</span>
                            Delegationen
                        </div>
                        <!-- end percentage -->
                        <h5>Top 3 Gremien</h5>
                        <!-- begin info-row -->
                        <div class="d-flex mb-2">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faCircle" class="text-red f-s-8 mr-2"></fa-icon>
                                Generalversammlung
                            </div>
                            <div class="d-flex align-items-center ml-auto">
                                <div class="text-grey f-s-11"><span>offline</span>
                                </div>
                                <div class="width-50 text-right pl-2 f-w-600"><span>18</span> Del.</div>
                            </div>
                        </div>
                        <!-- end info-row -->
                        <!-- begin info-row -->
                        <div class="d-flex mb-2">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faCircle" class="text-warning f-s-8 mr-2"></fa-icon>
                                Reached checkout
                            </div>
                            <div class="d-flex align-items-center ml-auto">
                                <div class="text-grey f-s-11"><i class="fa fa-caret-up"></i><span>Anw. check</span>
                                </div>
                                <div class="width-50 pl-2 f-w-600"><span>12</span> Del.</div>
                            </div>
                        </div>
                        <!-- end info-row -->
                        <!-- begin info-row -->
                        <div class="d-flex">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faCircle" class="text-lime f-s-8 mr-2"></fa-icon>
                                Sessions converted
                            </div>
                            <div class="d-flex align-items-center ml-auto">
                                <div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span>Debatte</span></div>
                                <div class="width-50 text-right pl-2 f-w-600"><span>14</span> Del.</div>
                            </div>
                        </div>
                        <!-- end info-row -->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-sm-6">
                <!-- begin card -->
                <div class="card border-0 bg-dark text-white text-truncate mb-3">
                    <!-- begin card-body -->
                    <div class="card-body">
                        <!-- begin title -->
                        <div class="mb-3 text-grey">
                            <b class="mb-3">Aufgaben</b>
                        </div>
                        <!-- end title -->
                        <!-- begin store-session -->
                        <div class="d-flex align-items-center mb-1">
                            <h2 class="text-white mb-0"><span>400</span></h2>
                        </div>
                        <!-- end store-session -->
                        <!-- begin percentage -->
                        <div class="mb-4 text-grey">
                            <i class="fa fa-caret-up"></i> <span data-animation="number" data-value="9.5">90</span>%
                            Erledigte Aufgaben
                        </div>
                        <!-- end percentage -->
                        <h5>Top Aufgaben</h5>
                        <!-- begin info-row -->
                        <div class="d-flex mb-2">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faCircle" class="text-warning f-s-8 mr-2"></fa-icon>
                                Gremientexte verfassen
                            </div>
                            <div class="d-flex align-items-center ml-auto">
                                <div class="text-grey f-s-11"><span>67,8</span>%</div>
                                <div class="width-50 text-right pl-2 f-w-600"><span>Details</span></div>
                            </div>
                        </div>
                        <!-- end info-row -->
                        <!-- begin info-row -->

                        <div class="d-flex mb-2">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faCircle" class="text-red f-s-8 mr-2"></fa-icon>
                                Ball Organisation
                            </div>
                            <div class="d-flex align-items-center ml-auto">
                                <div class="text-grey f-s-11"><span>0</span>%</div>
                                <div class="width-50 text-right pl-2 f-w-600"><span>Details</span></div>
                            </div>
                        </div>
                        <!-- end info-row -->
                        <!-- begin info-row -->
                        <div class="d-flex">
                            <div class="d-flex align-items-center">
                                <fa-icon [icon]="faCircle" class="text-warning f-s-8 mr-2"></fa-icon>
                                Teilnehmendenwerbung
                            </div>
                            <div class="d-flex align-items-center ml-auto">
                                <div class="text-grey f-s-11"><span>92</span>%</div>
                                <div class="width-50 text-right pl-2 f-w-600"><span>Details</span></div>
                            </div>
                        </div>
                        <!-- end info-row -->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end col-6 -->
</div>

<div class="row">
    <div class="col-6">
        <app-conference-todo-list-widget></app-conference-todo-list-widget>
    </div>
</div>