<!-- Navigate to id test /resa/edit/test to show a test resolution without anything -->
@page "/resa/edit/{id}"
@using MUNity.Models.Resolution;
@using MUNity.Extensions.ResolutionExtensions;
@using MUNityClient.Extensions;
@using MUNityClient.Shared.Resa;
@inject MUNityClient.Services.ResolutionService resolutionService;

@if (this.ViewModel?.Resolution != null)
{

    @*var corruptionResult = MUNity.Troubleshooting.Resa.ResolutionTroubleshooting.IsResolutionCorrupted(this._viewModel.Resolution);
        if (corruptionResult.isCorrupted)
        {
            <div class="row col-12 d-flex justify-content-center my-5 align-items-center">
                <i class="fas fa-exclamation-circle fa-2x text-danger mr-2"></i>
                <h3 class="m-0">Achtung die Resolution ist beschädigt.</h3>
                <p>@corruptionResult.log</p>
                <button @onclick="() => RepairResolution()" class="btn aqua-gradient">Jetzt reparieren</button>
            </div>
        }*@
    @* <div class="row">                -> in den Resolutions Header verschoben
        <div class="alert">
            <MUNityClient.Shared.Resa.SendResolutionToSimulation />
        </div>
    </div> *@
    

    <MUNityClient.Shared.Resa.ResolutionSyncInformation ViewModel="this.ViewModel" />
    <div class="row p-0 m-0 d-flex justify-content-center">
        <div class="row col-lg-8 col-xl-6 p-2 paragraphs">
            <div class="accordion col-12" id="accordion">
                <div class="card">
                    @* Head header *@
                    <div role="button" class="card-header row m-0" type="button" data-toggle="collapse"
                         data-target="#collapseHead" aria-expanded="true" aria-controls="collapseHead">
                        <h3 class="m-0">
                            Kopf
                            <i class="fas fa-angle-down ml-2 expansionIcon"></i>
                        </h3>
                    </div>
                    @* Head content *@
                    <div id="collapseHead" class="collapse show" aria-labelledby="headingHead" data-parent="#accordion">
                        <MUNityClient.Shared.Resa.ResolutionHeader ResolutionViewModel="@this.ViewModel"></MUNityClient.Shared.Resa.ResolutionHeader>
                    </div>
                    @* Preamble header *@
                    <div class="row col-12 m-0 p-0">
                        <div role="button" class="col card-header collapsed row m-0 justify-content-between align-items-center" type="button" data-toggle="collapse"
                             data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h3 class="col m-0 p-0">
                                Präambel
                                <i class="fas fa-angle-down ml-2 expansionIcon"></i>
                            </h3>
                        </div>
                        <button class="col-1 m-0 btn btn-dark-green d-flex justify-content-center align-items-center custom-plus-button" @onclick="() => this.ViewModel.AddPreambleParagraph()" title="Paragraph hinzufügen">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    @* Preamble content *@
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        @* Preamble *@
                        <div class="card-body paragraph-body row p-0 m-0">
                            @foreach (var preambleParagraph in this.ViewModel.Resolution.Preamble.Paragraphs)
                            {
                                <PreambleParagraphEditor Paragraph="preambleParagraph" ResolutionViewModel="this.ViewModel" />
                            }
                        </div>
                    </div>
                    @* Operative head *@
                    <div class="row col-12 m-0 p-0">
                        <div role="button" class="col card-header collapsed row m-0 justify-content-between align-items-center custom-plus-button" type="button" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h3 class="col m-0 p-0">
                                Operativer Abschnitt
                                <i class="fas fa-angle-down ml-2 expansionIcon"></i>
                            </h3>
                        </div>
                        <button class="col-1 m-0 btn btn-dark-green d-flex justify-content-center align-items-center" title="Paragraph hinzufügen"
                                @onclick="() => this.ViewModel.Resolution.OperativeSection.CreateOperativeParagraph()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    @* Operative content *@
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        @* Operative section *@
                        <div class="card-body paragraph-body row p-0 m-0">
                            @foreach (var operative in this.ViewModel.Resolution.OperativeSection.Paragraphs)
                            {
                                @if (!operative.IsVirtual)
                                {
                                    <OperativeParagraphEditor ResolutionViewModel="this.ViewModel" Paragraph="operative" />
                                }
                                else
                                {
                                    <OperativeParagraphEditorGhost ResolutionViewModel="this.ViewModel" Paragraph="operative" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Amendments -->
        <div class="col-lg-4 p-3 p-lg-1">
            <div class="card m-1">
                <div class="card-header row m-0 p-0">
                    <h3 class="col my-3 pr-0">Änderungsanträge</h3>
                    <button class="btn btn-block btn-dark-green col-2 d-flex justify-content-center align-items-center" title="Neuer Änderungsantrag"
                            @onclick="() => AddAmendmentModal.Open()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-body ammendment-body row p-0 m-0">
                    @foreach (var amendment in this.ViewModel.OrderedAmendments)
                    {
                        <MUNityClient.Shared.Resa.AmendmentCard Amendment="amendment" Interaction="AmendmentInteracted" Resolution="this.ViewModel.Resolution" />
                    }
                </div>
            </div>
        </div>
    </div>

    @* Preamble Paragraph Delete Modal *@
    @*<MUNityClient.Shared.Bootstrap.Modal Title="Löschen bestätigen" @ref="DeletePreambleParagraphModal"
                                             OnSubmitCallback="removePreambleParagraph">
            Bist du sicher, dass du den Paragraphen löschen möchtest?
        </MUNityClient.Shared.Bootstrap.Modal>*@

    @* Operative Paragraph Delete Modal *@
    @*<MUNityClient.Shared.Bootstrap.Modal Title="Löschen bestätigen" @ref="DeleteOperativeParagraphModal"
                                             OnSubmitCallback="removeOperativeParagraph">
            Bist du sicher, dass du den Paragraphen löschen möchtest?
        </MUNityClient.Shared.Bootstrap.Modal>*@

    <MUNityClient.Shared.Bootstrap.Modal Title="Neuer Änderungsantrag" @ref="AddAmendmentModal"
                                         OnSubmitCallback="NewAmendment">
        <MUNityClient.Shared.Resa.NewAmendmentForm Resolution="this.ViewModel.Resolution" @ref="NewAmendmentForm">
        </MUNityClient.Shared.Resa.NewAmendmentForm>
    </MUNityClient.Shared.Bootstrap.Modal>
}
else
{
    if (!fetchingResolutionErrored)
    {

        <MUNityClient.Shared.Bootstrap.Spinner DisplayText="Resolution wird geladen, einen Moment..." />
    }
    else
    {
        <div class="row d-flex w-100 justify-content-center mt-5">
            <div class="d-flex w-100 justify-content-center">
                <i class="fas fa-6x fa-exclamation-circle text-danger"></i>
            </div>
            <div class="d-flex justify-content-center mt-5 text-center">
                Beim Laden der Resolution ist ein Fehler aufgetreten! <br> Bitte vergewissere dich, dass die angeforderte
                Resolution existiert!
            </div>
        </div>
    }
}

<style>
    .expansionIcon {
        transition: all .3s;
        transform: rotate(0);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .collapsed > h3 > i {
        transform: rotate(-90);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .ammendment-body {
        overflow-y: auto;
        max-height: 70vh;
    }

    .paragraph-body {
        overflow-y: auto;
        max-height: 55vh;
    }

    .custom-plus-button {
        border-radius: 0px;
    }
</style>