@page "/resa/read/{id}"
@using MUNity.Models.Resolution;
@inject MUNityClient.Services.IResolutionService resolutionService;

@if (this.ResolutionViewModel != null)
{
    <div class="row">
        <div class="col-12">
            <MUNityClient.Shared.Resa.ResolutionReader ViewModel="this.ResolutionViewModel">
            </MUNityClient.Shared.Resa.ResolutionReader>
        </div>
    </div>
}
else
{
    if (SyncMode == SyncModes.Loading)
    {
        <MUNityClient.Shared.Bootstrap.Spinner DisplayText="Lade Resolution, einen Moment bitte..." />
    }
}
