@page "/"
@layout MUNityCore.Shared.NoLayout

<link href="/css/one-page-parallax/app.min.cs" />

<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-brand -->
				<a href="index.html" class="navbar-brand">
					<span class="brand-logo"></span>
					<span class="brand-text">
						<span class="text-primary">MUNity</span>
					</span>
				</a>
				<!-- end navbar-brand -->
				<!-- begin navbar-toggle -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- end navbar-header -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item dropdown">
							<a class="nav-link active" href="#home" data-click="scroll-to-target" data-scroll-target="#home">Start <b class="caret"></b></a>
							<div class="dropdown-menu dropdown-menu-left animated fadeInDown">
								<a class="dropdown-item" href="index.html">Page with Transparent Header</a>
								<a class="dropdown-item" href="index_inverse_header.html">Page with Inverse Header</a>
								<a class="dropdown-item" href="index_default_header.html">Page with White Header</a>
								<a class="dropdown-item" href="extra_element.html">Extra Element</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="#about" data-click="scroll-to-target">ABOUT</a></li>
						<li class="nav-item"><a class="nav-link" href="#team" data-click="scroll-to-target">TEAM</a></li>
						<li class="nav-item"><a class="nav-link" href="#service" data-click="scroll-to-target">SERVICES</a></li>
						<li class="nav-item"><a class="nav-link" href="#work" data-click="scroll-to-target">WORK</a></li>
						<li class="nav-item"><a class="nav-link" href="#client" data-click="scroll-to-target">CLIENT</a></li>
						<li class="nav-item"><a class="nav-link" href="#pricing" data-click="scroll-to-target">PRICING</a></li>
						<li class="nav-item"><a class="nav-link" href="#contact" data-click="scroll-to-target">CONTACT</a></li>
					</ul>
				</div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->
		
		<!-- begin #home -->
		<div id="home" class="content has-bg home">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(../assets/img/bg/bg-home.jpg);" 
				data-paroller="true" 
				data-paroller-factor="0.5"
				data-paroller-factor-xs="0.25">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container home-content">
				<h1>Willkommen bei MUNity</h1>
				<h3>Kostenfreie Plattform für Model United Nations Konferenzen</h3>
				<p>
					Wir stellen euch kostenfreie Open-Source-Tools für eure Model United Nations Konferenzen.
				</p>
				<a href="#" class="btn btn-theme btn-primary">Zur Registrierung</a> <a href="#" class="btn btn-theme btn-outline-white">GitHub</a><br />
				<br />
				<!-- or <a href="#">subscribe</a> newsletter -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #home -->
		
		<!-- begin #about -->
		<div id="about" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">Über MUNity</h2>
				<p class="content-desc">
					MUNity ist eine kostenlose online plattform für Model United Nations Konferenzen entwickelt für dmun e.V.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<!-- begin about -->
						<div class="about">
							<h3 class="mb-3">Geschichte</h3>
							<p>
								Gestartet hat das Projekt mit der Software ChairPro, welche Voristzenden eines Gremiums
								diverse Tools für die Arbeit im Gremium geboten hat. Hierzu gehört ein Resolutionseditor,
								eine Komponente um Redelisten zu führen, sowie Tools zum Feststellen der Anwesenheit und 
								zum durchführen von Abstimmungen.
							</p>
							<p>
								2020 und 2021 wurde die Software umgebaut um auch Online-Konferenzen zu unterstützen. In 
								dieser neuen Version können Delegierte und der Vorsitz gemeinsam an Resolutionen arbeiten,
								es können Anträge gestellt werden und interaktive Redelisten geführt werden.
							</p>
						</div>
						<!-- end about -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<!-- <div class="col-lg-4"> -->
						<!-- <h3 class="mb-3">Our Philosophy</h3> -->
						<!-- <div class="about-author"> -->
							<!-- <div class="quote"> -->
								<!-- <i class="fa fa-quote-left"></i> -->
								<!-- <h3>We work harder,<br /><span>to let our user keep simple</span></h3> -->
								<!-- <i class="fa fa-quote-right"></i> -->
							<!-- </div> -->
							<!-- <div class="author"> -->
								<!-- <div class="image"> -->
									<!-- <img src="../assets/img/user/user-1.jpg" alt="Sean Ngu" /> -->
								<!-- </div> -->
								<!-- <div class="info"> -->
									<!-- Sean Ngu -->
									<!-- <small>Front End Developer</small> -->
								<!-- </div> -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<!-- <div class="col-lg-4"> -->
						<!-- <h3 class="mb-3">Our Experience</h3> -->
						<!-- <div class="skills"> -->
							<!-- <div class="skills-name">Front End</div> -->
							<!-- <div class="progress mb-3"> -->
								<!-- <div class="progress-bar progress-bar-striped progress-bar-animated bg-theme" style="width: 95%"> -->
									<!-- <span class="progress-number">95%</span> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <div class="skills-name">Programming</div> -->
							<!-- <div class="progress mb-3"> -->
								<!-- <div class="progress-bar progress-bar-striped progress-bar-animated bg-theme" style="width: 90%"> -->
									<!-- <span class="progress-number">90%</span> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <div class="skills-name">Database Design</div> -->
							<!-- <div class="progress mb-3"> -->
								<!-- <div class="progress-bar progress-bar-striped progress-bar-animated bg-theme" style="width: 85%"> -->
									<!-- <span class="progress-number">85%</span> -->
								<!-- </div> -->
							<!-- </div> -->
							<!-- <div class="skills-name">Wordpress</div> -->
							<!-- <div class="progress mb-3"> -->
								<!-- <div class="progress-bar progress-bar-striped progress-bar-animated bg-theme" style="width: 80%"> -->
									<!-- <span class="progress-number">80%</span> -->
								<!-- </div> -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
					<!-- end col-4 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #about -->
		
		<!-- begin #milestone -->
		<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(../assets/img/bg/bg-milestone.jpg)"
				data-paroller="true" 
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01"></div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container">
				<!-- begin row -->
				<div class="row">
					<!-- begin col-3 -->
					<div class="col-lg-3 milestone-col">
						<div class="milestone">
							<div class="number" data-animation="true" data-animation-type="number" data-final-number="1292">1,292</div>
							<div class="title">Konferenzen</div>
						</div>
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 milestone-col">
						<div class="milestone">
							<div class="number" data-animation="true" data-animation-type="number" data-final-number="9039">9,039</div>
							<div class="title">Gremien</div>
						</div>
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 milestone-col">
						<div class="milestone">
							<div class="number" data-animation="true" data-animation-type="number" data-final-number="89291">89,291</div>
							<div class="title">Resolutionen</div>
						</div>
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 milestone-col">
						<div class="milestone">
							<div class="number" data-animation="true" data-animation-type="number" data-final-number="129">129</div>
							<div class="title">Benutzer</div>
						</div>
					</div>
					<!-- end col-3 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #milestone -->
		
		<!-- begin #team -->
		<div id="team" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Das Team</h2>
				<p class="content-desc">
					MUNity wird ehrenamtlich und Open-Source entwickelt.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-lg-4">
						<!-- begin team -->
						<div class="team">
							<div class="image" data-animation="true" data-animation-type="flipInX">
								<img src="../assets/img/user/user-1.jpg" alt="Ryan Teller" />
							</div>
							<div class="info">
								<h3 class="name">Aeuke Peer Conradi</h3>
								<div class="title text-primary">Gründer</div>
								<p>Peer hat das Projekt Ende 2019 gestartet und ist hauptsächlich für die Entwicklung verantwortlich.</p>
								<div class="social">
									<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
								</div>
							</div>
						</div>
						<!-- end team -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4">

						<div class="team">
							<div class="image" data-animation="true" data-animation-type="flipInX">
								<img src="../assets/img/user/user-2.jpg" alt="Jonny Cash" />
							</div>
							<div class="info">
								<h3 class="name">Felix Thomsen</h3>
								<div class="title text-primary">Frontend Entwickler</div>
								<p>Felix unterstützt das Projekt durch seine Kentniss in Frontend Entwicklung.</p>
								<div class="social">
									<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #team -->
		
		<!-- begin #quote -->
		<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(../assets/img/bg/bg-quote.jpg)"
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInLeft">
				<!-- begin row -->
				<div class="row">
					<!-- begin col-12 -->
					<div class="col-lg-12 quote">
						<i class="fa fa-quote-left"></i> Passion leads to design, design leads to performance, <br />
						performance leads to <span class="text-primary">success</span>!  
						<i class="fa fa-quote-right"></i>
						<small>Sean Themes, Developer Teams in Malaysia</small>
					</div>
					<!-- end col-12 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #quote -->
		
		<!-- beign #service -->
		<div id="service" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Funktionsumfang</h2>
				<p class="content-desc">
					MUNity bietet einen großen Funktionsumfang für jede Art von Model United Nations Konferenz von MUN im Klassenzimmer bis hin zu einer Konferenz mit mehreren hundert Teilnehmenden.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
							<div class="info">
								<h4 class="title">Verwaltung</h4>
								<p class="desc">Von der Planung der Gremien bis zur Sitzverteilung unterstützt MUNity mit hilfreichen Funktionen das Projektteam.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
							<div class="info">
								<h4 class="title">Online Gremien</h4>
								<p class="desc">MUNity bietet mit den Simulationen die Möglichkeit die Arbeit im Gremium teilweise oder komplett online durchzuführen.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>
							<div class="info">
								<h4 class="title">Resolution</h4>
								<p class="desc">Vom Entwurf bis zur verabschiedeten Resolution. Mit dem Resolutioneditor können mehrere Benutzer gleichzeitig an einem Dokument arbeiten. Zusätzlich können Änderungsanträge eingereicht und verwaltet werden. </p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-code"></i></div>
							<div class="info">
								<h4 class="title">Redelisten</h4>
								<p class="desc">Den Überblick über Redezeiten behalten mit dem integrierten Redelisten-Tool. Dieses stoppt nicht nur die Zeiten, sondern kann auch eine Statistik ausgeben.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-shopping-cart"></i></div>
							<div class="info">
								<h4 class="title">Online Shop</h4>
								<p class="desc">Quisque gravida metus in sollicitudin feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>
							<div class="info">
								<h4 class="title">Free Support</h4>
								<p class="desc">Integer consectetur, massa id mattis tincidunt, sapien erat malesuada turpis, nec vehicula lacus felis nec libero. Fusce non lorem nisl.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #about -->
		
		<!-- beign #action-box -->
		<div id="action-box" class="content has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(../assets/img/bg/bg-action.jpg)"
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInRight">
				<!-- begin row -->
				<div class="row action-box">
					<!-- begin col-9 -->
					<div class="col-lg-9">
						<div class="icon-large text-primary">
							<i class="fa fa-binoculars"></i>
						</div>
						<h3>CHECK OUT OUR ADMIN THEME!</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus magna eu lacinia eleifend.
						</p>
					</div>
					<!-- end col-9 -->
					<!-- begin col-3 -->
					<div class="col-lg-3">
						<a href="#" class="btn btn-outline-white btn-theme btn-block">Live Preview</a>
					</div>
					<!-- end col-3 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #action-box -->
		
		<!-- begin #work -->
		<div id="work" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">Our Latest Work</h2>
				<p class="content-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
					sed bibendum turpis luctus eget
				</p>
				<!-- begin row -->
				<div class="row row-space-10">
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-1.jpg" alt="Work 1" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Aliquam molestie</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-2.jpg" alt="Work 2" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Quisque at pulvinar lacus</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-3.jpg" alt="Work 3" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Vestibulum et erat ornare</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-4.jpg" alt="Work 4" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Sed vitae mollis magna</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-5.jpg" alt="Work 5" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Suspendisse at mattis odio</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-6.jpg" alt="Work 6" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Aliquam vitae commodo diam</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-7.jpg" alt="Work 7" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Phasellus eu vehicula lorem</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-lg-3 col-md-4">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../assets/img/work/work-img-8.jpg" alt="Work 8" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Morbi bibendum pellentesque</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #work -->
		
		<!-- begin #client -->
		<div id="client" class="content has-bg bg-green" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(../assets/img/bg/bg-client.jpg)"
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInUp">
				<h2 class="content-title">Our Client Testimonials</h2>
				<!-- begin carousel -->
				<div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
					<!-- begin carousel-inner -->
					<div class="carousel-inner text-center">
						<!-- begin item -->
						<div class="carousel-item active">
							<blockquote>
								<i class="fa fa-quote-left"></i>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra, nulla ut interdum fringilla,<br />
								urna massa cursus lectus, eget rutrum lectus neque non ex.
								<i class="fa fa-quote-right"></i>
							</blockquote>
							<div class="name"> — <span class="text-primary">Mark Doe</span>, Designer</div>
						</div>
						<!-- end item -->
						<!-- begin item -->
						<div class="carousel-item">
							<blockquote>
								<i class="fa fa-quote-left"></i>
								Donec cursus ligula at ante vulputate laoreet. Nulla egestas sit amet lorem non bibendum.<br />
								Nulla eget risus velit. Pellentesque tincidunt velit vitae tincidunt finibus.
								<i class="fa fa-quote-right"></i>
							</blockquote>
							<div class="name"> — <span class="text-primary">Joe Smith</span>, Developer</div>
						</div>
						<!-- end item -->
						<!-- begin item -->
						<div class="carousel-item">
							<blockquote>
								<i class="fa fa-quote-left"></i>
								Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan elit vestibulum<br />
								fringilla. In sollicitudin ac ligula eget vestibulum.
								<i class="fa fa-quote-right"></i>
							</blockquote>
							<div class="name"> — <span class="text-primary">Linda Adams</span>, Programmer</div>
						</div>
						<!-- end item -->
					</div>
					<!-- end carousel-inner -->
					<!-- begin carousel-indicators -->
					<ol class="carousel-indicators m-b-0">
						<li data-target="#testimonials" data-slide-to="0" class="active"></li>
						<li data-target="#testimonials" data-slide-to="1" class=""></li>
						<li data-target="#testimonials" data-slide-to="2" class=""></li>
					</ol>
					<!-- end carousel-indicators -->
				</div>
				<!-- end carousel -->
			</div>
			<!-- end containter -->
		</div>
		<!-- end #client -->
		
		<!-- begin #pricing -->
		<div id="pricing" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Our Price</h2>
				<p class="content-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
					sed bibendum turpis luctus eget
				</p>
				<!-- begin pricing-table -->
				<ul class="pricing-table pricing-col-4">
					<li data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Starter</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">FREE</span>
								</div>
							</div>
							<ul class="features">
								<li>1GB Storage</li>
								<li>2 Clients</li>
								<li>5 Active Projects</li>
								<li>5 Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-inverse btn-theme btn-block">Buy Now</a>
							</div>
						</div>
					</li>
					<li data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Basic</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">$9.99</span>
									<span class="price-tenure">per month</span>
								</div>
							</div>
							<ul class="features">
								<li>2GB Storage</li>
								<li>5 Clients</li>
								<li>10 Active Projects</li>
								<li>10 Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-inverse btn-theme btn-block">Buy Now</a>
							</div>
						</div>
					</li>
					<li class="highlight" data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Premium</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">$19.99</span>
									<span class="price-tenure">per month</span>
								</div>
							</div>
							<ul class="features">
								<li>5GB Storage</li>
								<li>10 Clients</li>
								<li>20 Active Projects</li>
								<li>20 Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-primary btn-theme btn-block">Buy Now</a>
							</div>
						</div>
					</li>
					<li data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Lifetime</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">$999</span>
								</div>
							</div>
							<ul class="features">
								<li>Unlimited Storage</li>
								<li>Unlimited Clients</li>
								<li>Unlimited Projects</li>
								<li>Unlimited Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-inverse btn-theme btn-block">Buy Now</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- end container -->
		</div>
		<!-- end #pricing -->
		
		<!-- begin #contact -->
		<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Contact Us</h2>
				<p class="content-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
					sed bibendum turpis luctus eget
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-6 -->
					<div class="col-lg-6" data-animation="true" data-animation-type="fadeInLeft">
						<h3>If you have a project you would like to discuss, get in touch with us.</h3>
						<p>
							Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus.
						</p>
						<p>
							<strong>SeanTheme Studio, Inc</strong><br />
							795 Folsom Ave, Suite 600<br />
							San Francisco, CA 94107<br />
							P: (123) 456-7890<br />
						</p>
						<p>
							<span class="phone">+11 (0) 123 456 78</span><br />
							<a href="mailto:hello@emailaddress.com" class="text-primary">seanthemes@support.com</a>
						</p>
					</div>
					<!-- end col-6 -->
					<!-- begin col-6 -->
					<div class="col-lg-6 form-col" data-animation="true" data-animation-type="fadeInRight">
						<form class="form-horizontal">
							<div class="form-group row m-b-15">
								<label class="col-form-label col-lg-3 text-lg-right">Name <span class="text-primary">*</span></label>
								<div class="col-lg-9">
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-form-label col-lg-3 text-lg-right">Email <span class="text-primary">*</span></label>
								<div class="col-lg-9">
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-form-label col-lg-3 text-lg-right">Message <span class="text-primary">*</span></label>
								<div class="col-lg-9">
									<textarea class="form-control" rows="10"></textarea>
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-form-label col-lg-3 text-lg-right"></label>
								<div class="col-lg-9 text-left">
									<button type="submit" class="btn btn-theme btn-primary btn-block">Send Message</button>
								</div>
							</div>
						</form>
					</div>
					<!-- end col-6 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #contact -->
		
		<!-- begin #footer -->
		<div id="footer" class="footer">
			<div class="container">
				<div class="footer-brand">
					<div class="footer-brand-logo"></div>
					Color Admin
				</div>
				<p>
					&copy; Copyright Color Admin 2019 <br />
					An admin & front end theme with serious impact. Created by <a href="#">SeanTheme</a>
				</p>
				<p class="social-list">
					<a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
					<a href="#"><i class="fab fa-instagram fa-fw"></i></a>
					<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
					<a href="#"><i class="fab fa-google-plus-g fa-fw"></i></a>
					<a href="#"><i class="fab fa-dribbble fa-fw"></i></a>
				</p>
			</div>
		</div>
		<!-- end #footer -->
		
		<!-- begin theme-panel -->
		<div class="theme-panel">
			<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
			<div class="theme-panel-content">
				<ul class="theme-list clearfix">
					<li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="../assets/css/one-page-parallax/theme/red.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="../assets/css/one-page-parallax/theme/pink.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Pink" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="../assets/css/one-page-parallax/theme/orange.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="../assets/css/one-page-parallax/theme/yellow.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Yellow" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="../assets/css/one-page-parallax/theme/lime.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Lime" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="../assets/css/one-page-parallax/theme/green.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Green" data-original-title="" title="">&nbsp;</a></li>
					<li class="active"><a href="javascript:;" class="bg-teal" data-theme-file="../assets/css/one-page-parallax/theme/teal.min.css" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-aqua" data-theme="aqua" data-theme-file="../assets/css/one-page-parallax/theme/aqua.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Aqua" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="../assets/css/one-page-parallax/theme/blue.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="../assets/css/one-page-parallax/theme/purple.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="../assets/css/one-page-parallax/theme/indigo.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Indigo" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="../assets/css/one-page-parallax/theme/black.min.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black" data-original-title="" title="">&nbsp;</a></li>
				</ul>
			</div>
		</div>
		<!-- end theme-panel -->
	</div>
	<!-- end #page-container -->
	
	