<div class="row">
  <div class="card w-100">
      <div class="col">
        <p>[INDEX].</p>
      </div>
      <div class="col">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Move Up</button>
          <button type="button" class="btn btn-secondary">Move Down</button>
          <button type="button" class="btn btn-danger">Löschen</button>
        </div>
    </div>
    
    <div class="card-body">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>



