.sidebar {
  width: 200px;
  position: fixed;
  top: 55Px;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
}

.c-content {
  margin-left: 200px;
  padding: 20px 30px;
  min-height: 100hv;
  background: #b6c2c9;
}
