<div id="header" class="app-header">
    <!-- BEGIN navbar-header -->
    <div class="navbar-header">
        <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>MUNity</b> Web-Demo</a>
        <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- END navbar-header -->
    <!-- BEGIN header-nav -->
    <div class="navbar-nav">
        <div class="navbar-item navbar-form">
            <form action="" method="POST" name="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter keyword">
                    <button type="submit" class="btn btn-search"><i class="oi oi-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
        <AuthorizeView>
            <Authorized>
                <HeaderUserSection />

            </Authorized>
            <NotAuthorized>
                <a href="/Identity/Account/Login" class="btn">Login</a>
                <a href="/Identity/Account/Register" class="btn ms-15px me-15px">Registrieren</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <!-- END header-nav -->
</div>

@code {
    
}
