@page "/virtualcommittees"

@layout MainLayoutNoSidebar

<h1 class="page-header">Virtuelle Gremien</h1>

<p>Virtuelle Gremien sind Räume welche öffentlich angelegt werden können um in diesen im Gremium zusammen zu Arbeiten.</p>

<a href="/createvirtualcommittee" class="btn btn-primary">Neuen Raum erstellen</a>

@code {

}
