@page "/oc/{CommitteeId}"
@page "/oc/{CommitteeId}/session/{SessionId}"
@page "/oc/{CommitteeId}/resolution/{ResolutionId}"
@page "/oc/{CommitteeId}/visit/{VisitCommitteeId}"
@page "/oc/{CommitteeId}/los/{ManageListOfSpeakersId}"
@page "/oc/{CommitteeId}/managevote/{ManageVotingId}"
@page "/oc/{CommitteeId}/vote/{VoteId}"

@using MUNity.BlazorServer.BServices
@using MUNity.Database.Models.Conference
@using MUNity.Database.Models.Conference.Roles

@layout Shared.MobileGameLayout
@inject MunityContext dbContext
@inject BServices.VirtualCommiteeParticipationService virtualCommitteeParticipation

@*
@inject Blazored.LocalStorage.ILocalStorageService localStorageService

@inject BServices.VirtualCommitteeExchangeService vcExchangeService
@inject Services.UserConferenceAuthService conferenceAuthService

@inject ILogger<VirtualCommitteeSessionPage> logger*@

@if (isInited)
{
    <MUNity.BlazorServer.Components.VirtualCommittee.VirtualCommitteeBootstrap CommitteeId=@CommitteeId>
        
        @if (!string.IsNullOrEmpty(SessionId))
        {
            
                
            <MUNity.BlazorServer.Components.VirtualCommittee.PropsitionsComponent SessionId=@SessionId />
        }
        else if (!string.IsNullOrEmpty(ResolutionId))
        {
            <MUNity.BlazorServer.Components.Resolution.ResolutionEditorComponent ResolutionId=@ResolutionId />
        }
        else if (!string.IsNullOrEmpty(VisitCommitteeId))
        {
            <MUNity.BlazorServer.Components.VirtualCommittee.VisitCommitteeComponent />
        }
        else if (!string.IsNullOrEmpty(ManageListOfSpeakersId))
        {
            <MUNity.BlazorServer.Components.ListOfSpeakers.LoSManagerComponent ListOfSpeakersId=@ManageListOfSpeakersId />
        }
        else if (!string.IsNullOrEmpty(ManageVotingId))
        {
            <AuthorizeView>
                <Authorized>
                    <MUNity.BlazorServer.Components.VirtualCommittee.ManageVotingComponent VotingId=@ManageVotingId />
                </Authorized>
            </AuthorizeView>
            
            <MUNity.BlazorServer.Components.VirtualCommittee.VoteComponent VoteId=@ManageVotingId />
        }
        else if (!string.IsNullOrEmpty(VoteId))
        {
            <MUNity.BlazorServer.Components.VirtualCommittee.VoteComponent VoteId=@VoteId />
        }
        else {
            <MUNity.BlazorServer.Components.VirtualCommittee.VirtualCommitteeDashboardComponent />
        }

        
    </MUNity.BlazorServer.Components.VirtualCommittee.VirtualCommitteeBootstrap>

    
}
else
{
    <p>Seite wird iniziirt</p>
    
}



<style>
    @@media (max-width: 993px)
    {
        .hidden-md
        {
            display: none;
            visibility: collapse;
        }
        
    }
</style>


@code {
    [Parameter] public string CommitteeId { get; set; }

    [Parameter] public string SessionId { get; set; }

    [Parameter] public string ResolutionId { get; set; }

    [Parameter] public string VisitCommitteeId { get; set; }

    [Parameter] public string ManageListOfSpeakersId { get; set; }

    [Parameter] public string ManageVotingId { get; set; }

    [Parameter] public string VoteId { get; set; }

    [CascadingParameter] public Task<AuthenticationState> AuthStateTask { get; set; }

    private bool isInited;

    private bool isTeamMember;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var authState = await AuthStateTask;
        if (authState != null)
        {
            isTeamMember = authState.User.Identity.IsAuthenticated;
        }
        isInited = true;
        virtualCommitteeParticipation.IsTeamMember = isTeamMember;
    }
}
