@page "/session/{SessionId}"
@page "/session/{SessionId}/top/{TopId}"
@page "/session/{SessionId}/resolution/{ResolutionId}"
@page "/session/{SessionId}/visit/{VisitCommitteeId}"

@layout Shared.MobileGameLayout

<MUNity.BlazorServer.Components.VirtualCommittee.VirtualCommitteTopMenu SessionId=@SessionId />

<div class="d-flex flex-row justify-content-between bg-dark-800">
    <div class="d-flex align-items-center">
            <h1 class="fs-1 text-blue-400">Gremienname</h1>
        
    </div>
    <div class="mt-5px">
        <MUNity.BlazorServer.Components.ListOfSpeakers.ListOfSpeakersHeaderComponent />
    </div>
    <div class="d-flex align-items-center">
        <button class="btn btn-primary align-middle" style="margin-right: 15px">Test</button>
    </div>
</div>



<div class="row mt-5">

    <div class="col-3 animate__animated animate__bounceInLeft">
        <MUNity.BlazorServer.Components.VirtualCommittee.VCUsersComponent />
    </div>
    <div class="col-9">
        @if (!string.IsNullOrEmpty(TopId))
        {
            <MUNity.BlazorServer.Components.VirtualCommittee.PropsitionsComponent />
        }
        else if (!string.IsNullOrEmpty(ResolutionId))
        {
            <MUNity.BlazorServer.Components.Resolution.ResolutionEditorComponent />
        }
        else if (!string.IsNullOrEmpty(VisitCommitteeId))
        {
            <MUNity.BlazorServer.Components.VirtualCommittee.VisitCommitteeComponent />
        }
        else {
            <h1>Willkommen</h1>
            <p>Dies ist lediglich eine Demo für ein virtuelles Gremium, weshalb Änderungen ggf. nicht korrekt gespeichert werden.</p>
            <p>Mit dieser Seite sollen lediglich Komponenten getestet und gezeigt werden, wie die oben zu sehende Redeliste.</p>
            <p>Im Menü oben können verschiedene weitere Funktionen wie der Tagesordnungspunkt, Resolutionen und Abstimmungen angesehen werden.</p>
            <p>Ebenfalls sind Tools angedacht, welche das Zusammenarbeiten zwischen den verschiedenen Gremien erleichtern soll.</p>
            <MUNity.BlazorServer.Components.VirtualCommittee.ProcedureComponent />
        }
    </div>
    
</div>


@code {
    [Parameter] public string SessionId { get; set; } = "demo";

    [Parameter] public string TopId { get; set; }

    [Parameter] public string ResolutionId { get; set; }

    [Parameter] public string VisitCommitteeId { get; set; }

}
