<AuthorizeView Roles="Admin">
    <Authorized>
        <li class="has-sub @subClass">
            <a @onclick="() => isExpanded = !isExpanded"
               style="cursor: pointer;">
                <b class="caret"></b>
                <i class="fa fa-th-large"></i>
                <span>Administration</span>
            </a>
            <ul class="sub-menu" style="@expandedStyle">
                <li><a href="/admin/resolutions">Resolutionen</a></li>
                <li><a href="/admin/simulations">Simulationen</a></li>
                <li><a href="/admin/users">Benutzer*innen</a></li>
                <li><a href="/admin/roles">Rollen</a></li>
            </ul>
        </li>

        <div class="menu-item has-sub active">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-th-large"></i>
				</div>
				<div class="menu-text">Dashboard</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item active">
					<a href="index.html" class="menu-link"><div class="menu-text">Dashboard v1</div></a>
				</div>
				<div class="menu-item">
					<a href="index_v2.html" class="menu-link"><div class="menu-text">Dashboard v2</div></a>
				</div>
				<div class="menu-item">
					<a href="index_v3.html" class="menu-link"><div class="menu-text">Dashboard v3</div></a>
				</div>
			</div>
		</div>
    </Authorized>
</AuthorizeView>

@code 
{
    private bool isExpanded = false;

    private string expandedStyle => isExpanded ? "display: block;" : null;

    private string subClass => isExpanded ? "expand" : "closed";
}