@inject Services.SimulationService simulationService;

<AuthorizeView Roles="Admin, Moderator">
    <Authorized>
        <li class="has-sub @subClass">
            <a @onclick="() => isExpanded = !isExpanded"
               style="cursor: pointer;">
                <b class="caret"></b>
                <i class="fa fa-th-large"></i>
                <span>Sekretariat</span>
            </a>
            <ul class="sub-menu" style="@expandedStyle">
                <li><a href="/sek/dashboard">Übersicht</a></li>
                @foreach (var reference in _references)
                {
                    <li><a href="/sek/sim/@reference.SimulationId">@reference.Name</a></li>
                }

            </ul>
        </li>
    </Authorized>
</AuthorizeView>

@code {
    private bool isExpanded = false;

    private string expandedStyle => isExpanded ? "display: block;" : null;

    private string subClass => isExpanded ? "expand" : "closed";

    private List<MUNity.Schema.Simulation.SimulationReference> _references { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _references = this.simulationService.GetSimulationReferences();
    }
}
