@inject MUNityCore.DataHandlers.EntityFramework.MunityContext munityContext;


<div class="menu-item">
	<a href="/simulations" class="menu-link">
		<div class="menu-icon">
			<i class="fa fa-calendar"></i> 
		</div>
		<div class="menu-text">Simulationen</div>
		<div class="menu-badge">@munityContext.Simulations.Count()</div>
	</a>
</div>