@inherits LayoutComponentBase

@inject NavigationManager navManager
@inject MunityContext dbContext

@*@((mainViewService.ShowSidebar) ? "page-sidebar-toggled" : null)*@
<div id="app" class="app app-header-fixed app-content-full-height app-with-top-menu app-sidebar-fixed app-without-sidebar">
    <MUNity.BlazorServer.Shared.Header.HeaderComponent />
    <MUNity.BlazorServer.Shared.TopMenu.TopMenuComponent />
    <div id="content" class="app-content">
        
        @Body

        @if (conferenceId != null)
        {
            var footer = dbContext.ConferenceWebsiteFooters.FirstOrDefault(n => n.ConferenceId == conferenceId);
            if (footer != null)
            {
                <div id="footer" class="app-footer mx-0 px-0">
			        <p>@((MarkupString)footer.FooterContent)</p>
		        </div>
            }
        }

        

        

        
    </div>
</div>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

@code {
    private string conferenceId;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        navManager.LocationChanged += delegate { ParseConferenceId(); };
        ParseConferenceId();
    }

    private void ParseConferenceId()
    {
        if (navManager.Uri.Count(n => n == '/') >= 5)
        {
            conferenceId = navManager.Uri.Split("/")[5];
        }
        else
        {
            conferenceId = null;
        }
        this.InvokeAsync(StateHasChanged);
    }
}