@inherits LayoutComponentBase



@*@((mainViewService.ShowSidebar) ? "page-sidebar-toggled" : null)*@
<div id="app" class="app app-header-fixed app-content-full-height">
    <MUNity.BlazorServer.Shared.Header.HeaderComponent />
    <div id="content" class="p-20px">
        @Body
    </div>
</div>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />