<div class="center" style="height: 100vh;display: grid;place-items: center;">
    <div class="card mx-5">
        <div class="card-body">
            <img class="mb-3" src="https://www.dmun.de/wp-content/uploads/2016/03/dmunlogo.png" alt="Logo">
            <p class="card-text">404 - Diese Seite konnte leider nicht gefunden werden.<br> Sollte es sich dabei um
                einen
                Fehler handeln, wende dich bitte an einen Admin.</p>
            <NavLink href="/">
                <button class="btn btn-primary">Zurück zur Hauptseite</button>
            </NavLink>
        </div>
    </div>
</div>