@page "/"


<div class="row col-12 m-0 pt-2 pb-4">
            <h2 class="col-12">MUNity</h2>
            <h4 class="col-12">MUN-SH 2021 Preview Edition</h4>
            <p class="col-12">Willkommen bei MUNity einer kostenlosen Open Source Plattform für Model United Nations Konferenzen.</p>
</div>

<div class="row col-12 m-0 pt-2 pb-4">
    <small>Version: 06.03.2021 - May the Forced Reload not be with you</small>
    <small>Att: 2</small>
</div>

<div class="row col-12 m-0 pt-2 pb-4">
    <a href="/impressum">Impressum</a>
</div>
@* 

TODOs:
    - Ein Video als einführung in MUNity auf die Startseite bringen
    - Hauptkomponenten von MUNity bewegen: Redelisten, Resolutionseditor, Virtuelle Gremien

*@