@page "/"


<div class="row col-12 m-0 pt-2 pb-4">
            <h2 class="col-12">MUNity</h2>
            <h4 class="col-12">MUN-SH 2021 Preview Edition</h4>
            <p class="col-12">Willkommen bei MUNity einer kostenlosen Open Source Plattform für Model United Nations Konferenzen.</p>
</div>

<div class="row col-12 m-0 pt-2 pb-4">
    <button class="btn btn-primary btn-block" onclick="location.reload(true);">Updates laden!</button>
    <small>Version: 26.02.2021 - 1 (Insulaner)</small>
</div>
@* 

TODOs:
    - Ein Video als einführung in MUNity auf die Startseite bringen
    - Hauptkomponenten von MUNity bewegen: Redelisten, Resolutionseditor, Virtuelle Gremien

*@