<!-- BEGIN section -->
<div class="section section-hero">
	<!-- BEGIN section-bg -->
	<div class="section-bg with-cover" style="background-image: url(/img/home/img-1.jpg);"></div>
	<div class="section-bg bg-gray-800-transparent-5"></div>
	<!-- END section-bg -->
			
	<!-- BEGIN container -->
	<div class="container position-relative">
		<!-- BEGIN section-hero-content -->
		<div class="section-hero-content">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-8 -->
				<div class="col-lg-8 col-lg-10">
					<!-- BEGIN hero-title-desc -->
					<h1 class="hero-title mb-3 mt-5 pt-md-5">
						MUNity
					</h1>
					<div class="fs-18px text-white-transparent-8">
						Free Open-Source Software for Model United Nations Conferences.
					</div>
					<!-- END hero-title-desc -->
							
					<!-- BEGIN row -->
					<div class="row text-white mt-4 mb-5 pb-5">
						<!-- BEGIN col-4 -->
						<div class="col-lg-4 mb-3 mb-lg-0">
							<div class="d-flex align-items-center">
								<div class="h1 text-white-transparent-3 me-3"><i class="bi bi-download"></i></div>
								<div>
									<div class="fw-bold mb-1 h3">GitHub</div>
									<div class="fw-bold text-white-transparent-8">Check out our repository</div>
								</div>
							</div>
						</div>
						<!-- END col-4 -->
						<!-- BEGIN col-4 -->
						<div class="col-lg-4">
							<div class="d-flex align-items-center">
								<div class="h1 text-white-transparent-3 me-3"><i class="bi bi-bootstrap"></i></div>
								<div>
									<div class="fw-bold mb-1 h3">1.4</div>
									<div class="fw-bold text-white-transparent-8">Current Version</div>
								</div>
							</div>
						</div>
						<!-- END col-4 -->
					</div>
					<!-- END row -->
							
					<a href="#" class="hero-btn fw-bold mb-n5"><i class="fa fa-arrow-right"></i> Learn About the project</a>
				</div>
				<!-- END col-8 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END section-hero-content -->
	</div>
	<!-- END container -->
</div>
<!-- END section -->

@code {

}
