<div class="row">
    <div class="col-12">
        <h3>Willkommen [NAME]</h3>
    </div>
    <div class="col-12">
        <p>Hier ist deine aktuelle Übersicht.</p>
    </div>

</div>
<!-- Panels -->
<div class="row">
    <p>Platz für Nachrichten und Meldungen der Website zum Profil und wichtige Informationen</p>
</div>

<div class="row">
    <p>Boxen für: Nachrichten, Aufgaben, Termine, Vorschläge (Konferenzen die Werben)</p>
</div>

<div class="row">

    <div class="col-12">
        <p>Platz für die Konferenzboxen</p>
    </div>
    <div class="col-12">
        <app-conference-box></app-conference-box>
    </div>

</div>