<!-- BEGIN section -->
<div class="section">
	<!-- BEGIN container -->
	<div class="container">
		<!-- BEGIN section-title -->
		<div class="pt-lg-5 pb-lg-3 text-center">
			<div class="display-6 fw-bolder mb-3 d-flex align-items-center justify-content-center">
				MUNity Project
			</div>
			<p class="fs-18px mb-5">We support your Model United Nations conferences<span class="d-none d-lg-inline"><br /></span>by giving you a free set of tools that you will find nowere else.</p>
					
			@*<div class="mb-2 fw-bold text-gray-500">built on top of</div>
			<div class="text-gray-500 text-center mb-5">
				<i class="fab fa-bootstrap fa-2x fa-fw"></i>
				<i class="fab fa-node-js fa-2x  fa-fw"></i>
				<i class="fab fa-vuejs fa-2x  fa-fw"></i>
				<i class="fab fa-angular fa-2x  fa-fw"></i>
				<i class="fab fa-react fa-2x  fa-fw"></i>
			</div>*@
		</div>
		<!-- END section-title -->
				
		<!-- BEGIN section-subtitle -->
		<h4 class="section-subtitle">Main Features</h4>
		<!-- BEGIN section-subtitle -->
		<!-- BEGIN row -->
		<div class="row gx-lg-5">
			<!-- BEGIN col-4 -->
			<div class="col-lg-4">
				<!-- BEGIN news -->
				<div class="news">
					<div class="news-media">
						<div class="news-media-img" style="background-image: url(../assets/img/corporate/img-2.jpg);"></div>
					</div>
					<div class="news-content">
						<div class="news-label"><span class="">Web Development</span></div>
						<h2 class="news-title">Accelerate development without extra added costs</h2>
						<p class="news-date">December 9, 2021</p>
					</div>
				</div>
				<!-- END news -->
				<!-- BEGIN news -->
				<div class="news">
					<div class="news-media">
						<div class="news-media-img" style="background-image: url(../assets/img/corporate/img-3.jpg);"></div>
					</div>
					<div class="news-content">
						<div class="news-label"><span class="bg-indigo-200 text-indigo-800">Native Apps</span></div>
						<h2 class="news-title">Multiple frontend framework fit your needs</h2>
						<p class="news-date">December 10, 2021</p>
					</div>
				</div>
				<!-- END news -->
			</div>
			<!-- END col-4 -->
			<!-- BEGIN col-8 -->
			<div class="col-lg-8">
				<!-- BEGIN news -->
				<div class="news">
					<div class="news-media">
						<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-4.jpg);"></div>
					</div>
					<div class="news-content">
						<div class="news-label"><span class="bg-primary-200 text-primary-800">SEO Ranking</span></div>
						<h2 class="news-title">Boost your web traffic with smart routing and seo optimised html code.</h2>
						<p class="news-date">December 20, 2021</p>
					</div>
				</div>
				<!-- END news -->
			</div>
			<!-- END col-8 -->
		</div>
		<!-- END row -->
	</div>
	<!-- END container -->
</div>
<!-- END section -->