@using MUNity.Models.ListOfSpeakers;
@inject MUNityClient.Services.ListOfSpeakerService listOfSpeakerService;

@if (ViewModel?.SourceList != null)
{
    <div class="row col-12 m-0 p-1 mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <LoSReaderHeader Mode="LoSReaderHeader.ReaderHeaderModes.Speaker" ViewModel="@ViewModel" />
                </div>
                <div class="card-body">
                    <h4>Redeliste</h4>
                    @if (ViewModel.SourceList.Speakers.Any())
                    {
                        <ul class="list-group">
                            @foreach (var speaker in ViewModel.SourceList.Speakers)
                            {
                                
                            <li class="list-group-item">
                                @if (!string.IsNullOrEmpty(speaker.Iso))
                                {
                                    <img src="/img/flags/small/@(speaker.Iso).png" />
                                }
                                else
                                {
                                    <img src="/img/flags/small/un.png" />
                                }
                                @speaker.Name
                            </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Niemand auf der Redeliste</p>
                    }
                    @if(ViewModel.SourceList.ListClosed)
                    {
                        <p class="text-danger">Liste geschlossen.</p>
                    }
                </div>
            </div>
        </div>
    </div>

    @* Fragen und Kurzbemerkungen *@
    <div class="row col-12 m-0 p-1">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <LoSReaderHeader Mode="LoSReaderHeader.ReaderHeaderModes.Question" ViewModel="@ViewModel" />
                </div>
                <div class="card-body">
                    <h4>Warteliste Fragen und Kurzbemerkungen</h4>
                    @if (ViewModel.SourceList.Questions.Any())
                    {
                        <ul class="list-group">
                            @foreach (var speaker in ViewModel.SourceList.Questions)
                            {
                                <li class="list-group-item">@speaker.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Niemand auf der Warteliste</p>
                    }
                    @if(ViewModel.SourceList.ListClosed)
                    {
                        <p class="text-danger">Liste geschlossen.</p>
                    }
                </div>
            </div>
        </div>
    </div>
}

