<h3>Munity-Box</h3>
<div class="row">
    <div class="col-6">
        <app-munity-box title="Feste Toolbox">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-6">
        <app-munity-box title="Tools Toolbox" toolbox="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <app-munity-box title="Tools Toolbox" toolbox="true" closeable="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <app-munity-box title="Primary Toolbox" color="primary">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Secondary Toolbox" color="secondary">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Success Toolbox" color="success">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Danger Toolbox" color="danger">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Warning Toolbox" color="warning">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Info Toolbox" color="info">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Light Toolbox" color="light">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Dark Toolbox" color="dark">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <app-munity-box title="Primary Toolbox" color="primary" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Secondary Toolbox" color="secondary" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Success Toolbox" color="success" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Danger Toolbox" color="danger" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Warning Toolbox" color="warning" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Info Toolbox" color="info" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Light Toolbox" color="light" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
    <div class="col-3">
        <app-munity-box title="Dark Toolbox" color="dark" outlined="true">
            <p>Inhalt</p>
        </app-munity-box>
    </div>
</div>
<h3>
    Resolutions Editor
</h3>
<div class="row">
    <div class="col-12">
        <app-editor [resolution]="reso"></app-editor>
    </div>
</div>
<h3> Resolution View</h3>
<div class="row">
    <div class="col-12">
        <app-res-view [resolution]="reso"></app-res-view>
    </div>
</div>