<div class="card shadow border-0 mb-5">
    <div class="card-body p-4">
        <div class="mb-3 w-50px h-50px rounded-3 bg-indigo text-white d-flex align-items-center justify-content-center position-relative">
            <i class="@IconName fs-28px"></i>
            @if (!string.IsNullOrEmpty(BadgeText))
            {
                <span class="badge position-absolute mt-n5 me-n5 bg-indigo-700 rounded-1">@BadgeText</span>
            }

        </div>
        <h4>@Title</h4>
        <p class="fw-bold text-gray-600 mb-0">
            @Content
        </p>
        <a href="@NavLink" class="stretched-link"></a>
    </div>
</div>

@code {
    [Parameter] public string IconName { get; set; }

    [Parameter] public string BadgeText { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public string Content { get; set; }

    [Parameter] public string NavLink { get; set; }
}
