@page "/"

<h1>Hallo MUNity.</h1>

<h3>Schön, dass du wieder da bist!</h3>

<MUNity.BlazorServer.Shared.Elements.WidgetBox Title="Demo">
    <p>Das hier ist nur eine Demo!</p>
</MUNity.BlazorServer.Shared.Elements.WidgetBox>
