<h1 id="tableLabel">Konferenzen</h1>

<p>Hier eine Auflistung aller erstellten Konferenzen</p>
<div *ngIf="!conferences">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <p>Gib mir einen Moment, ich bereite alles für dich vor.</p>
</div>


<p *ngIf="conferences"><em> {{ conferences.length }} Konferenzen geladen</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="conferences">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>FullName</th>
      <th>Anzahl Gremien</th>
      <th>Bearbeiten</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conference of conferences">
      <td>{{ conference.id }}</td>
      <td>{{ conference.name }}</td>
      <td>{{ conference.fullName }}</td>
      <td>{{ conference.committees.length }}</td>
      <td>
        <button class="btn btn-primary btn-sm">Bearbeiten</button>
        <button class="btn btn-danger btn-sm">Entfernen</button>
        <button class="btn btn-default btn-sm" (click)="rename(conference.id);">Rename to Rofl</button>
      </td>
    </tr>
  </tbody>
