<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!conferences"><em>Loading...</em></p>

<p *ngIf="conferences"><em> {{ conferences.length }} Konferenzen geladen</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="conferences">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>FullName</th>
      <th>Anzahl Gremien</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conference of conferences">
      <td>{{ conference.id }}</td>
      <td>{{ conference.name }}</td>
      <td>{{ conference.fullName }}</td>
      <td>{{ conference.committees.length }}</td>
    </tr>
  </tbody>
