@page "/tools"
@layout MUNityCore.Shared.Layouts.HomeLayout

<div class="section">
    <div class="container text-center">
        <div class="display-5 fw-bolder mb-2">MUNity Toolset</div>
        <div class="fs-20px fw-bold text-gray-600">This tools are available and free to use now! <span class="d-lg-inline d-none"><br /></span>Check them out, but remember that this is the Free Demo Service.</div>
    </div>


    <div class="section pt-0 mt-20px">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row">
                <div class="col-lg-4">
                    <ToolCard IconName="fa fa-file" 
                              Title="Resolution Editor" 
                              Content="Online Software to write and manage resolutions and amendments" NavLink="/" />
                </div>
                <div class="col-lg-4">
                    <ToolCard IconName="fa fa-user"
                              Title="List of Speakers"
                              Content="Free Tool to manage a list of speakers with seperatet lists and timers for speakers and comments." NavLink="/" />
                </div>
                
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>

    <div class="container text-center">
        <div class="display-5 fw-bolder mb-2">Under Development</div>
        <div class="fs-20px fw-bold text-gray-600">This tools will be available soon. <span class="d-lg-inline d-none"><br /></span>Stay tuned!</div>
    </div>
</div>

@code {

}
