<div class="amendment-box">
  <!-- TODO: Den Background abhängig von der Art des Antrags machen -->
  <div class="box-top text-white" [class.bg-warning]="amendment.Type === 'delete'" [class.bg-primary]="amendment.Type === 'change'"
       [class.bg-secondary]="amendment.Type === 'move'">
    <b *ngIf="amendment.Type === 'delete'" class="box-title">{{ paragraph.Path }} Streichen</b>
    <b *ngIf="amendment.Type === 'change'" class="box-title">{{ paragraph.Path }} Ändern</b>
    <b *ngIf="amendment.Type === 'move'" class="box-title">{{ paragraph.Path }} Verschieben</b>
    <button class="btn btn-danger remove-button float-right" (click)="removeAmendment()">X</button>
  </div>

  <p *ngIf="!paragraph">Finde den Operativen Absatz nicht o.O</p>

  <p *ngIf="amendment.SubmitTime"><b>Zeit: </b> {{ amendment.SubmitTime | date:'short' }}</p>
  <p *ngIf="paragraph"><b>Ziel: </b> {{ paragraph.Path }}</p>
  <label class="cb-container">
    Anzeigen

    <input *ngIf="amendment.Activated !== null" type="checkbox" [checked]="amendment.Activated" (change)="activeChanged($event)">
    <span class="checkmark"></span>
  </label>

  <button class="btn btn-block btn-primary" (click)="submitAmendment();">Annehmen</button>

</div>
