<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Konferenzverwaltung</li>
      <li class="breadcrumb-item"><a [routerLink]="['/mc/overview',conference.ID]"
          *ngIf="conference">{{ conference.Name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Team-Rollen</li>
    </ol>
  </nav>
</div>

<div class="row" *ngIf="conference?.teamRoleGroups">
  <div class="col-12">
    <h1>Eingeragene Rollen</h1>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-block btn-primary">Rollengruppe hinzufügen</button>
      </div>
    </div>
  </div>

  <div class="col-12" *ngFor="let group of conference.teamRoleGroups">
    <div class="card">
      <div class="card-header">
        {{ group.name }} ({{ getTeamRolesOfGroup(group).length }})
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col card-group">
            <div class="card" *ngFor="let role of getTeamRolesOfGroup(group)">
              <div class="card-body">
                <h5 class="card-title">{{ role.roleName }}</h5>
                <p class="card-text">{{ role.roleFullName }}</p>
                <p class="card-text">
                  <small class="text-muted" *ngIf="role.applicationState == 0">Keine Bewerbung möglich/Posten
                    vergeben</small>
                  <small class="text-muted" *ngIf="role.applicationState == 1">Direkte Bewerbung auf den Posten</small>
                  <small class="text-muted" *ngIf="role.applicationState == 2">Bewerbung auf die Kategorie
                    (Gruppe)</small>
                  <small class="text-muted" *ngIf="role.applicationState == 3">Registrierung für die Stelle</small>
                  <small class="text-muted" *ngIf="role.applicationState == 6">Nur intern ausgeschrieben</small>
                </p>
                <a href="#" class="btn btn-primary">Posten besetzen</a>

              </div>
            </div>

            <div class="card border-success text-center">
              <div class="card-body">
                <button class="btn btn-success card-text">Rolle hinzufügen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>