<!-- BEGIN section -->
<div class="section">
	<!-- BEGIN container -->
	<div class="container">
		<div class="section-subtitle">Comming Up</div>
				
		<!-- BEGIN row -->
		<div class="row">
			<!-- BEGIN col-3 -->
			<div class="col-lg-3">
				<!-- BEGIN news -->
				<div class="news">
					<div class="news-media">
						<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-9.jpg);"></div>
					</div>
					<div class="news-content">
						<div class="news-label"><span class="bg-aqua-200 text-aqua-800">Conference Management</span></div>
						<div class="news-title">You will soon be able to register conferences and manage their structure</div>
						@*<div class="news-date">September 14, 2020</div>*@
					</div>
					<a href="#" class="stretched-link"></a>
				</div>
				<!-- END news -->
			</div>
			<!-- END col-3 -->
			<!-- BEGIN col-3 -->
			<div class="col-lg-3">
				<!-- BEGIN news -->
				<div class="news">
					<div class="news-media">
						<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-10.jpg);"></div>
					</div>
					<div class="news-content">
						<div class="news-label"><span class="bg-pink-200 text-pink-800">Resolutions</span></div>
						<div class="news-title">The new Resolution Editor will give you more Feedbac</div>
						@*<div class="news-date">September 15, 2020</div>*@
					</div>
				</div>
				<!-- END news -->
			</div>
			<!-- END col-3 -->
			<!-- BEGIN col-3 -->
			<div class="col-lg-3">
				<!-- BEGIN news -->
				<div class="news">
					<div class="news-media">
						<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-11.jpg);"></div>
					</div>
					<div class="news-content">
						<div class="news-label"><span class="bg-primary-200 text-primary-800">Frameworks</span></div>
						<div class="news-title">We are switching to Bootstrap 5!</div>
						@*<div class="news-date">September 16, 2020</div>*@
					</div>
				</div>
				<!-- END news -->
			</div>
			<!-- END col-3 -->
			<!-- BEGIN col-3 -->
			<div class="col-lg-3">
				<!-- BEGIN news -->
				<div class="news">
					<div class="news-media">
						<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-12.jpg);"></div>
					</div>
					<div class="news-content">
						<div class="news-label"><span class="bg-indigo-200 text-indigo-800">Frameworks</span></div>
						<div class="news-title">We are implementing Blazor.Radzen</div>
						@*<div class="news-date">September 20, 2020</div>*@
					</div>
				</div>
				<!-- END news -->
			</div>
			<!-- END col-3 -->
		</div>
		<!-- END row -->
				
		<div class="text-center">
			<a href="#" class="section-btn"><i class="fa fa-arrow-right"></i> See More News</a>
		</div>
	</div>
	<!-- END container -->
</div>
<!-- END section -->

@code {

}
