<!-- BEGIN footer -->
<div class="footer">
	<div class="container">
		<div class="row gx-5">
			<div class="col-lg-3 mb-4 mb-lg-0">
				<div class="footer-logo">
					<span class="footer-logo-text">ColorAdmin <small>CORPORATE</small></span>
				</div>
				<p class="footer-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in orci felis. Phasellus id urna nunc. Nulla sed nibh at libero tincidunt scelerisque sed porttitor lectus.
				</p>
				<h4 class="footer-title">Follow Us</h4>
				<div class="footer-media-list">
					<a href="#" class="me-1"><i class="fab fa-lg fa-facebook fa-fw"></i></a>
					<a href="#" class="me-2"><i class="fab fa-lg fa-instagram fa-fw"></i></a>
					<a href="#" class="me-2"><i class="fab fa-lg fa-twitter fa-fw"></i></a>
					<a href="#" class="me-2"><i class="fab fa-lg fa-youtube fa-fw"></i></a>
					<a href="#" class="me-2"><i class="fab fa-lg fa-linkedin fa-fw"></i></a>
				</div>
			</div>
			<div class="col-lg-3 mb-4 mb-lg-0">
				<h4 class="footer-title">Company</h4>
				<ul class="footer-link-list">
					<li><a href="#">Newsroom</a></li>
					<li><a href="#">Company Info</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">For Investors</a></li>
					<li><a href="#">Brand Resources</a></li>
				</ul>
				<hr class="my-4 text-gray-600" />
				<h4 class="footer-title">Policies</h4>
				<ul class="footer-link-list">
					<li><a href="#">Community Standards</a></li>
					<li><a href="#">Data Policy</a></li>
					<li><a href="#">Cookie Policy</a></li>
					<li><a href="#">Terms of Service</a></li>
				</ul>
			</div>
			<div class="col-lg-3 mb-4 mb-lg-0">
				<h4 class="footer-title">Our Store</h4>
				<ul class="footer-link-list">
					<li><a href="#">Shop Online</a></li>
					<li><a href="#">Store App</a></li>
					<li><a href="#">Recycling Programme</a></li>
					<li><a href="#">Order Status</a></li>
					<li><a href="#">Shopping Help</a></li>
				</ul>
			</div>
			<div class="col-lg-3 mb-4 mb-lg-0">
				<h4 class="footer-title">Help Center</h4>
				<ul class="footer-link-list">
					<li><a href="#">Contact Form</a></li>
					<li><a href="#">Live Chat Support</a></li>
					<li><a href="#">Portal Help Center</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="row">
				<div class="col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
					<div class="footer-copyright-text">&copy; 2020 - 2021 MUNity - powered by mun-tools.com All Rights Reserved</div>
				</div>
				<div class="col-lg-6 text-center text-lg-end">
					<span class="dropdown me-4">
						<a class="footer-copyright-link dropdown-toggle @((showLanguageDrop) ? "show" : null)" @onclick="Test">United States (English)</a>
						<ul class="dropdown-menu  @((showLanguageDrop) ? "show" : null)" 
							tabindex="0" @onfocusout="() => showLanguageDrop = false"
							@ref="domElement"
							style="@((showLanguageDrop) ? "position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(0px, -2px);" : null)">
							<li><a class="dropdown-item">United States (English)</a></li>
							<li><a class="dropdown-item">China (简体中文)</a></li>
							<li><a class="dropdown-item">Brazil (Português)</a></li>
							<li><a class="dropdown-item">Germany (Deutsch)</a></li>
							<li><a class="dropdown-item">France (Français)</a></li>
							<li><a class="dropdown-item">Japan (日本語)</a></li>
							<li><a class="dropdown-item">Korea (한국어)</a></li>
							<li><a class="dropdown-item">Latin America (Español)</a></li>
							<li><a class="dropdown-item">Spain (Español)</a></li>
						</ul>
					</span>
					<a href="#" class="footer-copyright-link">Sitemap</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END footer -->

@code 
{
    private bool showLanguageDrop = false;

    private ElementReference domElement;

    private async Task Test()
    {
        Console.WriteLine(domElement.GetType().Name);
        showLanguageDrop = !showLanguageDrop;
		await domElement.FocusAsync();
    }
} 
