<!-- BEGIN section -->
<div class="section bg-light">
	<!-- BEGIN container -->
	<div class="container">
		<!-- BEGIN row -->
		<div class="row align-items-center">
			<!-- BEGIN col-6 -->
			<div class="col-lg-6 pe-lg-4 mb-5 mb-lg-0">
				<div class="section-subtitle">Hosting Models</div>
				<div class="section-title">Keep control over all your data.</div>
				<div class="section-desc">
					Since MUNity is Open-Source you can download the code and create your very own version of this plattform and host it on your servers.
				</div>
				<a href="#" class="section-btn"><i class="fa fa-arrow-right"></i> Learn More</a>
			</div>
			<!-- END col-6 -->
			<!-- BEGIN col-6 -->
			<div class="col-lg-6 ps-lg-4">
				<div class="section-media">
					<img src="../assets/img/corporate/img-5.jpg" alt="" class="mw-100" />	
				</div>
			</div>
			<!-- END col-6 -->
		</div>
		<!-- END row -->
	</div>
	<!-- END container -->
</div>
<!-- END section -->

@code {

}
