 <!-- Begin Listing: 609 W GRAVERS LN-->
<div class="brdr bgc-fff notice-box box-shad notice" *ngIf="notice">
  <div class="media">
    <div class="media-body">
      <div class="clearfix media-heading">
        <h4 class="float-left"> {{ notice.Title }} </h4>
        <small class="float-right">{{ notice.CreationDate | date:'dd.MM.yyyy HH:mm' }}</small>
      </div>
      
      <p>{{ notice.AuthorName }}</p>

      <markdown [data]="notice.Text"></markdown>

      <span class="fnt-smaller fnt-lighter fnt-arial" *ngIf="notice.Tags">
        <span *ngFor="let tag of notice.Tags" class="badge text-white"
              [class.bg-primary]="tag.Type == 'primary'"
              [class.bg-secondary]="tag.Type == 'secondary'"
              [class.bg-success]="tag.Type == 'success'"
              [class.bg-danger]="tag.Type == 'danger'">{{ tag.Text }}</span>
        
    </span>
      <p> <a class="cursor-hand text-muted">Bearbeiten</a> | <a *ngIf="!askDeletion" class="cursor-hand text-muted" (click)="askDeletion = true;">Löschen</a>
       <span *ngIf="askDeletion">Löschen: </span><a *ngIf="askDeletion" class="cursor-hand text-danger" (click)="deleteMe()"> Ja / </a> <a *ngIf="askDeletion" class="cursor-hand text-muted" (click)="askDeletion = false;">Nein </a>
      | <a class="cursor-hand text-muted" (click)="markRead();">Als gelesen markieren</a></p>
      <p>Gelesen von: <span *ngIf="notice.ReadBy != null">{{ notice.ReadBy.length }}</span></p>
    </div>
  </div>
</div><!-- End Listing-->
