 <!-- Begin Listing: 609 W GRAVERS LN-->
<div class="brdr bgc-fff pad-10 box-shad notice" *ngIf="notice">
  <div class="media">
    <!--<a class="pull-left" href="#" target="_parent">
      <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
    </a>-->

    <div class="clearfix visible-sm"></div>

    <div class="media-body fnt-smaller">
      <a href="#" target="_parent"></a>

      <h4 class="media-heading clearfix">
        {{ notice.Title }} <small class="float-right">{{ notice.CreationDate | date:'dd.MM.yyyy HH:mm' }}</small>
      </h4>


      <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
        <li>{{ notice.AuthorName }}</li>
      </ul>

      <p class="hidden-xs">
        {{ notice.Text }}
      </p><span class="fnt-smaller fnt-lighter fnt-arial">
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
</span>
    </div>
  </div>
</div><!-- End Listing-->
