/**** MODULE ****/
.bgc-fff {
  background-color: #fff !important;
}

.box-shad {
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

.brdr {
  border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
  font-size: .9em;
}

.fnt-lighter {
  color: #bbb;
}

/* Padding - Margins */
.notice-box {
  padding-left: 10px !important;
  padding-top: 10px !important;
  padding-right: 5px !important;
  padding-bottom: 2px !important;
}


/* Color  */
.clr-535353 {
  color: #535353;
}

.cursor-hand {
  cursor: pointer;
}

p-bot-0 {
  padding-bottom: 0px;
}
