@inject Services.SqlResolutionService resolutionService;
@using MUNity.Extensions; 

<div class="panel panel-inverse m-t-0">
    <div class="panel-heading">
        <h4 class="panel-title">@(Index + 1) Präambel Absatz: @previewText</h4>
        <div class="panel-heading-btn">
            <a class="btn btn-xs btn-icon btn-circle btn-default"
               @onclick="() => expanded = !expanded">
                <i class="fa @((expanded) ? "fa-window-minimize" : "fa-expand")"></i>
            </a>
            <div class="btn-group m-l-5">
                <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Funktionen<b class="caret"></b></button>
                <div class="dropdown-menu dropdown-menu-right" role="menu" style="">
                    <a href="javascript:;" class="dropdown-item" @onclick="() => expanded = !expanded">
                        @((expanded) ? "Einklappen" : "Ausklappen")
                    </a>
                    <a @onclick="MoveUp" style="cursor: pointer;" class="dropdown-item"><i class="fa fa-arrow-up"></i>Nach oben schieben</a>
                    <a @onclick="MoveDown" style="cursor: pointer;" class="dropdown-item"><i class="fa fa-arrow-down"></i>Nach unten schieben</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:;" class="dropdown-item text-danger-darker"
                       @onclick="() => OnRemove.InvokeAsync(Paragraph)">Löschen</a>
                </div>
            </div>
        </div>
    </div>
    @if (expanded)
    {
        <div class="panel-body">
            <textarea class="form-control" @bind="Paragraph.Text" @onblur="() => SaveParagraphText(Paragraph)" />
        </div>
    }

</div>
@code {
    [Parameter]
    public MUNity.Models.Resolution.PreambleParagraph Paragraph { get; set; }

    [Parameter]
    public MUNity.Models.Resolution.ResolutionPreamble PreambleReference { get; set; }

    [Parameter]
    public string ResolutionId { get; set; }

    [Parameter]
    public int Index { get; set; } = 0;

    [Parameter]
    public EventCallback<MUNity.Models.Resolution.PreambleParagraph> OnRemove { get; set; }

    [Parameter]
    public EventCallback ParagraphMoved { get; set; }

    private string previewText
    {
        get
        {
            if (Paragraph == null) return "";
            return (Paragraph.Text.Length > 30) ? Paragraph.Text.Substring(0, 30) + "..." : Paragraph.Text;
        }
    }

    private bool expanded = false;

    private void SaveParagraphText(MUNity.Models.Resolution.PreambleParagraph paragraph)
    {
        resolutionService.SetPreambleParagraphText(paragraph.PreambleParagraphId, paragraph.Text);
    }

    private void MoveUp()
    {
        var index = PreambleReference.Paragraphs.IndexOf(this.Paragraph);
        if (index > 0)
        {
            PreambleReference.Paragraphs.Swap(index - 1, index);
            this.resolutionService.ReorderPreamble(ResolutionId, PreambleReference.Paragraphs.Select(n => n.PreambleParagraphId).ToList());
            ParagraphMoved.InvokeAsync();
        }
    }

    private void MoveDown()
    {
        var index = PreambleReference.Paragraphs.IndexOf(this.Paragraph);
        if (index < PreambleReference.Paragraphs.Count)
        {
            PreambleReference.Paragraphs.Swap(index + 1, index);
            this.resolutionService.ReorderPreamble(ResolutionId, PreambleReference.Paragraphs.Select(n => n.PreambleParagraphId).ToList());
            ParagraphMoved.InvokeAsync();
        }
    }
}
