<div class="row">
    <div class="col-12">
        <div class="card">
            <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

                <ng-wizard-step [title]="'Nutzerkonto'" [description]="'Registriere dich auf munity'">
                    <span>Um eine Konferenz erstellen zu können benötigt du ein Konto bei munity</span>
                </ng-wizard-step>

                <ng-wizard-step [title]="'Organisation'" [description]="'Erstelle eine Organisation'">
                    <span>Konferenzen werden durch eine Organisation veranstaltet. Registriere eine Organisation oder
                        wähle
                        eine der Organisationen inw elchen du Mitglied bist aus um weiter zu machen.</span>
                </ng-wizard-step>

                <ng-wizard-step [title]="'Projekt'" [description]="'Erstelle eine Projektgruppe'">
                    <span>Alle Konferenzen werden in Projekten organisiert. So gehören Zum Beispiel die Konferenzen MUN
                        BW
                        2018 und MUN BW 2019 zu dem Projekt MUN BW.</span>
                </ng-wizard-step>

                <ng-wizard-step [title]="'Konferenz'" [description]="'Erstelle eine Konferenz'">
                    <span>Die Konferenz.</span>
                </ng-wizard-step>

            </ng-wizard>
        </div>

    </div>

</div>