<p *ngIf="!conference">Konferenz wird geladen</p>
<div *ngIf="conference">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">{{ conference.Name }}</h1>
        <p class="lead">{{ conference.StartDate | date:'shortDate' }} - {{ conference.EndDate | date:'shortDate' }}</p>
      </div>
    </div>
  </div>

  <!-- Committees -->

  
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['/mc/overview', conference.ID]">Konferenz bearbeiten</a>
    </div>
    <div class="col-12">
      <h1>Gremien</h1>
    </div>
    <div *ngFor="let committee of conference.Committees" class="col-12">
      <app-committee-card [committee]="committee"></app-committee-card>
    </div>
  </div>
</div>
