<p *ngIf="!conference">Konferenz wird geladen</p>
<div *ngIf="conference">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">{{ conference.Name }}</h1>
        <p class="lead">{{ conference.StartDate | date:'shortDate' }} - {{ conference.EndDate | date:'shortDate' }}</p>
      </div>
    </div>
  </div>

  <!-- Committees -->

  
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['/mc/overview', conference.ID]">Konferenz bearbeiten</a>
    </div>
    <div class="col-12">
      <h1>Gremien</h1>
    </div>
    <div *ngFor="let committee of conference.Committees" class="col-12">
      <div class="card b-1 hover-shadow mb-20">
        <div class="media card-body">
          <!--<div class="media-left pr-12">
            <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
          </div>-->
          <div class="media-body">
            <div class="mb-2">
              <span class="fs-20 pr-16">{{ committee.Name }}</span>
            </div>
            <small class="fs-16 fw-300 ls-1">Kein Status vorhanden</small>
          </div>
          <div class="media-right text-right d-none d-md-block">
            <p class="fs-14 text-fade mb-12"><i class="fa fa-map-marker pr-1"></i> {{ committee.Abbreviation }}</p>
            <!--<span class="text-fade"><i class="fa fa-money pr-1"></i> $60 per hour</span>-->
          </div>
        </div>
        <footer class="card-footer flexbox align-items-center">
          <div>
            <strong>Letzte Anweseneheit: </strong>
            <span>0/{{ committee.DelegationList.length }} (0%) - 01.01.2020</span>
          </div>
          <div class="card-hover-show">
            <a class="btn btn-bold btn-primary" [routerLink]="['/p/check', committee.ID]">Anwesenheit feststellen</a>
            <a class="btn btn-bold btn-warning" href="#">Resolutionen</a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
