@page "/"


<div class="row m-0 d-flex justify-content-center pt-2 pb-4">
    <div class="card">
        <div class="card-body">
            <h3>MUNity</h3>
            <h4>MUN-SH 2021 Preview Edition</h4>
            <p>Willkommen bei MUNity einer kostenlosen Open Source Plattform für Model United Nations Konferenzen.</p>
        </div>
    </div>
</div>
@* 

TODOs:
    - Ein Video als einführung in MUNity auf die Startseite bringen
    - Hauptkomponenten von MUNity bewegen: Redelisten, Resolutionseditor, Virtuelle Gremien

*@