@page "/"


<div class="row m-0 col-12 d-flex justify-content-center pt-2 pb-4">
    <div class="card col-12 col-md-6">
        <div class="card-body">
            <h3>Willkommen bei MUNity</h3>
            Eine kostenlose, Open-Source Plattform für Model United Nations Konferenzen und Tools für übergreifende
            Konferenzen im Web.
        </div>
    </div>
</div>

@* <div class="container">
    <div class="card-columns">
        <NavLink href="/resa/home">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-scroll mr-2"></i>Resolutionen</h5>
                    <p class="card-text">Hier können Resolutionen erstellt, bearbeitet und geteilt werden.</p>
                </div>
            </div>
        </NavLink>
        <NavLink href="/redelisten">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="far fa-list-alt mr-2"></i>Redelisten</h5>
                    <p class="card-text">Hier kann die Redeliste verwaltet und bearbeitet werden.</p>
                </div>
            </div>
        </NavLink>
        <NavLink href="/abstimmungen">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-poll mr-2"></i>Abstimmungen</h5>
                    <p class="card-text">Hier können Abstimmungen durchgeführt werden.</p>
                </div>
            </div>
        </NavLink>
        <NavLink href="/presence">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-poll mr-2"></i>Anwesenheit</h5>
                    <p class="card-text">Hier kann die Anwesenheit festgestellt werden.</p>
                </div>
            </div>
        </NavLink>
    </div>
</div> *@

@* <style>
    img {
        filter: grayscale(100%);
    }

    .card {
        transition: .3s;
    }

    .card:hover {
        background-color: #ebebeb;
    }
</style> *@