.add-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.amendments-area {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 800px;
}

.resedit-menu {
    padding-top: 5Px;
    padding-bottom: 5px;
}
