<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
    <div class="form-group">
        <label for="OrganisationNameInput">Organisationsname</label>
        <input type="text" class="form-control" #OrganisationNameInput aria-describedby="NameHelp"
            placeholder="Organisationsname" maxlength="300" formControlName="name">
        <small #NameHelp class="form-text text-muted">Der Name für die Organisation welche die Konferenzen organisiert.
            Zum Beispiel ein Verein oder eine Schule. (Max. 300 Zeichen)</small>
    </div>

    <div class="form-group">
        <label for="OrganisationShortInput">Kürzel</label>
        <input type="text" class="form-control" maxlength="16" #OrganisationShortInput aria-describedby="ShortHelp"
            placeholder="Kürzel" formControlName="short">
        <small #HelpShort class="form-text text-muted">Ein Kürzel für die Organisation. (Max 16 Zeichen)</small>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Organisation Erstellen</button>
    </div>

    <div class="form-group" *ngIf="error">
        <div class="alert alert-danger">Etwas scheint schiefgelaufen zu sein :(.</div>
    </div>

    <div class="form-group" *ngIf="createdOrganisation">
        <div class="alert alert-success">Die Organisation {{ createdOrganisation.name }} wurde erfolgreich angelegt.
        </div>
    </div>
</form>