@inject Services.SimulationService _simulationService;

@if (Users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Online</th>
                <th>Name</th>
                <th>Rolle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
            <tr>
                <td>@user.IsOnline</td>
                @if (user.DisplayName != null)
                {
                    <td>@user.DisplayName</td>
                }
                else
                {
                    <td>KEIN NAME</td>
                }

                @{
                    if (ViewModel.Simulation?.Roles == null)
                    {
                        <td>Rollen nicht geladen.</td>
                    }
                    else
                    {
                        var role = ViewModel.Simulation.Roles.FirstOrDefault(n => n.SimulationRoleId == user.RoleId);
                        if (role != null)
                        {
                            <td>@role.Name</td>
                        }
                        else
                        {
                            <td>Keine Rolle</td>
                        }
                    }
                }
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Benutzerliste wird geladen...</p>
}


