@inject MUNityClient.Services.SimulationService simulationService

<div class="card">
    <div class="card-header">
        Einstellungen
    </div>
    <div class="card-body">
        @if (_presets != null && _presets.Any() && SimulationContext.MyAuth.CanCreateRole)
        {
            <div class="form-group">
                <label>Vorlage</label>
                <select @bind="SelectedPresetId" class="form-control">
                    <option value="null">-</option>
                    @foreach (var preset in _presets)
                    {
                        <option value="@preset.Id">@preset.Name</option>
                    }
                </select>
                @if (SelectedPreset != null)
                {
                    <small class="text-danger">Achtung die Vorlage überschreibt einen Großteil der Einstellungen</small>
                    <br />
                    <small>Staaten: </small>
                    <small>@string.Join(", ", SelectedPreset.Roles.Select(n => n.Name))</small>
                }
            </div>
            @if (SelectedPreset != null)
            {
                <div class="form-group">
                    <button class="btn btn-block btn-primary" @onclick="() => ActivatePreset()">Vorlage Anwenden</button>
                </div>
            }
        }

    </div>
    <div class="card-footer">
        @if (SimulationContext.MyAuth != null && SimulationContext.MyAuth.CanCreateRole)
        {
            <button class="btn btn-block btn-success" @onclick="() => StartPhase()">Starten</button>
        }
    </div>
</div>
