<div *ngIf="conference">


    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Konferenzverwaltung</li>
                <li class="breadcrumb-item"><a [routerLink]="['/mc/overview',conference.ConferenceId]"
                        *ngIf="conference">{{ conference.Name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delegationen</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <h1>Delegationen Verwalten</h1>
        <p>Eine Delegation ist eine Gruppe von Teilnehmern. Diese kann einen Staat, aber auch die Presse, eine NGO oder
            jegliche andere Form der Gruppierung innerhalb der Konferenz definieren.</p>
        <p>MUNity stellt euch ein paar vordefinierte Delegationen zur Verfügung, damit ihr nicht den Aufwand habt diese
            selber erstellen
            zu müssen. Sollte die Delegation welche ihr euch wünscht nicht in der Auswahl vorhanden sein könnt ihr eine
            neue Delegation erstellen.
        </p>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Delegationen
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Vollständiger Name</th>
                            <th>Kürzel</th>
                            <th>Bild</th>
                        </tr>
                        <tr *ngFor="let del of delegations">
                            <td>{{ del.name }}</td>
                            <td>{{ del.fullName }}</td>
                            <td>{{ del.roleShort }}</td>
                            <td><img [src]='getDelegationImagePath(del)'></td>
                        </tr>
                        <tr>
                            <td class="table-active">
                                <input type="text" class="form-control" #newDelegationNameInput
                                    [(ngModel)]="newDelegationName" />
                            </td>
                            <td class="table-active">
                                <input type="text" class="form-control" [(ngModel)]="newDelegationFullName" />
                            </td>
                            <td class="table-active">
                                <input type="text" class="form-control" [(ngModel)]="newDelegationAbbreviation"
                                    (keyup.enter)="addDelegation()" />
                            </td>
                            <td class="table-active">
                                <button class="btn btn-success btn-block" (click)="addDelegation()">Hinzufügen</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>