@using Microsoft.EntityFrameworkCore
@using MUNity.BlazorServer.Components.Conference.Application

@*@layout MUNity.BlazorServer.Shared.ConferenceFrontEndLayout
@page "/web/conference/{ConferenceId}/register"*@

@inject MUNity.Database.Context.MunityContext context
@inject NavigationManager navManager

<AuthorizeView>
    <Authorized>
            <ConferenceApplicationComponent ConferenceId="@ConferenceId" />
    </Authorized>
    <NotAuthorized>
        <div class="error">
            @*<div class="error-code">Nicht angemeldet</div>*@
            <div class="error-content">
                <div class="error-message">Hallo, schön dass du bei @conferenceShort dabei sein willst.</div>
                <div class="error-desc mb-4">
                    Für die Anmeldung bei der Konferenz benötigst du ein MUNity-Konto.
                    Melde dich bitte an oder erstelle dir ein neues Konto.
                </div>
                <div>
                    <a href="/Identity/Account/Login" class="btn btn-success px-3">Anmelden</a>
                    <a href="/Identity/Account/Register" class="btn btn-secondary px-3">Konto erstellen</a>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>
    @@media only screen and (min-width: 1200px) {
        .padding-on-lg {
            padding-left: 150px;
            padding-right: 150px;
        }
    }
</style>

@code {
    [Parameter] public string ConferenceId { get; set; }

    private string conferenceShort;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.conferenceShort = context.Conferences.Where(n => n.ConferenceId == this.ConferenceId)
            .Select(n => n.ConferenceShort)
            .FirstOrDefault();
    }
}
