.m-b-30 {
    margin-bottom: 30px!important;
}

.widget-list.widget-list-rounded .widget-list-item:first-child, .widget-list.widget-list-rounded.widget-list-item:first-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.widget-list .widget-list-item {
    display: table;
    width: 100%;
    background: #fff;
    text-decoration: none;
    color: #2d353c;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.widget-list .widget-list-item>div:first-child {
    padding-left: 15px;
}

.widget-list .widget-list-item .widget-list-content, .widget-list .widget-list-item .widget-list-media {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

.widget-list .widget-list-item .widget-list-media {
    width: 70px;
    height: 60px;
}

.widget-list .widget-list-item .widget-list-action+div, .widget-list .widget-list-item .widget-list-content+div, .widget-list .widget-list-item {
    padding-left: 0;
}

.widget-list .widget-list-item .widget-list-content, .widget-list .widget-list-item .widget-list-media {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

.widget-list .widget-list-item .widget-list-title {
    font-size: 18px;
    line-height: 16px;
    margin: 0;
}

.widget-list .widget-list-item .widget-list-desc {
    font-size: 11px;
    margin: 0;
    color: #6f8293;
}

.widget-list .widget-list-item>div:last-child {
    padding-right: 15px;
}

.widget-list .widget-list-item .widget-list-action {
    display: table-cell;
    vertical-align: middle;
    width: 10%;
    padding: 10px 10px 10px 15px;
    text-align: center;
}