<!-- begin widget-list -->
<div class="widget-list widget-list-rounded m-b-30">
    <!-- begin widget-list-item -->
    <div class="widget-list-item">
        <div class="widget-list-media">
            <img src="../../../../assets/img/flags/small/un.png" class="rounded" />
        </div>
        <div class="widget-list-content">
            <h4 class="widget-list-title">Generalversammlung</h4>
            <p class="widget-list-desc">die Generalversammlung (GV)</p>
        </div>
        <div class="widget-list-action">
            <span class="text-muted pull-right">42 Delegationen</span>
        </div>
    </div>

    <div class="widget-list-item">
        <div class="widget-list-media">
            <img src="../../../../assets/img/flags/small/un.png" class="rounded" />
        </div>
        <div class="widget-list-content">
            <h4 class="widget-list-title">Wirtschafts- und Sozialrat</h4>
            <p class="widget-list-desc">der Wirtschafts- und Sozialrat (WiSo)</p>
        </div>
        <div class="widget-list-action">
            <span class="text-muted pull-right">26 Delegationen</span>
        </div>
    </div>
    <!-- end widget-list-item -->
</div>
<!-- end widget-list -->