<div class="timeline">
	<!-- BEGIN timeline-item -->
	<div class="timeline-item">
		<!-- BEGIN timeline-time -->
		<div class="timeline-time">
			<span class="date">today</span>
			<span class="time">04:20</span>
		</div>
		<!-- END timeline-time -->
		<!-- BEGIN timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;">&nbsp;</a>
		</div>
		<!-- END timeline-icon -->
		<!-- BEGIN timeline-content -->
		<div class="timeline-content">
			<!-- BEGIN timeline-header -->
			<div class="timeline-header">
				<div class="userimage"><img src="/img/user/user-1.jpg" alt=""></div>
				<div class="username">
					<a href="javascript:;">John Smith <i class="fa fa-check-circle text-blue ms-1"></i></a>
					<div class="text-muted fs-12px">8 mins <i class="fa fa-globe-americas opacity-5 ms-1"></i></div>
				</div>
				<div>
					<a href="#" class="btn btn-lg btn-white border-0 rounded-pill w-40px h-40px p-0 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown">
						<i class="fa fa-ellipsis-h text-gray-600"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a href="#" class="dropdown-item d-flex align-items-center">
							<i class="fa fa-fw fa-bookmark fa-lg"></i> 
							<div class="flex-1 ps-1">
								<div>Save Post</div>
								<div class="mt-n1 text-gray-500"><small>Add this to your saved items</small></div>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-edit fa-lg me-1"></i> Edit post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-user fa-lg me-1"></i> Edit audience</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-bell fa-lg me-1"></i> Turn off notifications for this post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-language fa-lg me-1"></i> Turn off translations</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-calendar-alt fa-lg me-1"></i> Turn date</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-archive fa-lg me-1"></i> Move to archive</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-trash-alt fa-lg me-1"></i> Move to Recycle bin</a>
					</div>
				</div>
			</div>
			<!-- END timeline-header -->
						
			<!-- BEGIN timeline-body -->
			<div class="timeline-body">
				<!-- timeline-post -->
				<div class="mb-3">
					<div class="mb-2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
						Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
					</div>
					<div class="row gx-1">
						<div class="col-6">
							<div class="ratio ratio-4x3">
								<img src="/img/gallery/gallery-14.jpg" class="d-block mw-100">
							</div>
						</div>
						<div class="col-3">
							<div class="ratio ratio-4x3 mb-3px">
								<img src="/img/gallery/gallery-12.jpg" class="d-block mw-100">
							</div>
							<div class="ratio ratio-4x3">
								<img src="/img/gallery/gallery-16.jpg" class="d-block mw-100">
							</div>
						</div>
						<div class="col-3">
							<div class="ratio ratio-4x3 mb-3px">
								<img src="/img/gallery/gallery-15.jpg" class="d-block mw-100">
							</div>
							<div class="ratio ratio-4x3">
								<img src="/img/gallery/gallery-11.jpg" class="d-block mw-100">
							</div>
						</div>
					</div>
				</div>
							
				<!-- timeline-stats -->
				<div class="d-flex align-items-center text-gray-600 mb-2">
					<div class="d-flex align-items-center">
						<span class="fa-stack fs-10px">
							<i class="fa fa-circle fa-stack-2x text-danger"></i>
							<i class="fa fa-heart fa-stack-1x fa-inverse fs-11px"></i>
						</span>
						<span class="fa-stack fs-10px">
							<i class="fa fa-circle fa-stack-2x text-blue"></i>
							<i class="fa fa-thumbs-up fa-stack-1x fa-inverse fs-11px bottom-0 mb-1px"></i>
						</span>
						<span class="ms-1">4.3k</span>
					</div>
					<div class="d-flex align-items-center ms-auto">
						<div>259 Shares</div>
						<div class="ms-3">21 Comments</div>
					</div>
				</div>
							
				<!-- timeline-action -->
				<hr class="my-10px">
				<div class="d-flex align-items-center fw-bold">
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-thumbs-up fa-fw me-3px"></i> Like
					</a>
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-comments fa-fw me-3px"></i> Comment</a> 
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-share fa-fw me-3px"></i> Share
					</a>
				</div>
				<hr class="mt-10px mb-3">
							
				<!-- timeline-input -->
				<form action="" class="d-flex align-items-center">
					<div><img src="/img/user/user-13.jpg" height="35" class="rounded-pill"></div>
					<div class="ps-2 flex-1">
						<div class="position-relative">
							<input type="text" class="form-control rounded-pill ps-3 py-2 fs-13px bg-gray-50" placeholder="Write a comment...">
							<div class="position-absolute end-0 top-0 bottom-0 d-flex align-items-center px-2">
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-smile fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-camera fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-film fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-sticky-note fa-fw fa-lg d-block"></i></a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- END timeline-body -->
		</div>
		<!-- END timeline-content -->
	</div>
	<!-- END timeline-item -->
	<!-- BEGIN timeline-item -->
	<div class="timeline-item">
		<!-- BEGIN timeline-time -->
		<div class="timeline-time">
			<span class="date">yesterday</span>
			<span class="time">20:17</span>
		</div>
		<!-- END timeline-time -->
		<!-- BEGIN timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;">&nbsp;</a>
		</div>
		<!-- END timeline-icon -->
		<!-- BEGIN timeline-content -->
		<div class="timeline-content">
			<!-- BEGIN timeline-header -->
			<div class="timeline-header">
				<div class="userimage"><img src="/img/user/user-2.jpg" alt=""></div>
				<div class="username">
					<a href="javascript:;">Darren Parrase</a>
					<div class="text-muted fs-12px">24 mins <i class="fa fa-globe-americas opacity-5 ms-1"></i></div>
				</div>
				<div>
					<a href="#" class="btn btn-lg btn-white border-0 rounded-pill w-40px h-40px p-0 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown">
						<i class="fa fa-ellipsis-h text-gray-600"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a href="#" class="dropdown-item d-flex align-items-center">
							<i class="fa fa-fw fa-bookmark fa-lg"></i> 
							<div class="flex-1 ps-1">
								<div>Save Post</div>
								<div class="mt-n1 text-gray-500"><small>Add this to your saved items</small></div>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-edit fa-lg me-1"></i> Edit post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-user fa-lg me-1"></i> Edit audience</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-bell fa-lg me-1"></i> Turn off notifications for this post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-language fa-lg me-1"></i> Turn off translations</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-calendar-alt fa-lg me-1"></i> Turn date</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-archive fa-lg me-1"></i> Move to archive</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-trash-alt fa-lg me-1"></i> Move to Recycle bin</a>
					</div>
				</div>
			</div>
			<!-- END timeline-header -->
						
			<!-- BEGIN timeline-body -->
			<div class="timeline-body">
				<!-- timeline-post -->
				<div class="mb-3">
					<div class="mb-2">Location: United States</div>
					<div id="google-map" class="h-250px" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div><button draggable="false" aria-label="Kurzbefehle" title="Kurzbefehle" type="button" style="background: none transparent; display: block; border: none; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; z-index: 1000002; left: -100000px; top: -100000px;"></button></div><div tabindex="0" aria-label="Map" aria-roledescription="map" role="group" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 996; transform: matrix(1, 0, 0, 1, -191, -57);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 996; transform: matrix(1, 0, 0, 1, -191, -57);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i4!2i3!3i6!4i256!2m3!1e0!2sm!3i581306626!2m3!1e2!6m1!3e5!3m17!2sde!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=62059" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i4!2i2!3i6!4i256!2m3!1e0!2sm!3i581306554!2m3!1e2!6m1!3e5!3m17!2sde!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=125242" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i4!2i2!3i5!4i256!2m3!1e0!2sm!3i581306518!2m3!1e2!6m1!3e5!3m17!2sde!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=40946" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i4!2i3!3i5!4i256!2m3!1e0!2sm!3i581306554!2m3!1e2!6m1!3e5!3m17!2sde!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=88573" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i4!2i4!3i6!4i256!2m3!1e0!2sm!3i581306626!2m3!1e2!6m1!3e5!3m17!2sde!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=42544" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"><img draggable="false" alt="" role="presentation" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i4!2i4!3i5!4i256!2m3!1e0!2sm!3i581306554!2m3!1e2!6m1!3e5!3m17!2sde!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi02MHxwLmw6LTYw!4e0&amp;token=69058" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div class="gm-style-moc" style="z-index: 4; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-mot"></p></div></div><iframe aria-hidden="true" frameborder="0" tabindex="-1" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"></iframe><div style="pointer-events: none; width: 100%; height: 100%; box-sizing: border-box; position: absolute; z-index: 1000002; opacity: 0; border: 2px solid rgb(26, 115, 232);"></div><div></div><div></div><div></div><div></div><div><button draggable="false" aria-label="Vollbildansicht ein/aus" title="Vollbildansicht ein/aus" type="button" class="gm-control-active gm-fullscreen-control" style="background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; text-transform: none; appearance: none; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; display: none; top: 0px; right: 0px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E" alt="" style="height: 18px; width: 18px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E" alt="" style="height: 18px; width: 18px;"><img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%200v6h2V2h4V0H0zm16%200h-4v2h4v4h2V0h-2zm0%2016h-4v2h6v-6h-2v4zM2%2012H0v6h6v-2H2v-4z%22/%3E%3C/svg%3E" alt="" style="height: 18px; width: 18px;"></button></div><div></div><div></div><div></div><div></div><div></div><div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" rel="noopener" href="https://maps.google.com/maps?ll=37.09024,-95.712891&amp;z=4&amp;t=m&amp;hl=de&amp;gl=US&amp;mapclient=apiv3" title="Dieses Gebiet in Google Maps öffnen (in neuem Fenster)" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div></div><div></div><div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 277px; bottom: 0px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><button draggable="false" aria-label="Kurzbefehle" title="Kurzbefehle" type="button" style="background: none; display: inline-block; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; color: rgb(0, 0, 0); font-family: inherit; line-height: normal;">Kurzbefehle</button></div></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 112px; bottom: 0px; width: 165px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><button draggable="false" aria-label="Kartendaten" title="Kartendaten" type="button" style="background: none; display: none; border: 0px; margin: 0px; padding: 0px; text-transform: none; appearance: none; position: relative; cursor: pointer; user-select: none; color: rgb(0, 0, 0); font-family: inherit; line-height: normal;">Kartendaten</button><span>Kartendaten © 2021 Google, INEGI</span></div></div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; box-sizing: border-box; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(0, 0, 0); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/de_US/help/terms_maps.html" target="_blank" rel="noopener" style="text-decoration: none; cursor: pointer; color: rgb(0, 0, 0);">Nutzungsbedingungen</a></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(0, 0, 0); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Kartendaten © 2021 Google, INEGI</div></div></div></div></div><div style="background-color: white; font-weight: 500; font-family: Roboto, sans-serif; padding: 15px 25px; box-sizing: border-box; top: 5px; border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 5px; left: 50%; max-width: 375px; position: absolute; transform: translateX(-50%); width: calc(100% - 10px); z-index: 1;"><div><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google_gray.svg" draggable="false" style="padding: 0px; margin: 0px; border: 0px; height: 17px; vertical-align: middle; width: 52px; user-select: none;"></div><div style="line-height: 20px; margin: 15px 0px;"><span style="color: rgba(0, 0, 0, 0.87); font-size: 14px;">Google Maps kann auf dieser Seite nicht richtig geladen werden.</span></div><table style="width: 100%;"><tr><td style="line-height: 16px; vertical-align: middle;"><a href="https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&amp;utm_medium=degraded&amp;utm_campaign=keyless#api-key-and-billing-errors" target="_blank" rel="noopener" style="color: rgba(0, 0, 0, 0.54); font-size: 12px;">Bist du Inhaber dieser Website?</a></td><td style="text-align: right;"><button class="dismissButton">Ok</button></td></tr></table></div></div>
				</div>
							
				<!-- timeline-stats -->
				<div class="d-flex align-items-center text-gray-600 mb-2">
					<div class="d-flex align-items-center">
						<span class="fa-stack fs-10px">
							<i class="fa fa-circle fa-stack-2x text-danger"></i>
							<i class="fa fa-heart fa-stack-1x fa-inverse fs-11px"></i>
						</span>
						<span class="fa-stack fs-10px">
							<i class="fa fa-circle fa-stack-2x text-blue"></i>
							<i class="fa fa-thumbs-up fa-stack-1x fa-inverse fs-11px bottom-0 mb-1px"></i>
						</span>
						<span class="ms-1">269</span>
					</div>
					<div class="d-flex align-items-center ms-auto">
						<div>2 Shares</div>
						<div class="ms-3">9 Comments</div>
					</div>
				</div>
							
				<!-- timeline-action -->
				<hr class="my-10px">
				<div class="d-flex align-items-center fw-bold">
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-thumbs-up fa-fw me-3px"></i> Like
					</a>
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-comments fa-fw me-3px"></i> Comment</a> 
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-share fa-fw me-3px"></i> Share
					</a>
				</div>
				<hr class="mt-10px mb-3">
							
				<!-- timeline-input -->
				<form action="" class="d-flex align-items-center">
					<div><img src="/img/user/user-13.jpg" height="35" class="rounded-pill"></div>
					<div class="ps-2 flex-1">
						<div class="position-relative">
							<input type="text" class="form-control rounded-pill ps-3 py-2 fs-13px bg-gray-50" placeholder="Write a comment...">
							<div class="position-absolute end-0 top-0 bottom-0 d-flex align-items-center px-2">
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-smile fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-camera fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-film fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-sticky-note fa-fw fa-lg d-block"></i></a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- END timeline-body -->
		</div>
		<!-- END timeline-content -->
	</div>
	<!-- END timeline-item -->
	<!-- BEGIN timeline-item -->
	<div class="timeline-item">
		<!-- BEGIN timeline-time -->
		<div class="timeline-time">
			<span class="date">24 February 2021</span>
			<span class="time">08:17</span>
		</div>
		<!-- END timeline-time -->
		<!-- BEGIN timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;">&nbsp;</a>
		</div>
		<!-- END timeline-icon -->
		<!-- BEGIN timeline-content -->
		<div class="timeline-content">
			<!-- BEGIN timeline-header -->
			<div class="timeline-header">
				<div class="userimage"><img src="/img/user/user-3.jpg" alt=""></div>
				<div class="username">
					<a href="javascript:;">Richard Leong <i class="fa fa-check-circle text-blue ms-1"></i></a>
					<div class="text-muted fs-12px">12 hours <i class="fa fa-globe-americas opacity-5 ms-1"></i></div>
				</div>
				<div>
					<a href="#" class="btn btn-lg btn-white border-0 rounded-pill w-40px h-40px p-0 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown">
						<i class="fa fa-ellipsis-h text-gray-600"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a href="#" class="dropdown-item d-flex align-items-center">
							<i class="fa fa-fw fa-bookmark fa-lg"></i> 
							<div class="flex-1 ps-1">
								<div>Save Post</div>
								<div class="mt-n1 text-gray-500"><small>Add this to your saved items</small></div>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-edit fa-lg me-1"></i> Edit post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-user fa-lg me-1"></i> Edit audience</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-bell fa-lg me-1"></i> Turn off notifications for this post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-language fa-lg me-1"></i> Turn off translations</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-calendar-alt fa-lg me-1"></i> Turn date</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-archive fa-lg me-1"></i> Move to archive</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-trash-alt fa-lg me-1"></i> Move to Recycle bin</a>
					</div>
				</div>
			</div>
			<!-- END timeline-header -->
			<!-- BEGIN timeline-body -->
			<div class="timeline-body">
				<!-- timeline-post -->
				<div class="lead mb-3">
					<i class="fa fa-quote-left fa-fw float-start opacity-5 me-3 mb-3 mt-3 fa-lg"></i>
					Quisque sed varius nisl. Nulla facilisi. Phasellus consequat sapien sit amet nibh molestie placerat. Donec nulla quam, ullamcorper ut velit vitae, lobortis condimentum magna. Suspendisse mollis in sem vel mollis.
					<i class="fa fa-quote-right fa-fw float-end opacity-5 ms-3 mt-n3 fa-lg"></i>
				</div>
							
				<!-- timeline-stats -->
				<div class="d-flex align-items-center text-gray-600 mb-2">
					<div class="d-flex align-items-center">
						<span class="fa-stack fs-10px">
							<i class="fa fa-circle fa-stack-2x text-danger"></i>
							<i class="fa fa-heart fa-stack-1x fa-inverse fs-11px"></i>
						</span>
						<span class="fa-stack fs-10px">
							<i class="fa fa-circle fa-stack-2x text-blue"></i>
							<i class="fa fa-thumbs-up fa-stack-1x fa-inverse fs-11px bottom-0 mb-1px"></i>
						</span>
						<span class="ms-1">550</span>
					</div>
					<div class="d-flex align-items-center ms-auto">
						<div>121 Shares</div>
						<div class="ms-3">40 Comments</div>
					</div>
				</div>
							
				<!-- timeline-action -->
				<hr class="my-10px">
				<div class="d-flex align-items-center fw-bold">
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-thumbs-up fa-fw me-3px"></i> Like
					</a>
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-comments fa-fw me-3px"></i> Comment</a> 
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-share fa-fw me-3px"></i> Share
					</a>
				</div>
				<hr class="mt-10px mb-3">
							
				<!-- timeline-input -->
				<form action="" class="d-flex align-items-center">
					<div><img src="/img/user/user-13.jpg" height="35" class="rounded-pill"></div>
					<div class="ps-2 flex-1">
						<div class="position-relative">
							<input type="text" class="form-control rounded-pill ps-3 py-2 fs-13px bg-gray-50" placeholder="Write a comment...">
							<div class="position-absolute end-0 top-0 bottom-0 d-flex align-items-center px-2">
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-smile fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-camera fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-film fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-sticky-note fa-fw fa-lg d-block"></i></a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- END timeline-body -->
		</div>
		<!-- END timeline-content -->
	</div>
	<!-- END timeline-item -->
	<!-- BEGIN timeline-item -->
	<div class="timeline-item">
		<!-- BEGIN timeline-time -->
		<div class="timeline-time">
			<span class="date">10 January 2021</span>
			<span class="time">20:43</span>
		</div>
		<!-- END timeline-time -->
		<!-- BEGIN timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;">&nbsp;</a>
		</div>
		<!-- END timeline-icon -->
		<!-- BEGIN timeline-content -->
		<div class="timeline-content">
			<!-- BEGIN timeline-header -->
			<div class="timeline-header">
				<div class="userimage"><img src="/img/user/user-4.jpg" alt=""></div>
				<div class="username">
					<a href="javascript:;">Lelouch Wong <i class="fa fa-check-circle text-blue ms-1"></i></a>
					<div class="text-muted fs-12px">1 days ago <i class="fa fa-globe-americas opacity-5 ms-1"></i></div>
				</div>
				<div>
					<a href="#" class="btn btn-lg btn-white border-0 rounded-pill w-40px h-40px p-0 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown">
						<i class="fa fa-ellipsis-h text-gray-600"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a href="#" class="dropdown-item d-flex align-items-center">
							<i class="fa fa-fw fa-bookmark fa-lg"></i> 
							<div class="flex-1 ps-1">
								<div>Save Post</div>
								<div class="mt-n1 text-gray-500"><small>Add this to your saved items</small></div>
							</div>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-edit fa-lg me-1"></i> Edit post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-user fa-lg me-1"></i> Edit audience</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-bell fa-lg me-1"></i> Turn off notifications for this post</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-language fa-lg me-1"></i> Turn off translations</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-calendar-alt fa-lg me-1"></i> Turn date</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-archive fa-lg me-1"></i> Move to archive</a>
						<a href="#" class="dropdown-item"><i class="fa fa-fw fa-trash-alt fa-lg me-1"></i> Move to Recycle bin</a>
					</div>
				</div>
			</div>
			<!-- END timeline-header -->
			<!-- BEGIN timeline-body -->
			<div class="timeline-body">
				<!-- timeline-post -->
				<div class="mb-3">
					<h4 class="mb-1">
						795 Folsom Ave, Suite 600 San Francisco, CA 94107
					</h4>
					<div class="mb-2">In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</div>
					<div class="row gx-1">
						<div class="col-6">
							<img src="/img/gallery/gallery-4.jpg" alt="" class="mw-100 d-block">
						</div>
						<div class="col-6">
							<img src="/img/gallery/gallery-5.jpg" alt="" class="mw-100 d-block">
						</div>
					</div>
				</div>
							
				<!-- timeline-action -->
				<hr class="my-10px">
				<div class="d-flex align-items-center fw-bold">
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-thumbs-up fa-fw me-3px"></i> Like
					</a>
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-comments fa-fw me-3px"></i> Comment</a> 
					<a href="javascript:;" class="flex-fill text-decoration-none text-center text-gray-600">
						<i class="fa fa-share fa-fw me-3px"></i> Share
					</a>
				</div>
				<hr class="mt-10px mb-3">
							
				<!-- timeline-input -->
				<form action="" class="d-flex align-items-center">
					<div><img src="/img/user/user-13.jpg" height="35" class="rounded-pill"></div>
					<div class="ps-2 flex-1">
						<div class="position-relative">
							<input type="text" class="form-control rounded-pill ps-3 py-2 fs-13px bg-gray-50" placeholder="Write a comment...">
							<div class="position-absolute end-0 top-0 bottom-0 d-flex align-items-center px-2">
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-smile fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-camera fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="fa fa-film fa-fw fa-lg d-block"></i></a>
								<a href="#" class="btn bg-none text-gray-600 shadow-none px-1"><i class="far fa-sticky-note fa-fw fa-lg d-block"></i></a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- END timeline-body -->
		</div>
		<!-- END timeline-content -->
	</div>
	<!-- END timeline-item -->
	<!-- BEGIN timeline-item -->
	<div class="timeline-item">
		<!-- BEGIN timeline-icon -->
		<div class="timeline-icon">
			<a href="javascript:;">&nbsp;</a>
		</div>
		<!-- END timeline-icon -->
		<!-- BEGIN timeline-content -->
		<div class="timeline-content">
			<!-- BEGIN timeline-body -->
			<div class="timeline-body">
				<div class="d-flex align-items-center">
					<div class="spinner-border spinner-border-sm me-3" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
					Loading...
				</div>
			</div>
			<!-- END timeline-body -->
		</div>
		<!-- BEGIN timeline-content -->
	</div>
	<!-- END timeline-item -->
</div>

@code {

}
