.wrapper {
  display: flex;
  width: 100%;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}



.sidebar-header {
  padding: 20px;
  background: #59a9ff;
}

ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #59a9ff;
}

ul p {
  color: #fff;
  padding: 10px;
}

ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

ul li a:hover {
  color: #7386D5;
  background: #fff;
}

ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #59a9ff;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #59a9ff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropable {
  background: #0065d1;
}
