<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Placeholder</h5>
        
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Placeholder</h5>
        
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Über MUNity</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Datenschutz</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Impressum</a></li>
          <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>API</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">&copy; 2019-2020 Peer Conradi</p>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->
