/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

/*body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}*/

footer {
    height: 50px;
    margin-top: auto;
}

.sortable-item {
  display: flex;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  cursor: grab;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #adadad;
}
.sortable-item-active {
  background-color: #e6e6e6;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.munity-box {
  width: 100%;
  height: auto;
}

.inverse-box-header {
  width: 90%;
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  z-index: 30;
}

.inverse-box-body {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  margin-top: -50px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 20;
}

.box-header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 150px;
}

.box-image {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 80px;
    width: auto;
    z-index: -1;
}



.box-title {
  font-size: 38px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.box-subtitle {
  font-size: 30px;
  color: rgb(210, 210, 210);
  line-height: 1.2;
  text-align: center;
}

.box-body {
  border-width: 0px 1px 1px 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 150px;
  padding: 10px;
}

.btn-notice {
  text-decoration: none;
  position: absolute;
  margin-top: 2px;
  margin-left: 15Px;
  width: 32Px;
  height: 32px;
}


.btn-notice .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

@media screen and (max-width: 1000px) {
  .box-title {
    font-size: 26px !important;
  }

  .box-subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 840px) {
  .box-title {
    font-size: 24px !important;
  }

  .box-subtitle {
    font-size: 16px;
  }
}



.bg-gradient-azure {
  background: #7F7FD5; /* fallback for old browsers */
  background: -webkit-linear-gradient(300deg, #91EAE4, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(300deg, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-witching {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(47deg, #240b36, #c31432); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(47deg, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-munsh {
  background: #0089E3; /* fallback for old browsers */
  background: -webkit-linear-gradient(47deg, #0089E3, #239CEA); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(47deg, #0089E3, #239CEA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-munbw {
  background: #0C4695; /* fallback for old browsers */
  background: -webkit-linear-gradient(47deg, #0C4695, #18316d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(47deg, #0C4695, #18316d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-munbb {
  background: #DF3C29;
}
