<h1>Impressum</h1>

<h3>Ansprechpartner/Inhaber</h3>
<p>Peer Conradi</p>
<p>aeuke-peer@t-online.de</p>

<h3>Anschrift</h3>
<address>
  Grambker Heerstraße 93a <br />
  28719 Bremen <br />
  Deutschland
</address>

<h3>Informationen</h3>
<p>
  Diese Seite dient der Bereitstellung von Software für den Einsatz auf Model United Nations Konferenzen. Die auf dieser Plattform
  angebotenen Dienste sind kostenfrei.
</p>
<p>Die Serverbereitstellung erfolgt durch den Anbieter STRATO.</p>
<p>Auf dieser Website werden Cookies für die Erfassung von Sessions gespeichert.</p>
<p>
  Alle auf dieser Website eingegebenen <u>und</u> abgesendeten Daten werden vom Server gespeichert und verarbeitet.
  Zudem werden Daten wie die IP-Addresse zwischengespeichert um WebSocket Dienste anzubieten und Schutzmaßnahmen gegen
  potentielle Angriffe einzuleiten.
</p>


<h3>Disclaimer</h3>
<p>
  Bei dieser Anwendung handelt es sich um einen kostenlosen und in der Freizeit entwickelten Dienst. Es wird keinerlei
  Garantie auf Funktionalität gegeben. Der Ersteller dieser Software haftet nicht für möglicherweise entstandende Schäden beim
  Ausfall dieser Plattform.
</p>
