@inject NavigationManager NavMngr

<div class="row mb-3 col-12 p-0 m-0 justify-content-around">
    <NavLink href="/" class="col-lg-2 d-none d-lg-flex align-items-center">
        <img src="https://www.dmun.de/wp-content/uploads/2016/03/dmunlogo.png" alt="logo">
    </NavLink>
    <div class="col bg-primary flex-height-inherit p-0 pl-3 pl-md-0 justify-content-around justify-content-md-start">
        <NavLink href="/resa/home">
            <div class="nav-item">
                <i class="fas fa-lg fa-scroll mr-2"></i>
                <span class="d-none d-md-block">Resolutionen</span>
            </div>
        </NavLink>
        <NavLink href="/redelisten">
            <div class="nav-item">
                <i class="far fa-lg fa-list-alt mr-2"></i>
                <span class="d-none d-md-block">Redelisten</span>
            </div>
        </NavLink>
        @*<NavLink href="/abstimmungen">
            <div class="nav-item">
                <i class="fas fa-lg fa-poll mr-2"></i>
                <span class="d-none d-md-block">Abstimmungen</span>
            </div>
        </NavLink>
        <NavLink href="/presence">
            <div class="nav-item">
                <i class="fas fa-users fa-lg mr-2"></i>
                <span class="d-none d-md-block">Anwesenheit</span>
            </div>
        </NavLink>*@
        <NavLink href="/sim/home">
            <div class="nav-item">
                <i class="fas fa-atom fa-lg mr-2"></i>
                <span class="d-none d-md-block">Simulation</span>
            </div>
        </NavLink>
    </div>
    <div class="col-1 bg-primary profile-icon d-flex align-items-center justify-content-end">
        <div class="btn-group dropleft">
            <div role="button" type="button" data-toggle="dropdown" aria-expanded="false" data-offset="30,0">
                <i class="fas fa-lg  fa-user-circle 
         "></i>
            </div>
            <ul class="dropdown-menu">
                <li>
                    <span class="dropdown-item text-danger pointer">Logout</span>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}


<style>
    .pointer {
        cursor: pointer;
    }

    .flex-height-inherit {
        height: inherit;
        display: flex;
    }

    .nav-item {
        height: 100%;
        transition: 0.3s;
        align-items: center;
        display: flex;
        padding: 17px 10px;
        color: white;
        justify-content: center;
    }

    .nav-item:hover {
        background-color: #5b95f3;
    }

    .profile-icon {
        color: white;
    }
</style>