<!-- BEGIN section -->
<div class="section">
	<!-- BEGIN container -->
	<div class="container">
		<div class="section-subtitle">Develop MUNity</div>
				
		<!-- BEGIN row -->
		<div class="row gx-5 mb-5">
			<!-- BEGIN col-6 -->
			<div class="col-lg-6">
				<!-- BEGIN news -->
				<div class="news rounded-3 overflow-hidden shadow-lg mb-5 mb-lg-0">
					<div class="news-media mb-0">
						<div class="news-media-img" style="background-image:url(../assets/img/corporate/img-6.jpg);"></div>
					</div>
					<div class="news-content px-4 py-4">
						<div class="news-label"><span class="bg-teal-200 text-teal-800">Development process</span></div>
						<div class="news-title">See tasks we are currently working on and what you could do to help.</div>
						<div class="news-date">Check article</div>
					</div>
					<a href="#" class="stretched-link"></a>
				</div>
				<!-- END news -->
			</div>
			<!-- END col-6 -->
			<!-- BEGIN col-6 -->
			<div class="col-lg-6">
				<div class="row h-100">
					<div class="col-lg-12 h-50 mb-5 mb-lg-0 pb-lg-3">
						<!-- BEGIN news -->
						<div class="news rounded-3 overflow-hidden shadow-lg d-flex h-100 mb-0">
							<div class="news-content w-50 p-4 d-flex align-items-center">
								<div>
									<div class="news-label"><span class="bg-warning-200 text-warning-800">Getting Started</span></div>
									<div class="news-title">Want to learn more about the projects inside? Read our developer Documentation.</div>
									<div class="news-date">To the Documentation</div>
								</div>
							</div>
							<div class="news-media w-50 h-100 mb-0">
								<div class="news-media-img h-100 pt-0" style="background-image:url(../assets/img/corporate/img-7.jpg);"></div>
							</div>
							<a href="#" class="stretched-link"></a>
						</div>
						<!-- END news -->
					</div>
					<div class="col-lg-12 h-50 mb-5 mb-lg-0 pt-lg-3">
						<!-- BEGIN news -->
						<div class="news rounded-3 overflow-hidden shadow-lg d-flex h-100 mb-0">
							<div class="news-media w-50 mb-0">
								<div class="news-media-img h-100 pt-0" style="background-image:url(../assets/img/corporate/img-8.jpg);"></div>
							</div>
							<div class="news-content w-50 p-4 d-flex align-items-center">
								<div>
									<div class="news-label"><span class="bg-primary-200 text-primary-800">Feedback</span></div>
									<div class="news-title">You have an idea or found an error? Report it now.</div>
									<div class="news-date">Learnm more</div>
								</div>
							</div>
							<a href="#" class="stretched-link"></a>
						</div>
						<!-- END news -->
					</div>
				</div>
			</div>
			<!-- END col-6 -->
		</div>
		<!-- END row -->
				
		<div class="text-center pt-5 pt-lg-0">
			<a href="#" class="section-btn"><i class="fa fa-arrow-right"></i> See More Company Stories</a>
		</div>
	</div>
	<!-- END container -->
</div>
<!-- END section -->

@code {

}
