<!-- Image and text -->
<nav class="navbar navbar-light bg-info m-t-min-10">
    <a class="navbar-brand" href="#">
        Gremiumname
    </a>
</nav>

<div class="row">
    <div class="col">
        <tabset>
            <tab heading="Gremium" id="tab1">

                <!-- Teilnehmende -->
                <div class="memberlist">
                    <div class="row m-l-5">
                        <div class="col-3">
                            <div class="player-box">
                                <img src="../../../../assets/img/vec/womanone.svg" class="player-avatar" />
                                <img src="../../../../assets/img/flags/medium/am.png" class="player-flag" />
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <div class="player-box">
                                <img src="../../../../assets/img/vec/womanone.svg" class="player-avatar" />
                                <img src="../../../../assets/img/flags/medium/ca.png" class="player-flag" />
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <div class="player-box">
                                <img src="../../../../assets/img/flags/medium/gy.png" class="player-flag-hu" />
                                <img src="../../../../assets/img/vec/womantwo_hu.svg" class="player-avatar" />
                                <img src="../../../../assets/img/flags/medium/gy.png" class="player-flag" />
                            </div>
                        </div>

                    </div>
                    <div class="row m-l-5">
                        <div class="col-3">
                            <div class="player-box">
                                <img src="../../../../assets/img/vec/womantwo.svg" class="player-avatar" />
                                <img src="../../../../assets/img/flags/medium/de.png" class="player-flag" />
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <div class="player-box">
                                <img src="../../../../assets/img/flags/medium/tz.png" class="player-flag-hu" />
                                <img src="../../../../assets/img/vec/womanone_hu.svg" class="player-avatar" />
                                <img src="../../../../assets/img/flags/medium/tz.png" class="player-flag" />
                            </div>

                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <div class="player-box">
                                <img src="../../../../assets/img/vec/womanone.svg" class="player-avatar" />
                                <img src="../../../../assets/img/flags/medium/pt.png" class="player-flag" />
                            </div>
                        </div>

                    </div>
                </div>


                <!-- Vorsitz -->

            </tab>
            <tab heading="Resolution">
                <app-res-view [resolution]="resolution"></app-res-view>
            </tab>
            <tab heading="Redeliste">Basic content 2</tab>
        </tabset>
    </div>
</div>