<div class="row">
    <div class="col-12 mt-1">
        <div class="card">
            <div class="card-header">
                Tagesordnungspunkte
                <button class="btn btn-success btn-sm">Neuer Tagesordnungspunkt</button>
            </div>
            <div class="card-body">
                <div class="alert alert-dark m-0">Ein alter Tagesordnungspunkt</div>
                <div class="alert alert-primary m-0">Der aktive Tagesordnungspunkt</div>
                <div class="alert alert-dark m-0">Ein noch kommender Tagesordnungspunkt</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-2">
        <div class="card">
            <div class="card-header">
                Anträge
                <button class="btn btn-success btn-sm">Neuer Antrag</button>
            </div>

            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Recht auf Information</h5>
                            <small class="text-muted">01.02.2021 12:00</small>
                        </div>
                        <div class="mb-0">
                            <p>Einbringer</p>
                            <p>Art des Antrags</p>
                        </div>
                        <div class="mb-1">
                            <a class="badge badge-success">Antrag als aktiv setzen</a>
                            <a class="badge badge-danger">Antrag löschen</a>
                        </div>
                    </div>

                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">

                            <h5 class="mb-1">Recht auf Information</h5>
                            <small class="text-muted">01.02.2021 12:00</small>
                        </div>
                        <div class="mb-1">
                            <p>Einbringer</p>
                            <p>Art des Antrags</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        
    </div>

    
</div>

@code {

}
