<div class="row" *ngIf="currentUser && currentUser.Role == 'Delegation'">
  <button class="btn btn-primary m-side-20" (click)="requestAddToSpeakerlist()">Antrag auf Redebeitrag</button>
  <button class="btn btn-info m-side-20" (click)="requestAddToQuestions()">Antrag auf Frage oder Kurzbemerkung</button>
  <button class="btn btn-secondary m-side-20" (click)="requestGO()">Antrag an die Geschäftsordnung</button>
  <button class="btn btn-warning m-side-20" (click)="requestPP()">Persönlicher Antrag</button>
  <button class="btn btn-dark m-side-20" (click)="deleteRequests()">Anträge zurückziehen</button>
</div>

<div class="row" *ngIf="currentUser && currentUser.Role == 'Chairman'">
  <button class="btn btn-primary m-side-20" (click)="controlSpeakerlist();">Redeliste steuern</button>
</div>
