@using MUNity.Database.Models.User

@page "/forgotpassword"

@inject UserManager<MunityUser> userManager

<h3>ForgotPassword</h3>

<label>Username</label>
<input @bind=username />

@if (Token != null)
{
    <label>Password</label>
    <input @bind=newPassword />
     <label>Repeat Password</label>
    <input @bind=confirmNewPassword />
    <button @onclick=Reset>Reset</button>
}
else
{
    <button @onclick=RequestReset>Reset</button>
}


<p>@Token</p>

@if (result != null)
{
    <p>@result.Succeeded</p>
    @foreach(var error in result.Errors)
    {
        <p>@error.Code: @error.Description</p>

    }
}

@code {
    private string username;

    private string newPassword;

    private string confirmNewPassword;

    [Parameter]
    [SupplyParameterFromQuery] 
    public string Token { get; set; }

    private IdentityResult result;

    private async Task RequestReset()
    {
        var user = await userManager.FindByNameAsync(username);
        if (user != null)
        {
            this.Token= await userManager.GeneratePasswordResetTokenAsync(user);
        }

    }

    private async Task Reset()
    {
        if (Token != null)
        {
            var user = await userManager.FindByNameAsync(username);
            if (user != null)
            {
                this.result = await userManager.ResetPasswordAsync(user, Token, newPassword);
            }
        }
    }

}
