@page "/myapplications"

@inject MUNity.Database.Context.MunityContext dbContext
@inject Services.ConferenceApplicationService applicationSerivce

<AuthorizeView>
    <Authorized>
        <h3>Anmeldungen/Bewerbungen</h3>
        <ul>
            @foreach(var application in applicationSerivce.GetApplicationsOfUser(context.User))
            {
                <li><a href="@($"/conference/application/review/{application.ApplicationId}")">Bewerbung für: @application.ConferenceName</a></li>
            }
        </ul>
        
    </Authorized>
    <NotAuthorized>
        <p>Sie müssen angemeldet sein um diese Seite zu verwenden.</p>
    </NotAuthorized>
</AuthorizeView>


@code {


}
