@using MUNity.Models.Resolution;

@inject MUNityClient.Services.ResolutionService resolutionService;

@page "/resa/onlineamendment/{id}"

<h3>Einreichen eines Änderungsantrags</h3>

@if (Status == EStatus.Loading)
{
    <p>Wird geladen</p>
}
else if (Status == EStatus.CantReachServer)
{
    <p>Fehler, der Server ist nicht erreichbar. Bitte probiere es später erneut.</p>
}
else if (Status == EStatus.NotAllowed)
{
    <p>Das einreichen eines Änderungsantrages ist Ihnen nicht gestattet. Möglicherweise wurde es von dem Vorsitz deaktiviert oder Sie sind nicht angemeldet.</p>
}
else if (Status == EStatus.Allowed)
{
    if (_resolution != null)
    {
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @* Der ganze Kram kann am Ende in den Presentation Mode wandern, wenn dort der Schalter  für "Beameransicht/Leseansicht" existiert. *@
                        <button class="btn btn-primary" @onclick="() => ShowNewAmendmentModal()">Änderungsantrag einreichen!</button>
                    </div>
                </div>

            </div>
        </div>

        <MUNityClient.Shared.Bootstrap.Modal Title="Neuer Änderungsantrag" @ref="AddAmendmentModal"
                                             OnSubmitCallback="NewAmendment">
            <MUNityClient.Shared.Resa.NewAmendmentForm Resolution="this._resolution" @ref="NewAmendmentForm">
            </MUNityClient.Shared.Resa.NewAmendmentForm>
        </MUNityClient.Shared.Bootstrap.Modal>

    }
    else
    {
        <p>Resolution nicht gefunden.</p>
    }

}


