@page "/resa/read/{id}"
@using MUNity.Models.Resolution;
@inject MUNityClient.Services.ResolutionService resolutionService;

@if (this.Resolution != null)
{
    <div class="row">
        <div class="col-12">
            <MUNityClient.Shared.Resa.ResolutionReader Resolution="this.Resolution">
            </MUNityClient.Shared.Resa.ResolutionReader>
        </div>
    </div>
}
else
{
    if (SyncMode == SyncModes.Loading)
    {
        <MUNityClient.Shared.Bootstrap.Spinner DisplayText="Lade Resolution, einen Moment bitte..." />
    }
}
