<div id="sidebar" class="app-sidebar">

    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <div class="menu">
            <!-- begin sidebar user -->
		    <SidebarUserBox />

            <div class="menu-header">Navigation</div>

            <MUNityCore.Shared.Menu.Administration />
            <MUNityCore.Shared.Menu.Simulations />
            <MUNityCore.Shared.Menu.SimulationSekMenu />
        </div>
    </div>
</div>
