@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- begin login -->
<div class="login login-with-news-feed">
	<!-- begin news-feed -->
	<div class="news-feed">
		<div class="news-image" style="background-image: url(/img/login-bg/login-bg-11.jpg)"></div>
		<div class="news-caption">
			<h4 class="caption-title"><b>MUNity</b> Login</h4>
			<p>
				Anmelden für erweiterte Funktionen.
			</p>
		</div>
	</div>
	<!-- end news-feed -->
	<!-- begin right-content -->
	<div class="right-content">
		<!-- begin login-header -->
		<div class="login-header">
			<div class="brand">
				<span class="logo"></span> <b>MUNity</b> Login
				<small>Anmledung für Pro-User</small>
			</div>
			<div class="icon">
				<i class="fa fa-sign-in-alt"></i>
			</div>
		</div>
		<!-- end login-header -->
		<!-- begin login-content -->
		<div class="login-content">
			<form id="account" method="post" class="margin-bottom-0">
				<div class="form-group m-b-15">
					<input type="text" asp-for="Input.Email" class="form-control form-control-lg" placeholder="Email Address" required />
				</div>
				<div class="form-group m-b-15">
					<input type="password" asp-for="Input.Password" class="form-control form-control-lg" placeholder="Password" required />
				</div>
				<div class="checkbox checkbox-css m-b-30">
					<input asp-for="Input.RememberMe" type="checkbox" id="remember_me_checkbox" />
					<label for="remember_me_checkbox">
					Angemeldet bleiben
					</label>
				</div>
				<div class="login-buttons">
					<button type="submit" class="btn btn-success btn-block btn-lg" >Anmelden</button>
				</div>
				<div class="m-t-20 m-b-40 p-b-40 text-inverse">
					Noch kein Konto? <a href="/Account/Register">Jetzt registrieren!</a>
				</div>
				<hr />
				<p class="text-center text-grey-darker mb-0">
					&copy; MUNity All Right Reserved 2021
				</p>
			</form>
		</div>
		<!-- end login-content -->
	</div>
	<!-- end right-container -->
</div>
<!-- end login -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
