<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">Die besten Tools für eure Konferenz</h1>
      <p class="lead">
        Eine Model United Nations Konferenz auf die Beine zu Stellen ist kein Leichtes. Wir möchten dir gerne dabei
        helfen und stellen dir eine große Auswahl an Tools zur Unterstützung.
      </p>
      <hr class="my-4">
      <p>Wir stellen eine Auswahl an Tools zur Verfügung, die du kostenfrei nutzen kannst. Bitte beachte hierbei unsere Terms-of-Service.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Konferenz anlegen</a>
    </div>
  </div>

  <div class="row">
    <h1 class="h1">Funktionen</h1>
  </div>

  <div class="row">
    <div class="card-columns">
      <div class="card text-center border-dark shadow-lg">
        <div class="card-body ">
          <h5 class="card-title">Konferenz strukturieren</h5>
          <p class="card-text">
            Gremien, Themen und Delegationen mit unseren einfachen Tools kannst du deine Konferenzstruktur
            schnell einpflegen und anderen eine Einsicht in dein Konzept geben.
          </p>
        </div>
      </div>
      <div class="card text-center border-dark shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Team verwalten</h5>
          <p class="card-text">
            Eine solche Konferenz macht man nicht alleine. Wir stellen dir und deinem Team
            eine Plattform zum Austauschen von Planungen und Ideen.
          </p>
        </div>

      </div>

      <div class="card text-center border-dark shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Teilnehmendenverwaltung</h5>
          <p class="card-text">
            Von der Bewerbungsphase bis hin zum Ablauf der Konferenz und alle anfallenden Arbeiten danach wir
            stellen dir und den Teilnehmenden deiner Konferenz eine Reihe von Tools für einen einfachen Überblick
            über deine Konferenz.
          </p>
        </div>
      </div>

      <div class="card text-center border-dark shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Dokumentenverwaltung</h5>
          <p class="card-text">
            Das Resultat der Arbeit bei deiner Konferenz soll nicht verloren gehen. Bei uns kannst du
            die erarbeiteten Resolutionen noch lange nach der Konferenz einsehen und dich immer wieder
            von diesen inspirieren lassen.
          </p>
        </div>
      </div>

      <div class="card text-center border-dark shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Öffentlicher Auftritt</h5>
          <p class="card-text">
            Du musst dich nicht im Web-Hosting Diensten rumschlagen oder lange lernen wie Webseiten programmiert werden.
            Wir stellen dir Möglichkeiten deinen öffentlichen Auftritt bei uns stattfinden zu lassen.
          </p>
        </div>
      </div>

      <div class="card text-center border-dark shadow-lg">
        <div class="card-body">
          <h5 class="card-title">Galerie</h5>
          <p class="card-text">
            Wie schön ist es doch nach der Konferenz wieder auf die Eindrücke der Konferenz zurückblicken zu können.
            Das ist kein Problem - wir bieten die Möglichkeit eine Galerie mit deinen Bilder zu erstellen.
            Wir kümmern uns auch darum, dass deine Bilder sicher bleiben. Du legst fest wer diese einsehen darf.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

