<div class="row" *ngIf="conference">
    <div class="col-3">
        <span class="rolename" *ngIf="!isEditing">{{ role.roleName }}</span>
        <input class="form-control" type="text" [(ngModel)]=role.roleName *ngIf="isEditing">
    </div>

    <div class="col-3">
        <span class="statename" *ngIf="!isEditing">Bundesrepublik Deutschland</span>
        <select class="form-control" *ngIf="isEditing">
            <option>Bundesrepublik Deutschland</option>
        </select>
    </div>

    <div class="col-3">
        <span class="delegationname" *ngIf="!isEditing">Delegation Deutschland</span>
        <select class="form-control" *ngIf="isEditing">
            <option *ngFor="let del of delegations">{{ del.name }}</option>
        </select>
    </div>

    <div class="col-2">
        <span class="committeename" *ngIf="!isEditing">Generalversammlung</span>
        <select class="form-control" *ngIf="isEditing">
            <option *ngFor="let comm of conference.committees">{{ comm.name }}</option>
        </select>
    </div>

    <div class="col-1">
        <button class="btn btn-outline-primary" *ngIf="!isEditing" (click)="isEditing = !isEditing">bearbeiten</button>
        <button class="btn btn-outline-success" *ngIf="isEditing && role.roleName != ''"
            (click)="isEditing = !isEditing">Fertig</button>
        <button class="btn btn-danger" *ngIf="isEditing && role.roleName == ''"
            (click)="isEditing = !isEditing">Löschen</button>
    </div>
</div>

<div *ngIf="!conference">
    <div class="col-12">
        <span>To display this element you need to give pass a conference to it: [conference]="conferenceObject"</span>
    </div>
</div>