@if (ViewModel != null)
{
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary btn-block" @onclick="() => this.ViewModel.ReloadActiveVoting()">Neu laden</button>
        </div>
    </div>

    <SimulationVotingBanner ViewModel="@this.ViewModel" />

    @if (ViewModel.ActiveVoting != null && ViewModel.ActiveVoting.Slots.Any(n => n.SimulationUserId == ViewModel.MySlot.SimulationUserId))
    {
        <SimulationMakeVote ViewModel="@this.ViewModel" />
    }

    @if (ViewModel.IsChair)
    {
        <CreateVoteComponent ViewModel="@ViewModel" SimulationId="ViewModel.Simulation.SimulationId" />
    }
}
else
{
    <p>View Model Fehler!</p>
}


@code {
    [Parameter]
    public ViewModels.SimulationViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        if (ViewModel != null)
        {
            ViewModel.VoteCreated += delegate { this.StateHasChanged(); };
            ViewModel.UserVoted += delegate { this.StateHasChanged(); };
            ViewModel.ActiveVotingChanged += delegate { this.StateHasChanged(); };
        }
        base.OnInitialized();
    }
}
