<div class="row">
    <h1>Redelisten</h1>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-12 d-flex align-items-stretch">
        <div class="card">
            <img src="../../../../assets/img/thumbs/speakerlist.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Redeliste erstellen</h5>
                <p>Erstellen einer neuen Redeliste. Diese Funktion wechselt direkt
                    in die Steuerung. Eine Anzeige muss seperat erstellt werden.
                </p>

            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-primary">Erstellen</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12 d-flex align-items-stretch">
        <div class="card">
            <img src="../../../../assets/img/thumbs/gv-view.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Redeliste anzeigen</h5>
              <p>Eine Redeliste mit der gegebenen ID live mitverfolgen. Die ID ist dem/der Ersteller*in der Liste bekannt.</p>
              <form>
              <div class="form-group">

                <label for="speakerlistid">Redelist-Id</label>
                <input type="number" class="form-control" id="speakerlistid" aria-describedby="emailHelp"
                        placeholder="1234567" disabled>
                <small id="emailHelp" class="form-text text-muted">
                  Die Id ist dem Ersteller der Redeliste
                  bekannt.
                </small>
              </div>
            </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-primary">Einsehen</button>
            </div>
        </div>
    </div>
</div>
