.widget {
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  color: inherit;
  padding: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.widget-stats, .widget.widget-stats {
  position: relative;
  color: #fff;
  padding: 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.widget-stats .stats-title, .widget.widget-stats .stats-title {
  position: relative;
  margin: 0 0 2px;
  font-size: 12px;
  color: rgba(255,255,255,.7);
}

.widget-stats .stats-number, .widget.widget-stats .stats-number {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.widget-stats .stats-progress, .widget.widget-stats .stats-progress {
  background: rgba(0,0,0,.5);
  height: 2px;
  margin: 0 0 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .5625rem;
  background-color: #e4e7ea;
  border-radius: 4px;
}

.widget-stats .stats-desc, .widget.widget-stats .stats-desc {
  margin: -5px 0 -3px;
  color: rgba(255,255,255,.7);
}

.stats-content {
  position: relative;
}
