@page "/simulations"
@using Microsoft.EntityFrameworkCore;
@inject DataHandlers.EntityFramework.MunityContext munityContext;

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Title Size="3">Simulationen</Title>
    </Column>
</Row>

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Card>
            <CardHeader>
                <CardTitle>Neue Simulation</CardTitle>
            </CardHeader>
            <CardBody>
                <Form>
                    <Label>Name</Label>
                    <TextEdit></TextEdit>
                    <Button Block="true" style="margin-top: 20px" Color="Color.Success">Erstellen</Button>
                </Form>
            </CardBody>
        </Card>
    </Column>

    <Column ColumnSize="ColumnSize.Is12">

    </Column>
</Row>

@code {
    List<Models.Simulation.Simulation> simulations;

    protected override async Task OnInitializedAsync()
    {
        simulations = await munityContext.Simulations.ToListAsync();
        await base.OnInitializedAsync();
    }
}
