@if (_users.Any())
{
    <div class="d-flex mb-2">
        <div class="d-flex align-items-center">
            @if (RoleType == MUNity.Schema.Simulation.RoleTypes.Chairman)
            {
                <b>Vorsitz</b>
            }
            else if (RoleType == MUNity.Schema.Simulation.RoleTypes.Delegate)
            {
                <b>Delegierte</b>
            }
            else if (RoleType == MUNity.Schema.Simulation.RoleTypes.Ngo)
            {
                <b>Nichtstaatliche Akteure</b>
            }
            else if (RoleType == MUNity.Schema.Simulation.RoleTypes.Spectator)
            {
                <b>Zuschauer</b>
            }
            else if (RoleType == MUNity.Schema.Simulation.RoleTypes.None)
            {
                <b>Keine Rolle</b>
            }
        </div>
    </div>

    @foreach (var user in _users)
    {
        <UserListItem User="user" InviteLinkRequested="InviteLinkRequested" />
    }
}



@code {
    [Parameter]
    public IEnumerable<Dtos.Simulations.SimulationUserInfoDto> Users { get; set; }

    [Parameter]
    public MUNity.Schema.Simulation.RoleTypes RoleType { get; set; }

    [Parameter]
    public EventCallback<int> InviteLinkRequested { get; set; }


    private IEnumerable<Dtos.Simulations.SimulationUserInfoDto> _users
    {
        get
        {
            if (this.Users == null)
                return new List<Dtos.Simulations.SimulationUserInfoDto>();
            return Users.Where(n => n.RoleType == this.RoleType);
        }
    }
}
