<div *ngIf="paragraph" class="col-12">
    <p *ngIf="paragraph.isVirtual === false" class="operative-paragraph-title">
        <span>
            {{ path }}.
        </span>
        <span class="badge badge-secondary">
            Änderungsanträge: 0
            Streichen,
            0
            Textänderung,
            0 Verschieben
        </span>
    </p>


    <markdown *ngIf="activeAmendment==null" class="operative-paragraph-text" [data]="paragraph.text">
    </markdown>
    <!-- Wenn dieser Absatz gesrichen oder Verschoben werden soll -->
    <div *ngIf="activeAmendment!=null && (activeAmendment.ype==='DeleteAmendment' || activeAmendment.type==='MoveAmendment')"
        style="margin-top: -20px; " class="operative-paragraph-text">
        <markdown style="text-decoration: line-through; color: darkred;" [data]="paragraph.text"></markdown>
        <p>Einbringer: {{ activeAmendment(paragraph).submitterName }}</p>
    </div>
    <div *ngIf="activeAmendment!=null && activeAmendment.type==='ChangeAmendment'" class="operative-paragraph-text">
        <p style="margin-top: -20px; text-decoration: line-through; color: darkred;">X. {{ paragraph.text }}</p>
        <p class="operative-paragraph-text" style="color: darkgreen;">{{ activeChangeAmendment(paragraph).newText }}</p>
        <p>Einbringer: {{ activeAmendment(paragraph).submitterName }}</p>
    </div>

    <ul>
        <li *ngFor="let m of paragraph.children">
            <app-operative-paragraph-view [paragraph]="m" [resolution]="resolution"></app-operative-paragraph-view>
        </li>
    </ul>
</div>