.operative-paragraph-text {
    font-size: 24px;
}

.operative-paragraph-title {
  font-size: 36px;
}

ul {
    list-style-type: none; 
    margin-left: -20px;
}

@media screen and (min-width: 600px) {
 ul 
 {
    margin-left: 80Px !important;
 }
}

@media screen and (max-width: 599px) {
    .operative-paragraph-text {
    font-size: 14px;
}
.operative-paragraph-title {
  font-size: 14px;
}
}

.w-100 {
    width: 100%;
}