<nav *ngIf="this.userService.isLoggedIn" class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -20px">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/dashboard']">Dashboard</a>
        <button class="navbar-toggler" type="button"
            aria-label="Toggle navigation" (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" [ngClass]="{ show: isSecMenuExpanded }">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark" [routerLink]="['/mydocs']"><fa-icon [icon]="['fas', 'file']"></fa-icon> Dokumente</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/conference/my']"><fa-icon [icon]="['fas', 'flag']"></fa-icon>Konferenzen</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['account/settings']"><fa-icon [icon]="['fas', 'user']"></fa-icon>Profil</a>
            </li>
            
            <!--<li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['conference/create']">Create Conference</a>
            </li>-->
          </ul>
        </div>
    </div>
</nav>
