<!-- Banner -->

<p *ngIf="!simulation">Simulation wird geladen</p>

<div class="row bg-primary" *ngIf="simulation">
  <div class="col-3">
    <h3 class="text-white">MUNity Konferenz Simulator</h3>
  </div>
  <div class="col-3">
    <h3 class="text-white">{{ simulation.Name }}</h3>
  </div>
  <div class="col-3">
    <h3 class="text-white">Rolle</h3>
  </div>
  <div class="col-3">
    <div class="btn-group w-100" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Einstellungen/Menü <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem" class="dropdown-item"><button class="btn btn-block btn-primary" (click)="openModal(selectRoleModal)">Rolle/Delegation wechseln</button></li>
      </ul>
    </div>
  </div>
</div>

<div class="row" *ngIf="simulation">
  <div class="col-lg-3">
    <app-speakerlist-view speakerlist="speakerlist" sizing="medium"></app-speakerlist-view>
  </div>

  <div class="col-lg-6">
    <div class="row m-top-50">
      <div class="col-3"></div>
      <div class="col-6 bg-secondary">
        <h3 class="text-white">Vorsitz</h3>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <app-sim-sim-delegation *ngFor="let user of simulation.Users" [user]="user" class="col-xl-3 col-lg-3 col-md-4 col-sm-6"></app-sim-sim-delegation>
    </div>
  </div>

  <!-- Chatfenster -->
  <div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Chat</h3>
        <small>{{ simulation.Users.length }} Teilnehmer</small>
      </div>
      <div class="card-body">
        <p class="text-danger" *ngIf="!simulation.AllChat">Chat konnte nicht geladen werden</p>
        <div *ngIf="simulation.AllChat" class="max-height-80">
          <p *ngFor="let message of simulation.AllChat">{{ message.Text }}</p>
        </div>
      </div>
      <div class="card-footer">
        <form [formGroup]="chatMessageForm" (ngSubmit)="postToChat(chatMessageForm.value)">
          <textarea class="form-control" placeholder="Neue Nachricht" formControlName="message"></textarea>
          <button type="submit" class="btn btn-primary btn-block">Absenden</button>
        </form>
        
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="simulation">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>Aktionen</h3>
      </div>
      <div class="card-body">
        <app-sim-sim-controls></app-sim-sim-controls>
      </div>
    </div>
  </div>
</div>

<ng-template #selectRoleModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Rolle auswählen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changeRoleForm" (ngSubmit)="changeRole(changeRoleForm.value);">
      <div class="form-group">
        <label>Rolle</label>
        <select formControlName="roletype" class="form-control">
          <option value="Delegation">Delegation</option>
        </select>
      </div>
      <div class="form-group" *ngIf="changeRoleForm.value.roletype == 'Delegation'">
        <select *ngIf="possibleDelegations" class="form-control" formControlName="rolevalue">
          <option *ngFor="let delegation of possibleDelegations" [value]="delegation.DelegationId">{{ delegation.Name }}</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Wechseln</button>
      </div>
    </form>
  </div>
</ng-template>
