<!-- Banner -->

<p *ngIf="!simulation">Simulation wird geladen <button (click)="test()">Test</button></p>

<div class="simulationwindow" *ngIf="simulation">
  <!-- Head Menu -->
  <div class="simulationheader">
    <h3 class="text-white simulation-roomname">{{ simulation.Name }}</h3>
    <button class="btn btn-primary simulation-options-button" (click)="openModal(selectRoleModal)">Optionen</button>
  </div>
  <div class="simulation-middle">
    <!-- Raum Simulation -->
    <!-- Vorsitztisch -->
    <div class="simulation-chairmandesk"></div>

    <!-- Tisch oben links-->
    <div class="simulation-desk simulation-desk-01">
      <div class="simulation-seat simulation-seat-left"></div>
      <div class="simulation-seat simulation-seat-right"></div>
    </div>

    <!-- Tisch vorne Links -->
    <div class="simulation-desk simulation-desk-02">
      <div class="simulation-seat simulation-seat-left"></div>
      <div class="simulation-seat simulation-seat-right"></div>
    </div>

    <!-- Tisch vorne Rechts -->
    <div class="simulation-desk simulation-desk-03">
      <div class="simulation-seat simulation-seat-left"></div>
      <div class="simulation-seat simulation-seat-right"></div>
    </div>

    <!-- Tisch vorne außen -->
    <div class="simulation-desk simulation-desk-04">
      <div class="simulation-seat simulation-seat-left"></div>
      <div class="simulation-seat simulation-seat-right"></div>
    </div>

    <div class="simulation-desk simulation-desk-05">
      <div class="simulation-seat simulation-seat-left"></div>
      <div class="simulation-seat simulation-seat-right"></div>
    </div>

    <div class="simulation-speakerlist" [hidden]="!showSpeakerlist">
      <app-speakerlist-view *ngIf="speakerlist" [speakerlist]="speakerlist" sizing="medium"></app-speakerlist-view>
    </div>
    <!-- Redeliste ein und ausblenden Schaltfläche -->
    <div class="display-speakerlist-button" (click)="showSpeakerlist = !showSpeakerlist">R</div>


  </div>
  <div class="simuation-footer">
    <app-sim-sim-controls></app-sim-sim-controls>
  </div>
</div>


  <!--
    <div class="simulation-left-panel">
      
    </div>
  <div class="row simulation-view">
    <div class="card bg-secondary col-12">
      <div class="card-header">
        <h3 class="card-title text-white">Vorsitz</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div *ngFor="let chairman of chairmen" class="card bg-primary">
            <div class="card-body">
              <h5 class="text-white">{{ chairman.DisplayName }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row simulation-view">
    <app-sim-sim-delegation *ngFor="let user of delegations" [user]="user" class="col-xl-3 col-lg-3 col-md-4 col-sm-6"></app-sim-sim-delegation>
  </div>
</div>
<div class="simulation-right-panel"></div>
  -->

<!--<div class="row bg-primary" *ngIf="simulation">
  <div class="col-3">
    <h3 class="text-white">MUNity Konferenz Simulator</h3>
  </div>
  <div class="col-3">
    <h3 class="text-white">{{ simulation.Name }}</h3>
  </div>
  <div class="col-3">
    <h3 class="text-white">Rolle</h3>
  </div>
  <div class="col-3">
    <div class="btn-group w-100" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Einstellungen/Menü <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem" class="dropdown-item"><button class="btn btn-block btn-primary">Rolle/Delegation wechseln</button></li>
        <li role="menuitem" class="dropdown-item"><button class="btn btn-block btn-primary" (click)="test()">Test</button></li>
      </ul>
    </div>
  </div>
</div>-->

<div class="row" *ngIf="simulation">


  <!-- Hauptfenster/Gremiumansicht-->
  <!-- Chatfenster -->
  <!--<div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Chat</h3>
        <small>{{ simulation.Users.length }} Teilnehmer</small>
      </div>
      <div class="card-body">
        <p class="text-danger" *ngIf="!simulation.AllChat">Chat konnte nicht geladen werden</p>
        <div *ngIf="simulation.AllChat" class="max-height-80">
          <p *ngFor="let message of simulation.AllChat">{{ message.Text }}</p>
        </div>
      </div>
      <div class="card-footer">
        <form [formGroup]="chatMessageForm" (ngSubmit)="postToChat(chatMessageForm.value)">
          <textarea class="form-control" placeholder="Neue Nachricht" formControlName="message"></textarea>
          <button type="submit" class="btn btn-primary btn-block">Absenden</button>
        </form>

      </div>
    </div>
  </div>-->
</div>

<ng-template #selectRoleModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Rolle auswählen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changeRoleForm" (ngSubmit)="changeRole(changeRoleForm.value);">
      <div class="form-group">
        <label>Rolle</label>
        <select formControlName="roletype" class="form-control">
          <option value="Delegation">Delegation</option>
          <option value="Chairman">Vorsitz</option>
          <option value="Spectator">Zuschauer</option>
        </select>
      </div>
      <div class="form-group" *ngIf="changeRoleForm.value.roletype == 'Delegation'">
        <select *ngIf="possibleDelegations" class="form-control" formControlName="rolevalue">
          <option *ngFor="let delegation of possibleDelegations" [value]="delegation.DelegationId">{{ delegation.Name }}</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Wechseln</button>
      </div>
    </form>
  </div>
</ng-template>
