

<div class="row">
  <div class="col-12">
    <h1>Willkommen</h1>
  </div>
  <div class="col-12">
    <h5>MUNity ALPHA</h5>
    <p>Willkommen zur MUNity Alpha. Dieser Dienst bietet die Möglichkeit Resolutionen, Redelisten und Anwesenheiten in einer Early-Preview einzusehen.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <div class="card text-center">
      <div class="card-header">
        Resolution ansehen
      </div>
      <div class="card-body">
        <h5 class="card-title">Resolution einsehen</h5>
        <p class="card-text">Jetzt live mitlesen und Änderungsanträge einsehen/einreichen.</p>
        <form>
          <div class="form-group">
            <label for="resolutionid">Resolutions ID</label>
            <input type="number" class="form-control" id="resolutionid" aria-describedby="emailHelp" placeholder="1234567">
            <small id="emailHelp" class="form-text text-muted">Die Resolutions-ID wird vom Vorsitz bekannt gegeben.</small>
          </div>
          <button type="submit" class="btn btn-primary">Einsehen</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
  <div class="col-4">
    <div class="card text-center">
      <div class="card-header">
        Redeliste einsehen
      </div>
      <div class="card-body">
        <h5 class="card-title">Redeliste einsehen</h5>
        <p class="card-text">Die Redeliste/Fragen und Kurzbemerkungen live verfolgen und sich per Knopfdruck auf eine Liste setzen lassen.</p>
        <form>
          <div class="form-group">
            <label for="speakerlistid">Redeliste-ID</label>
            <input type="number" class="form-control" id="speakerlistid" aria-describedby="emailHelp" placeholder="1234567">
            <small id="emailHelp" class="form-text text-muted">Die Redeliste-ID wird vom Vorsitz bekannt gegeben.</small>
          </div>
          <button type="submit" class="btn btn-primary">Einsehen</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<hr />
<div class="row">
  <h2>Deine Konferenz bei MUNity</h2>
  <p>MUNity ermöglicht dir den Einsatz von Live Tools auf deiner Konferenz. Darüber hinaus ist diese Plattform in der Lage dir die Arbeit der Konferenzverwaltung
  zu erleichtern. Die Anwendung wurde im Rahmen der dmun e.V. Konferenzen entwickelt und nimmt sich diese als Beispiel.</p>
  <p>MUN-TOOLS.COM bietet dir eine Fläche zum kostenfreien bereitstellen deiner Konferenz. Zu beachten ist dabei, dass es sich bei dieser Seite um einen Ableger
  des MUNity-Projects handelt. Dieses Projekt ist OpenSource und kann somit auch von jedem Organisator eine Model United Nations Konferenz selbst gehostet werden.</p>
  <p>Wenn du MUNity auf deinem eigenen Server einsetzen möchtest befolge bitte <a href="#">diese</a> Anleitung.</p>
</div>
<div class="row">
  <h2>MUNity ist Open Source</h2>
  <p>Deine Daten, Deine Freiheit. MUNity ist ein OpenSource Projekt entwickelt in C# (.NET CORE 3.1) und Angular 8. Zu finden unter [PLACEHOLDER]. Die Verwendung des Codes ist kostenfrei
  und ohne irgendwelche Sonderregelungen erlaubt. Eine kostenfreie Version der Tools ist auf MUN-TOOLS.COM abrufbar. </p>
</div>
