<div class="row">
  <div class="col-12">
    <h1>Willkommen</h1>

  </div>
  <div class="col-12">
    <alert type="info" dismissible="true">
      <h3>Information!</h3>
      <p>Dies ist nur eine Vorschauversion, welche noch nicht für den Einsatz auf Konferenzen vorgesehen ist.</p>
    </alert>
  </div>
  <div class="col-12">
    <h5>MUNity ALPHA</h5>
    <p>Willkommen zur MUNity Alpha. Dieser Dienst bietet die Möglichkeit Resolutionen, Redelisten und Anwesenheiten in
      einer Early-Preview einzusehen.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6 col-xs-12  d-flex align-items-stretch">
    <div class="card text-center border-primary">
      <div class="card-header">
        Resolution ansehen
      </div>
      <div class="card-body">
        <h5 class="card-title">Resolution einsehen</h5>
        <p class="card-text">Jetzt live mitlesen und Änderungsanträge einsehen/einreichen. Der dafür benötigte Code kann
          vom Vorsitz bereitgestellt werden.</p>
        <form [formGroup]="checkResolutionForm" (ngSubmit)="onCheckResolution(checkResolutionForm.value)">
          <div class="form-group">
            <label for="resolutionid">Resolutions ID</label>
            <input type="number" formControlName="resolutionkey" class="form-control" id="resolutionid"
              aria-describedby="resolutionNumberHelp" placeholder="12345678">
            <small id="resolutionNumberHelp" class="form-text text-muted">Die Resolutions-ID wird vom Vorsitz bekannt
              gegeben.</small>
          </div>
          <button type="submit" class="btn btn-primary">Einsehen</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12  d-flex align-items-stretch">
    <div class="card text-center">
      <div class="card-header">
        Redeliste einsehen
      </div>
      <div class="card-body">
        <h5 class="card-title">Redeliste einsehen</h5>
        <p class="card-text">Die Redeliste/Fragen und Kurzbemerkungen live verfolgen und sich per Knopfdruck auf eine
          Liste setzen lassen.</p>
        <form>
          <div class="form-group">
            <label for="speakerlistid">Redeliste-ID</label>
            <input type="number" class="form-control" id="speakerlistid" aria-describedby="emailHelp"
              placeholder="1234567">
            <small id="emailHelp" class="form-text text-muted">Die Redeliste-ID wird vom Vorsitz bekannt
              gegeben.</small>
          </div>
          <button type="submit" class="btn btn-primary">Einsehen</button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-6 col-xs-12">
    <div class="munity-box">
      <div class="inverse-box-header bg-primary">
        <h1 class="text-center text-white box-title">Über MUNity</h1>
        <h3 class="box-subtitle">Was ist MUNity</h3>
      </div>
      <div class="inverse-box-body border-primary">
        <p>MUNity ist eine Online-Plattform, welche Organisationen dabei unterstützen soll Model United Nations
        Konferenzen zu organsisieren und durchzuführen. Die Plattform stellt hierfür Tools bereit um das Team einer Konferenz zu verwalten, Termine
        und Aufgaben zu verteilen und auch diverse Tools für den Einsatz im Gremium wie zum Beispiel Redelisten mit Timern, einen Live anzeigbaren Resolutionseditor, sowie
        Funktionen zur Feststellung von Anwesenheiten, sowie einige Funktionen zur Datenauswertung.</p>
        <p> </p>
        <p> </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xs-12">
    <div class="munity-box">
      <div class="inverse-box-header bg-primary">
        <h1 class="text-center text-white box-title">MUNity nutzen</h1>
        <h3 class="box-subtitle">[Open Alpha]</h3>
      </div>
      <div class="inverse-box-body border-primary">
        <p><b>Kann ich MUNity für meine Konferenz nutzen?</b></p>
        <p><b class="text-danger">Nein</b>, derzeit wird eine Nutzung von MUNity für Konferenzen nicht empfohlen.
        Die Plattform befindet sich noch im Aufbau und an vielen Stellen sind daher noch Platzhalterelemente installiert.
        Ein Großteil der Funktionen welche MUNity einmal bieten soll sind derzeit auch noch nicht verfügbar.</p>
        <p class="text-danger"><b>Die Datenbank der Alpha Phase wird in regelmäßigen Abständen zurückgesetzt um Fehler zu vermeiden.
           Auf dieser Seite bitte nur Testdaten angeben und keine komplette Konferenzstruktur.</b></p>
      </div>
    </div>
  </div>
</div>
