<div class="row">
  <div class="container">
    <div class="card-columns ">
      <div class="card text-center border-dark shadow-lg">
        <img src="../../../../assets/img/thumbs/committee-small.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Konferenzen verwalten</h5>
          <p class="card-text">
            Kostenlos, schnell und unkompliziert Model United Nations Konferenzen anlegen und verwalten.
            MUN-TOOLs bringt viele Funktionen für Bewerbungsphasen, Teamverwaltung, Dokumentenverwaltung und weiteres
            mit.
          </p>
          <button class="btn btn-dark" [routerLink]="['/cm/start']">Zum Konferenz-Manager</button>
        </div>
      </div>
      <div class="card text-center border-dark shadow-lg">
        <img src="../../../../assets/img/thumbs/speakerlist.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Redelisten führen</h5>
          <p class="card-text">Ganz einfach Redelisten führen um im Gremium den Überblick zu behalten.</p>
          <button class="btn btn-block btn-dark">Redeliste erstellen</button>
          <button class="btn btn-block btn-outline-dark">Redeliste anzeigen</button>
        </div>

      </div>

      <div class="card text-center border-dark shadow-lg">
        <img src="../../../../assets/img/thumbs/working-on-mac.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Resolutionen führen</h5>
          <p class="card-text">
            Mit unserem besten Editor für Resolutionen wird die Dokumentenverwaltung ein Kinderspiel.
            Viele umfangreiche Funktionen auch für das Behandeln von Änderungsanträgen und Notizen.
          </p>
          <button class="btn btn-block btn-dark">Resolution erstellen</button>
          <button class="btn btn-block btn-outline-dark">Resolution anzeigen</button>
        </div>
      </div>

      <div class="card text-center border-dark shadow-lg">
        <img src="../../../../assets/img/thumbs/gv-view.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Virtuelles Gremium</h5>
          <p class="card-text">
            Model United Nations müssen nicht immer an einer Stelle stattfinden. Probier ruhig mal
            kostenlos unseren Simulator aus. Dieser kann ein Gremium mit bis zu 25 Delegierten darstellen.
          </p>
          <button class="btn btn-block btn-dark">Simulation erstellen</button>
          <button class="btn btn-block btn-outline-dark">Einer Simulation beitreten</button>
        </div>
      </div>
    </div>
  </div>
</div>