<div class="row">
    <h1>Redeliste Bearbeiten</h1>
</div>

<div *ngIf="!speakerlist" class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="speakerlist">
  <div class="row">
    <div class="col-12" *ngIf="speakerlist">
      <div class="alert alert-primary" role="alert">
        Die Anzeige-Id für diese Redeliste lautet: {{ speakerlist.PublicId }}
      </div>
    </div>
    <div class="col-12" *ngIf="speakerlist">
      <app-munity-box toolbox="true" title="Einstellungen" showcontent="false">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Einstellung</th>
              <th scope="col">Wert</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Titel</th>
              <td><input type="text" class="form-control" placeholder="Redeliste" [value]="speakerlist.Name" /></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Redezeit</th>
              <td><input type="text" class="form-control" [value]="speakerlist.Speakertime" /></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Fragen und Antwortzeit</th>
              <td><input type="text" class="form-control" [value]="speakerlist.Questiontime" /></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td><button class="btn btn-info">Zurücksetzen</button></td>
              <td><button class="btn btn-block btn-primary">Speichern</button></td>
            </tr>
          </tbody>
        </table>
      </app-munity-box>
    </div>

  </div>

  <div class="row">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="openGuestSpeakerDialog();">Gastredner</button>
      <button type="button" class="btn btn-secondary" (click)="openSecretaryModal();">Generalsekretär</button>
      <button type="button" class="btn btn-secondary">Zeitbanner</button>
      <button type="button" class="btn btn-danger">Banner entfernen</button>
    </div>
  </div>

  <div class="row">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning">Momentanen Redner zurücksetzen</button>
      <button type="button" class="btn btn-warning">Momentane Frage zurücksetzen</button>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Redeliste
        </div>
        <div class="card-body">
          <div class="row">
            <b *ngIf="speakerlist.CurrentSpeaker != null" class="col-8 float-left">Aktuell: {{ speakerlist.CurrentSpeaker.Name }}</b>
            <b *ngIf="speakerlist.CurrentSpeaker == null" class="col-8 float-left">Aktuell: Niemand</b>
            <b class=" col-4 float-right" *ngIf="speakerlist.RemainingSpeakerTime">
              ZEIT: {{ speakerlist.RemainingSpeakerTime.timeString }}
            </b>
          </div>
          <div class="row">
            <label>Redner hinzufügen</label>
            <input type="text" class="form-control" [(ngModel)]="addSpeakerSelection" [typeahead]="presetDelegations" typeaheadOptionField="Name" placeholder="Namen eingeben" />
            <button class="btn btn-success btn-block" (click)="addSpeaker();">Hinzufügen</button>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="btn-group btn-block" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" (click)="nextSpeaker();">Nächster</button>
              <button type="button" class="btn btn-warning" (click)="startSpeakerlist();">Go/Pause</button>
              <button type="button" class="btn btn-secondary">Antworten</button>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-12" *ngIf="speakerlist">
              <bs-sortable [(ngModel)]="speakerlist.Speakers" fieldName="Name" itemClass="sortable-item"
                           itemActiveClass="sortable-item-active" placeholderItem="Drag here"
                           placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper">
              </bs-sortable>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-danger btn-block">Liste schließen</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Fragen und Kurzbemerkungen
        </div>
        <div class="card-body">
          <div class="row">
            <b class="col-8 float-left">Aktuell PLATZTHALTER</b>
            <b class=" col-4 float-right">ZEIT: 00:30</b>
          </div>
          <div class="row">
            <div class="btn-group btn-block" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary">Nächster</button>
              <button type="button" class="btn btn-warning">Go/Pause</button>
            </div>
          </div>
          <div class="row">
          </div>
          <div class="row">
            <button class="btn btn-danger btn-block">Liste schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Guest Speaker -->
<!-- Modal -->
<div class="modal-backdrop fade-in" style="opacity: 0.9;"
    [style.display]="addGuestSpeakerModalOpened ? 'block' : 'none'">
</div>
<div class="modal" [style.display]="addGuestSpeakerModalOpened ? 'block' : 'none'" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gastredner setzen</h5>
                <button type="button" class="close" (click)="closeAddGuestSpeakerModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-12 control-label" for="speakername">Name</label>
                                <div class="col-12">
                                    <input type="text" placeholder="Name" class="form-control" id="speakername">
                                </div>
                            </div>
                            <!-- Ziel Operativer Absatz -->
                            <div class="row">
                                <label class="col-12 control-label" for="selecttarget">Bild</label>
                                <div class="col-12">
                                    <!-- TODO: Icon selector-->
                                </div>
                            </div>
                            <!-- Neuer Text -->
                            <div class="row">
                                <label class="col-12 control-label" for="guestTime">Zeit</label>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Zeit verwenden
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input id="guestTime" class="form-control" type="time" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeAddGuestSpeakerModal();">Close</button>
                <button type="button" class="btn btn-primary">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>
<!-- Generalsekretär Modal -->
<div class="modal-backdrop fade-in" style="opacity: 0.9;" [style.display]="secretaryModalOpened ? 'block' : 'none'">
</div>
<div class="modal" [style.display]="secretaryModalOpened ? 'block' : 'none'" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generalsekretär setzen</h5>
                <button type="button" class="close" (click)="closeSecretaryModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-12 control-label" for="speakretarytitle">Titel</label>
                                <div class="col-12">
                                    <input type="text" value="Seine Exzellenz der Generalsekretär" class="form-control"
                                        id="speakretarytitle">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-12 control-label" for="speakretaryname">Name</label>
                                <div class="col-12">
                                    <input type="text" placeholder="Name" class="form-control" id="speakretaryname">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeSecretaryModal();">Close</button>
                <button type="button" class="btn btn-primary">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>
