<div class="row">
    <h1>Redeliste Bearbeiten</h1>
</div>

<div *ngIf="!speakerlist" class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="speakerlist">
  <div class="row">
    <div class="col-12" *ngIf="speakerlist">
      <div class="alert alert-primary" role="alert">
        Die Anzeige-Id für diese Redeliste lautet: {{ speakerlist.PublicId }}
      </div>
    </div>
    <div class="col-12" *ngIf="speakerlist">
      <app-munity-box toolbox="true" title="Einstellungen" showcontent="false">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Einstellung</th>
              <th scope="col">Wert</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Titel</th>
              <td><input type="text" class="form-control" placeholder="Redeliste" [value]="speakerlist.Name" /></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Redezeit</th>
              <td>
                <input #speakertimeInput type="text" class="form-control" [value]="speakerlist.Speakertime" (keyup.enter)="setSpeakertime(speakertimeInput.value);" />
                <small class="text-muted">Mit Enter bestätigen.</small>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">Fragen und Antwortzeit</th>
              <td><input #questiontimeInput type="text" class="form-control" [value]="speakerlist.Questiontime" (keyup.enter)="setQuestiontime(questiontimeInput.value);" /></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td><button class="btn btn-info">Zurücksetzen</button></td>
              <td><button class="btn btn-block btn-primary">Speichern</button></td>
            </tr>
          </tbody>
        </table>
      </app-munity-box>
    </div>

  </div>

  <div class="row">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="openGuestSpeakerDialog();">Gastredner</button>
      <button type="button" class="btn btn-secondary" (click)="openSecretaryModal();">Generalsekretär</button>
      <button type="button" class="btn btn-secondary">Zeitbanner</button>
      <button type="button" class="btn btn-danger">Banner entfernen</button>
    </div>
  </div>

  <div class="row">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning" (click)="clearSpeaker()">Momentanen Redner zurücksetzen</button>
      <button type="button" class="btn btn-warning" (click)="clearQuestion()">Momentane Frage zurücksetzen</button>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Redeliste
        </div>
        <div class="card-body">
          <!-- Redeliste Informationen -->
          <div class="row">
            <b *ngIf="speakerlist.CurrentSpeaker != null" class="col-8 float-left">Aktuell: {{ speakerlist.CurrentSpeaker.Name }}</b>
            <b *ngIf="speakerlist.CurrentSpeaker == null" class="col-8 float-left">Aktuell: Niemand</b>
            <b class=" col-4 float-right" *ngIf="speakerlist.RemainingSpeakerTime && speakerlist.RemainingSpeakerTime.TotalSeconds >= 0"
               [class.text-success]="speakerlist.Status == 1 && speakerlist.RemainingSpeakerTime.TotalSeconds > 10"
               [class.text-danger]="speakerlist.Status == 1 && speakerlist.RemainingSpeakerTime.TotalSeconds <= 10">
              ZEIT: {{ speakerlist.RemainingSpeakerTime.timeString }}
            </b>
            <b class=" col-4 float-right text-danger" *ngIf="speakerlist.RemainingSpeakerTime && speakerlist.RemainingSpeakerTime.TotalSeconds < 0">
              ZEIT: ÜBERSCHRITTEN
            </b>
          </div>
          <!-- Redeliste Hinzufügen-->
          <div class="row">
            <label>Redner hinzufügen</label>
            <input type="text" class="form-control" [(ngModel)]="addSpeakerSelection" [typeahead]="presetDelegations" typeaheadOptionField="Name" placeholder="Namen eingeben" (typeaheadOnSelect)="onAddSpeakerSelected($event)"/>
            <button class="btn btn-success btn-block" (click)="addSpeaker();">Hinzufügen</button>
          </div>
          <!-- Redeliste Steuerung-->
          <div class="row" style="margin-top: 20px;">
            <div class="btn-group btn-block" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" (click)="nextSpeaker();">Nächster</button>
              <button type="button" class="btn btn-warning" (click)="toggleSpeaker();">Go/Pause</button>
              <button type="button" class="btn btn-secondary" (click)="startAnswer();">Antworten</button>
            </div>
          </div>

          <div class="row">
            <bs-sortable [(ngModel)]="deleteItems" placeholderItem="Hierauf ziehen zum Entfernen."
                         itemClass="sortable-item" itemActiveClass="sortable-item-active"
                           placeholderClass="alert alert-danger w-100" wrapperClass="sortable-wrapper"
                         (onChange)="removeSpeaker();">
            </bs-sortable>
          </div>

          <!-- Warteliste Redebeiträge -->
          <div class="row" style="margin-top: 20px;">
            <div class="col-12" *ngIf="speakerlist">
              <bs-sortable [(ngModel)]="speakerlist.Speakers" fieldName="Name" itemClass="sortable-item"
                           itemActiveClass="sortable-item-active" placeholderItem="Drag here"
                           placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper">
              </bs-sortable>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-danger btn-block">Liste schließen</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Fragen und Kurzbemerkungen
        </div>
        <div class="card-body">
          <!-- Fragen und Kurzbemerkungen Infos -->
          <div class="row">
            <b *ngIf="speakerlist.CurrentQuestion != null" class="col-8 float-left">Aktuell: {{ speakerlist.CurrentQuestion.Name }}</b>
            <b *ngIf="speakerlist.CurrentQuestion == null" class="col-8 float-left">Aktuell: Niemand</b>
            <b class=" col-4 float-right" *ngIf="speakerlist.RemainingQuestionTime && speakerlist.RemainingQuestionTime.TotalSeconds >= 0"
               [class.text-success]="speakerlist.Status == 2 && speakerlist.RemainingQuestionTime.TotalSeconds > 10"
               [class.text-danger]="speakerlist.Status == 2 && speakerlist.RemainingQuestionTime.TotalSeconds <= 10">
              ZEIT: {{ speakerlist.RemainingQuestionTime.timeString }}
            </b>
            <b class=" col-4 float-right text-danger" *ngIf="speakerlist.RemainingQuestionTime && speakerlist.RemainingQuestionTime.TotalSeconds < 0">
              ZEIT: ÜBERSCHRITTEN
            </b>
          </div>
          <!-- Redeliste Hinzufügen-->
          <div class="row">
            <label>Frage hinzufügen</label>
            <input type="text" class="form-control" [(ngModel)]="addQuestionSelection" [typeahead]="presetDelegations" typeaheadOptionField="Name" placeholder="Namen eingeben" (typeaheadOnSelect)="onAddQuestionSelected($event)"/>
            <button class="btn btn-success btn-block" (click)="addQuestion();">Hinzufügen</button>
          </div>
          <!-- Fragen und Kurzbemerkungen Steuerung -->
          <div class="row" style="margin-top: 20px;">
            <div class="btn-group btn-block" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" (click)="nextQuestion()">Nächster</button>
              <button type="button" class="btn btn-warning" (click)="toggleQuestion()">Go/Pause</button>
            </div>
          </div>
          <!-- Fragen und Kurzbemerkungen Liste -->
          <div class="row" style="margin-top: 20px;">
            <div class="col-12" *ngIf="speakerlist">
              <bs-sortable [(ngModel)]="speakerlist.Questions" fieldName="Name" itemClass="sortable-item"
                           itemActiveClass="sortable-item-active" placeholderItem="Drag here"
                           placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper">
              </bs-sortable>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-danger btn-block">Liste schließen</button>
          </div>
        </div>
      </div>
    </div> <!-- Ende Rechte Seite (Fragen und Kurzbemerkungen)-->
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group w-100">
      <button class="btn btn-secondary" (click)="dockSpeakerlist();">Als aktuellen Kontext setzen.</button>
      <a [routerLink]="['/s/view', speakerlist.ID]" class="btn btn-success" target="_blank">Teilnehmeransicht öffnen</a>
    </div>
    
  </div>
</div>

<!-- Add Guest Speaker -->
<!-- Modal -->
<div class="modal-backdrop fade-in" style="opacity: 0.9;"
    [style.display]="addGuestSpeakerModalOpened ? 'block' : 'none'">
</div>
<div class="modal" [style.display]="addGuestSpeakerModalOpened ? 'block' : 'none'" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gastredner setzen</h5>
                <button type="button" class="close" (click)="closeAddGuestSpeakerModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-12 control-label" for="speakername">Name</label>
                                <div class="col-12">
                                    <input type="text" placeholder="Name" class="form-control" id="speakername">
                                </div>
                            </div>
                            <!-- Ziel Operativer Absatz -->
                            <div class="row">
                                <label class="col-12 control-label" for="selecttarget">Bild</label>
                                <div class="col-12">
                                    <!-- TODO: Icon selector-->
                                </div>
                            </div>
                            <!-- Neuer Text -->
                            <div class="row">
                                <label class="col-12 control-label" for="guestTime">Zeit</label>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Zeit verwenden
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input id="guestTime" class="form-control" type="time" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeAddGuestSpeakerModal();">Close</button>
                <button type="button" class="btn btn-primary">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>
<!-- Generalsekretär Modal -->
<div class="modal-backdrop fade-in" style="opacity: 0.9;" [style.display]="secretaryModalOpened ? 'block' : 'none'">
</div>
<div class="modal" [style.display]="secretaryModalOpened ? 'block' : 'none'" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Generalsekretär setzen</h5>
                <button type="button" class="close" (click)="closeSecretaryModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-12 control-label" for="speakretarytitle">Titel</label>
                                <div class="col-12">
                                    <input type="text" value="Seine Exzellenz der Generalsekretär" class="form-control"
                                        id="speakretarytitle">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-12 control-label" for="speakretaryname">Name</label>
                                <div class="col-12">
                                    <input type="text" placeholder="Name" class="form-control" id="speakretaryname">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeSecretaryModal();">Close</button>
                <button type="button" class="btn btn-primary">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>
