@layout MUNity.BlazorServer.Shared.FrontEndLayout
@page "/front-demo"

<h3>FrontEndDemoPage</h3>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Dies ist eine Karte über die volle Breite</h3>
            </div>
        </div>
    </div>
</div>

@code {

}
