@page "/user"
@using Microsoft.AspNetCore.Identity;
@inject Services.IAuthService authService;
@inject RoleManager<MUNityCore.Models.User.MunityRole> roleManager;
@inject UserManager<MUNityCore.Models.User.MunityUser> userManager;
@inject SignInManager<MUNityCore.Models.User.MunityUser> signInManager;

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manager">Verwaltung @context.User.Identity.Name</a>

        <p>TODO!</p>
        
        <form method="post" action="Identity/Account/LogOut">
            <button class="btn btn-danger" type="submit">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrieren</a>
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<MUNityCore.Models.User.MunityRole> roles;



    protected override void OnInitialized()
    {
        this.roles = authService.Roles();
    }
}
