@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService storageService;

<div id="page-container">
    <Header />
    <Sidebar />
    <div id="content" class="content">
        @Body
    </div>
</div>

@if (showCookieBanner)
{
    <div class="alert bg-inverse-transparent-9 text-white position-fixed rounded-0 position-fixed mb-0 d-md-flex align-items-center pl-xl-5 pr-xl-5 pt-xl-4 pt-4 pb-xl-4" style="left: 0; right: 0; bottom: 0; z-index: 1020;">
        <div class="flex-fill">
            <h4>Wir verwenden Cookies</h4>
            <p class="mb-0">
                Damit MUNity korrekt arbeiten kann müssen einige deiner Daten gespeichert werden. Wir benötigen diese damit wir dich in den Simulationen identifizieren können, wir verwenden jedoch keine Cookies welche allgemein als Tracking-Cookies bekannt sind!
            </p>
        </div>
        <div class="pl-xl-4 pt-xl-0 pt-3">
            <a class="btn btn-outline-white btn-lg width-150" data-dismiss="alert"
               @onclick="() => AcceptCookies()">Annehmen</a>
        </div>
    </div>
}


@code {

    private bool showCookieBanner = false;

    private async Task AcceptCookies()
    {
        await storageService.SetItemAsync<string>("munity_cookies-accepted", "true");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await storageService.GetItemAsStringAsync("munity_cookies-accepted");
            if (result == "true")
            {
                showCookieBanner = false;
            }
            else
            {
                showCookieBanner = true;
            }
            this.StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}