<AuthorizeView>
    <Authorized>
        <div class="menu-profile">
			<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
				<div class="menu-profile-cover with-shadow"></div>
				<div class="menu-profile-image">
					<img src="../assets/img/user/user-13.jpg" alt="" />
				</div>
				<div class="menu-profile-info" @onclick="ToggleExpand">
					<div class="d-flex align-items-center">
						<div class="flex-grow-1">
							@context.User.Identity.Name
						</div>
						<div class="menu-caret ms-auto" ></div>
					</div>
					<small>Front end developer</small>
				</div>
			</a>
		</div>

		
        <div id="appSidebarProfileMenu" class="@expandedClass">
			<div class="menu-item pt-5px">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-cog"></i></div>
					<div class="menu-text">Settings</div>
				</a>
			</div>
			<div class="menu-item">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
					<div class="menu-text"> Send Feedback</div>
				</a>
			</div>
			<div class="menu-item pb-5px">
				<a href="javascript:;" class="menu-link">
					<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
					<div class="menu-text"> Helps</div>
				</a>
			</div>
			<div class="menu-divider m-0"></div>
		</div>

    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>

@code 
{
    private bool isExpanded = false;

    private string expandedClass => isExpanded ? "expand" : null;

    private string activeClass => isExpanded ? "active" : null;

    private string expandedStyle => isExpanded ? "display: block;" : null;

    private void ToggleExpand()
    {
        this.isExpanded = !this.isExpanded;
    }
}