<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div data-scrollbar="true" data-height="100%" data-init="true" style="overflow: hidden; width: auto; height: 100%;">
		<!-- begin sidebar user -->
		<SidebarUserBox />
		
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <MUNityCore.Shared.Menu.Administration />
            <MUNityCore.Shared.Menu.Simulations />
            <MUNityCore.Shared.Menu.SimulationSekMenu />
            <li>
                <a href="/impressum">
                    <i class="fa fa-paragraph"></i>
                    <span>Impressum</span>
                </a>
            </li>
            @* <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li> *@
        </ul>
		<!-- end sidebar nav -->
	</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 807.771px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
	<!-- end sidebar scrollbar -->
</div>
