@inject Services.FrontendSimulationService frontendSimulationService;
@inject Services.SpeakerlistHubService speakerlistHubService;

@if (_speakerlistViewModel != null)
{
    <SpeakersPanel ViewModel="@_speakerlistViewModel" />
    <QuestionsPanel ViewModel="@_speakerlistViewModel" />
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                Redeliste nicht geladen :/
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string ListOfSpeakersId { get; set; }

    private ViewModel.SpeakerlistViewModel _speakerlistViewModel;

    protected override async Task OnInitializedAsync()
    {
        this._speakerlistViewModel = await this.speakerlistHubService.GetSpeakerlistViewModel(ListOfSpeakersId);

        this._speakerlistViewModel.SpeakerlistChanged += delegate { this.StateHasChanged(); };
        await base.OnInitializedAsync();
    }
}
