@inject Services.FrontendSimulationService frontendSimulationService;
@inject Services.SpeakerlistHubService speakerlistHubService;

@if (ViewModel != null)
{
    <SpeakersPanel ViewModel="@ViewModel" SimViewModel="@SimViewModel" />
    <QuestionsPanel ViewModel="@ViewModel" SimViewModel="@SimViewModel" />
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                Redeliste nicht geladen :/
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public ViewModel.SpeakerlistViewModel ViewModel { get; set; }

    [Parameter]
    public ViewModel.SimulationViewModel SimViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.ViewModel.SpeakerlistChanged += delegate { this.StateHasChanged(); };
        await base.OnInitializedAsync();
    }
}
