<app-nav-menu></app-nav-menu>

<!-- Tool Button Test -->
<div *ngIf="speakerListService.currentList != null" class="speakerlist-panel speakerlist-panel-lg" [class.active]="showRightPanel">
  <button class="btn btn-outline-success tool-button" (click)="toggleRightPanel()"
          [class.btn-outline-danger]="speakerListService.currentList.Status == 1 && speakerListService.currentList.RemainingSpeakerTime.TotalSeconds <= 10 || speakerListService.currentList.Status == 2 && speakerListService.currentList.RemainingQuestionTime.TotalSeconds <= 10">
  <span class="inner rotated-text">Redeliste</span></button>
  <div class="speakerlist-panel-content">
    <app-speakerlist-panel [speakerlist]="speakerListService.currentList"></app-speakerlist-panel>
  </div>
</div>

<div *ngIf="conferenceService.committeeContext != null" class="committee-panel committee-panel-lg" [class.active]="showLeftPanel">
  <button class="btn btn-outline-success right-dock-button" (click)="showLeftPanel = !showLeftPanel">
    <span class="inner-left rotated-text">{{ conferenceService.committeeContext.Abbreviation }}</span>
  </button>
  <div class="speakerlist-panel-content">
    
  </div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
