.speakerlist-panel {
  position: fixed;
  right: -175px;
  top: 150px;
  z-index: 1020;
  background: #f2f2f2;
  padding: 15px;
  width: 230px;
  -webkit-transition: right .2s linear;
  -moz-transition: right .2s linear;
  -ms-transition: right .2s linear;
  -o-transition: right .2s linear;
  transition: right .2s linear;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.speakerlist-panel.speakerlist-panel-lg {
  top: 0px;
  bottom: 0px;
  width: 260px;
  right: -260px;
}

.speakerlist-panel.speakerlist-panel-lg.active {
  right: 0px;
} 


.tool-button {
  position: absolute;
  left: -30px;
  top: 10%;
  margin-top: -15px;
  width: 30px;
  height: 120px;
  line-height: 30px;
  font-size: 18px;
  color: #2d353c;
  background: #fff;
  text-align: center;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
  padding-top: -50px;
}

.speakerlist-panel .speakerlist-panel-content {
  margin: -15px;
  padding: 15px;
  background: #f2f2f2;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}


.inner {
  position: absolute;
  top: 40%;
  left: -80%;
}

.rotated-text {
  display: inline-block;
  transform: rotate(-90deg);
  
}
