<div class="speakerlist-view" *ngIf="speakerlist">
  <div class="row">
    <div class="col-12 bg-primary">

      <h1 *ngIf="sizing=='big'" class="text-white">Redeliste</h1>
      <h3 *ngIf="sizing=='medium'" class="text-white">Redeliste</h3>
      <h5 *ngIf="sizing=='small'" class="text-white">Redeliste</h5>
    </div>
    <!-- Aktueller Redner-->
    <div class="col-12">
      <div class="card bg-primary text-white"
        [class.bg-danger]="speakerlist.remainingSpeakerTime && speakerlist.remainingSpeakerTime.totalSeconds <= 10">
        <div class="card-header">
          <h3 *ngIf="sizing=='big'" class="card-title">Aktuell</h3>
          <h5 *ngIf="sizing=='medium'" class="card-title">Aktuell</h5>
          <h6 *ngIf="sizing=='small'" class="card-title">Aktuell</h6>
        </div>
        <div *ngIf="sizing=='big'" class="card-body clearfix">

          <h3 class="float-left" *ngIf="speakerlist.currentSpeaker float-left">
            <img [src]="getMediumImage(speakerlist.currentSpeaker)" style="height: 50Px" />
            {{ speakerlist.currentSpeaker.name }}
          </h3>

          <h3 class="float-left" *ngIf="!speakerlist.currentSpeaker">Niemand</h3>
          <h3 class="float-right"
            *ngIf="speakerlist.remainingSpeakerTime && speakerlist.remainingSpeakerTime.totalSeconds >= 0">
            {{ remainingSpeakerTime }}</h3>
          <h3 class="float-right"
            *ngIf="speakerlist.remainingSpeakerTime && speakerlist.remainingSpeakerTime.totalSeconds < 0"> Zum Ende
            kommen</h3>
        </div>

        <div *ngIf="sizing=='medium'" class="card-body clearfix">

          <h5 class="float-left" *ngIf="speakerlist.currentSpeaker float-left">
            <img [src]="getMediumImage(speakerlist.currentSpeaker)" style="height: 50Px" />
            {{ speakerlist.currentSpeaker.name }}
          </h5>
          <h5 class="float-left" *ngIf="!speakerlist.currentSpeaker">Niemand</h5>
          <h5 class="float-right"
            *ngIf="speakerlist.remainingSpeakerTime && speakerlist.remainingSpeakerTime.totalSeconds >= 0">
            {{ remainingSpeakerTime }}</h5>
          <h5 class="float-right"
            *ngIf="speakerlist.remainingSpeakerTime && speakerlist.remainingSpeakerTime.totalSeconds < 0"> Zum Ende
            kommen</h5>
        </div>

      </div>
    </div>
    <!-- Warteliste Redebeitrag-->
    <div class="col-12">
      <div class="card border-primary">
        <div class="card-header">
          <h3 class="card-title">Warteliste</h3>
        </div>
        <div class="card-body" [class.list-closed]="speakerlist.listClosed"
          style="max-height: 300Px; overflow-y: auto;overflow-x: visible;">

          <h4 *ngFor="let speaker of speakerlist.speakers"><img [src]="getDelegationImagePath(delegation)" />
            {{ speaker.name }}</h4>
        </div>
      </div>
    </div>

    <!-- Aktueller Frage-->
    <div class="col-12" style="margin-top: 20Px;">
      <div class="card bg-info text-white"
        [class.bg-danger]="speakerlist.remainingQuestionTime && speakerlist.remainingQuestionTime.totalSeconds <= 10">
        <div class="card-header">
          <h3 class="card-title">Aktuell</h3>
        </div>
        <div class="card-body clearfix">
          <h4 class="float-left" *ngIf="speakerlist.currentQuestion">
            <!-- <img [src]="getMediumImage(speakerlist.CurrentQuestion)" style="height: 50Px" /> -->
            {{ speakerlist.currentQuestion.name }}
          </h4>
          <h4 class="float-left" *ngIf="!speakerlist.currentQuestion">Niemand</h4>

          <h3 class="float-right"
            *ngIf="speakerlist.remainingQuestionTime && speakerlist.remainingQuestionTime.totalSeconds >= 0">
            {{ speakerlist.remainingQuestionTime }}</h3>
          <h3 class="float-right"
            *ngIf="speakerlist.remainingQuestionTime && speakerlist.remainingQuestionTime.totalSeconds < 0">Zum Ende
            kommen</h3>
        </div>
      </div>
    </div>
    <!-- Warteliste Redebeitrag-->
    <div class="col-12">
      <div class="card border-info">
        <div class="card-header">
          <h3 class="card-title">Warteliste</h3>
        </div>
        <div class="card-body" [class.list-closed]="speakerlist.questionsClosed"
          style="max-height: 300Px; overflow-y: auto;overflow-x: visible;">
          <h4 *ngFor="let speaker of speakerlist.questions">
            <!-- <img [src]="getDelegationImagePath(delegation)" /> -->
            {{ speaker.name }}</h4>
        </div>
      </div>
    </div>


  </div>
</div>

<p *ngIf="!speakerlist">Keine Redeliste geladen!</p>