<div class="speakerlist-view" *ngIf="speakerlist">
  <div class="row">
    <div class="col-12 bg-primary">
      <h1 class="text-white">Redeliste</h1>
    </div>
    <!-- Aktueller Redner-->
    <div class="col-12">
      <div class="card bg-primary text-white" [class.bg-danger]="speakerlist.RemainingSpeakerTime.TotalSeconds <= 10">
        <div class="card-header">
          <h3 class="card-title">Aktuell</h3>
        </div>
        <div class="card-body clearfix">
          <h3 class="float-left" *ngIf="speakerlist.CurrentSpeaker float-left">{{ speakerlist.CurrentSpeaker.Name }}</h3>
          <h3 class="float-left" *ngIf="!speakerlist.CurrentSpeaker">Niemand</h3>
          <h3 class="float-right" *ngIf="speakerlist.RemainingSpeakerTime.TotalSeconds >= 0"> {{ speakerlist.RemainingSpeakerTime.toString() }}</h3>
          <h3 class="float-right" *ngIf="speakerlist.RemainingSpeakerTime.TotalSeconds < 0"> Zum Ende kommen</h3>
        </div>
      </div>
    </div>
    <!-- Warteliste Redebeitrag-->
    <div class="col-12">
      <div class="card border-primary">
        <div class="card-header">
          <h3 class="card-title">Warteliste</h3>
        </div>
        <div class="card-body" style="max-height: 300Px; overflow-y: auto;overflow-x: visible;">
          <h4 *ngFor="let delegation of speakerlist.Speakers"> {{ delegation.Name }}</h4>
        </div>
      </div>
    </div>

    <!-- Aktueller Frage-->
    <div class="col-12" style="margin-top: 20Px;">
      <div class="card bg-info text-white" [class.bg-danger]="speakerlist.RemainingQuestionTime.TotalSeconds <= 10">
        <div class="card-header">
          <h3 class="card-title">Aktuell</h3>
        </div>
        <div class="card-body clearfix">
          <h4 class="float-left" *ngIf="speakerlist.CurrentQuestion">{{ speakerlist.CurrentQuestion.Name }}</h4>
          <h4 class="float-left" *ngIf="!speakerlist.CurrentQuestion">Niemand</h4>
          <h3 class="float-right" *ngIf="speakerlist.RemainingQuestionTime.TotalSeconds >= 0">{{ speakerlist.RemainingQuestionTime.toString() }}</h3>
          <h3 class="float-right" *ngIf="speakerlist.RemainingQuestionTime.TotalSeconds < 0">Zum Ende kommen</h3>
        </div>
      </div>
    </div>
    <!-- Warteliste Redebeitrag-->
    <div class="col-12">
      <div class="card border-info">
        <div class="card-header">
          <h3 class="card-title">Warteliste</h3>
        </div>
        <div class="card-body" style="max-height: 300Px; overflow-y: auto;overflow-x: visible;">
          <h4 *ngFor="let delegation of speakerlist.Questions"> {{ delegation.Name }}</h4>
        </div>
      </div>
    </div>


  </div>
</div>
