<ng-template #popContent>
  <button class="btn btn-danger" (click)="p.close();delete()">Löschen</button>
</ng-template>

<div class="paragraph-box" [class.bg-info]="paragraph.IsVirtual === true">
  <div class="paragraph-title">
    {{ paragraph.Path }}
  </div>
  <div class="btn-group-vertical paragraph-tools">
    <button [disabled]="paragraph.IsVirtual === true" type="button" class="btn btn-danger btn-delete" placement="left" [ngbPopover]="popContent" triggers="manual"
      #p="ngbPopover" (click)="p.open()">X</button>
    <button [disabled]="paragraph.IsVirtual === true" (click)="moveUp()" type="button" class="btn btn-outline-primary btn-move btn-up" title="Nach oben verschieben">▲</button>
    <button [disabled]="paragraph.IsVirtual === true" (click)="moveDown()" type="button" class="btn btn-outline-primary btn-move btn-down">▼</button>
    <!-- This buttons are disabled for now. The Editing should be made different! -->
    <!--<button [disabled]="paragraph.IsVirtual === true" (click)="moveLeft()" type="button" class="btn btn-outline-primary btn-move btn-left">◄</button>
    <button [disabled]="paragraph.IsVirtual === true" (click)="moveRight()" type="button" class="btn btn-outline-primary btn-move btn-right">►</button>-->
  </div>

  <div class="form-group paragraph-textarea">
    <textarea class="form-control" id="operativeTextArea" rows="5" [disabled]="paragraph.IsVirtual === true" (keyup)="onKey($event)" maxlength="4000">{{ paragraph.Text }}</textarea>
  </div>
</div>
