.pfield {
  margin-top: 20px;
  position: absolute;
  left: 0px;
  width: 90%;
  margin-right: 40px;
  height: 100px;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.paragraph-box {
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 40px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.paragraph-title {
    grid-area: 1 / 1 / 2 / 3;
}

.paragraph-textarea {
    grid-area: 2 / 1 / 3 / 2;
}

.paragraph-tools {
    grid-area: 1 / 2 / 3 / 3;
    padding-top: 0px;
}

.paragraph-tools>button {
    
    width: 35px;
    height: 35px;
    padding: 0px;
    margin-left: auto;
    margin-right: 0px;
    max-height: 35px;
}

