<ng-template #popContent>
  <button class="btn btn-danger" (click)="delete()">Löschen</button>
</ng-template>

<app-munity-window *ngIf="!hideNotices" (onClose)="toggleNotices()" title="Notizen"
                   (moveStopped)="moveStopped($event);"
                   [leftVal]="noticeWindowLeft" [topVal]="noticeWindowTop">
    <div style="max-height: 400Px; overflow-y: scroll; overflow-x: hidden">
      <div *ngIf="paragraph.notices != null && paragraph.notices.length > 0">
        <app-notice *ngFor="let notice of paragraph.notices" [notice]="notice"
                    (onDelete)="deleteNotice(notice);" (onRead)="noticeRead(notice)"
                    (onUpdate)="noticeUpdated(notice);"></app-notice>
      </div>
      <p *ngIf="paragraph.notices == null || paragraph.notices.length == 0">Keine Kommentare vorhanden</p> 
    </div>
    <div class="card-footer">
      <button *ngIf="!showAddComment" (click)="showAddComment = !showAddComment" class="btn btn-outline-dark btn-block">Kommentar verfassen</button>
      <div *ngIf="showAddComment">
        <div class="clearfix">
          <h6 class="float-left">Kommentar schreiben</h6>
          <button type="button" class="close float-right" aria-label="Close" (click)="showAddComment = !showAddComment">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <label>Titel</label>
        <input class="form-control" [(ngModel)]="newComment.title" />

        <textarea class="form-control" [(ngModel)]="newComment.text"></textarea>
        <div class="row">
          <span *ngFor="let tag of newComment.tags" class="badge text-white"
                [class.bg-primary]="tag.type == 'primary'"
                [class.bg-secondary]="tag.type == 'secondary'"
                [class.bg-success]="tag.type == 'success'"
                [class.bg-danger]="tag.type == 'danger'"
                (dblclick)="removeTag(tag);">{{ tag.Text }}</span>
        </div>
        <div class="col-12">
          <h6>Tags hinzufügen: </h6>
        </div>
        <div class="col-12">
          <div class="row ">
            <!--form-inline align-items-center -->
            <div class="col-4">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="newTag.type">
                <option class="bg-primary text-white" value="primary">Blau</option>
                <option class="bg-secondary text-white" value="secondary">Grau</option>
                <option class="bg-success text-white" value="success">Grün</option>
                <option class="bg-danger text-white" value="danger">Rot</option>
              </select>
            </div>
            <div class="col-6">
              <input class="form-control" [(ngModel)]="newTag.text" (keyup.enter)="addTag();" type="text" />
            </div>
            <div class="col-2">
              <button class="btn btn-outline-primary" (click)="addTag();">+</button>
            </div>
          </div>
        </div>
        
        <button class="btn btn-block btn-primary" (click)="addNotice()">Hinzufügen</button>
      </div>
      
  </div>
</app-munity-window>



<div class="paragraph-box" [class.bg-info]="paragraph.isVirtual === true">
  <div class="paragraph-title">
    {{ paragraph.name }}
  </div>

  <button type="button" class="btn-notice btn-warning tooltip-wide" (click)="showNotices($event)" *ngIf="paragraph.notices != null">
    <span>N</span>
    <span class="badge" *ngIf="paragraph.notices.length > 0">{{ paragraph.notices.length }}</span>
  </button>

  <div class="btn-group-vertical paragraph-tools">
    <button [disabled]="paragraph.isVirtual === true" type="button" class="btn btn-danger btn-delete" placement="left" popoverTitle="Entfernen" [popover]="popContent" >
      X
    </button>
    <button [disabled]="paragraph.isVirtual === true" (click)="moveUp()" type="button" class="btn btn-outline-primary btn-move btn-up" title="Nach oben verschieben">▲</button>
    <button [disabled]="paragraph.isVirtual === true" (click)="moveDown()" type="button" class="btn btn-outline-primary btn-move btn-down">▼</button>

    <!-- This buttons are disabled for now. The Editing should be made different! -->
    <!--<button [disabled]="paragraph.IsVirtual === true" (click)="moveLeft()" type="button" class="btn btn-outline-primary btn-move btn-left">◄</button>
    <button [disabled]="paragraph.IsVirtual === true" (click)="moveRight()" type="button" class="btn btn-outline-primary btn-move btn-right">►</button>-->
  </div>

  <div class="form-group paragraph-textarea">
    <textarea class="form-control" #operativeTextArea id="operativeTextArea" rows="5" [disabled]="paragraph.isVirtual === true" (keyup)="onKey($event)" maxlength="4000">{{ paragraph.text }}</textarea>
  </div>
</div>
