<div class="paragraph-box">
  <p class="paragraph-index">1.</p>
  <button type="button" class="btn btn-outline-primary btn-move btn-up">▲</button>
  <button type="button" class="btn btn-outline-primary btn-move btn-down">▼</button>
  <button type="button" class="btn btn-outline-primary btn-move btn-left">◄</button>
  <button type="button" class="btn btn-outline-primary btn-move btn-right">►</button>
  <button type="button" class="btn btn-danger btn-delete">X</button>

  <div class="form-group pfield">
    <textarea class="form-control" id="operativeTextArea" rows="5">{{ paragraph.Text }}</textarea>
  </div>
</div>
