<div class="row">
    <div class="col-12">
        <h3>Resolutionen</h3>
    </div>
    <div class="col-12">
        <h5>Bearbeiten und Einsehen von Resolutionen </h5>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                Resolution erstellen
            </div>
            <div class="card-body">
                <h5 class="card-title">Resolution erstellen</h5>
                <p class="card-text">Eine neue Resolution erstellen</p>
                <form>
                    <button type="submit" class="btn btn-primary">Einsehen</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                (Mit)arbeiten
            </div>
            <div class="card-body">
                <h5 class="card-title">An Resolution mitarbeiten</h5>
                <p class="card-text">An einer bestehenden Resolution mitarbeiten.</p>
                <form>
                    <div class="form-group">
                        <label for="speakerlistid">Public Work Id</label>
                        <input type="text" class="form-control" id="speakerlistid" aria-describedby="emailHelp"
                            placeholder="aaaa-aaaaa-aaaaa-aaaa">
                        <small id="emailHelp" class="form-text text-muted">Die Public-Work-Id ist lediglich dem
                            ersteller der Resolution bekannt</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Mitarbeiten</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                Mitlesen
            </div>
            <div class="card-body">
                <h5 class="card-title">Resolution mitlesen</h5>
                <p class="card-text">Mitlesen und ggf. Änderungsanträge einreichen.</p>
                <form>
                    <div class="form-group">
                        <label for="speakerlistid">ResolutionId</label>
                        <input type="number" class="form-control" id="speakerlistid" aria-describedby="emailHelp"
                            placeholder="1234567">
                        <small id="emailHelp" class="form-text text-muted">Die ResolutionId ist lediglich dem
                            ersteller der Resolution bekannt</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Mitarbeiten</button>
                </form>
            </div>
        </div>
    </div>
</div>