
<p *ngIf="!userSerivce.isLoggedIn">Für diese Funktion musst du eingeloggt sein!</p>
<div class="row" *ngIf="userSerivce.isLoggedIn">
  <div class="col-12">
    <div class="card">
      <div class="card-header clearfix">
        <h3 class="card-title pull-left">Meine Resolutionen</h3>
        <button class="btn btn-primary pull-right" (click)="refreshList();">Aktualisieren</button>
      </div>
      <div class="card-body">
        <div *ngIf="!resolutions" class="d-flex justify-content-center">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <table class="table w-100" *ngIf="resolutions">
          <thead>
            <tr>
              <th>Name</th>
              <th>Online Code</th>
              <th>Öffentlich einsehbar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reso of resolutions">
              <td><a [routerLink]="['/resedit', reso.ResolutionId]">{{ reso.Name }}</a></td>
              <td>
                <a *ngIf="reso.OnlineCode" [routerLink]="['/resa/live', reso.OnlineCode]">{{ reso.OnlineCode }}</a>
                <span *ngIf="!reso.OnlineCode">-</span>
              </td>
              <td>
                <span *ngIf="reso.PublicRead == true" class="text-success">Ja</span>
                <span *ngIf="reso.PublicRead == false" class="text-danger">Nein</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>
