<div *ngIf="!conference">
  <p>Konferenz wird geladen</p>
</div>

<div *ngIf="conference">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Konferenzverwaltung</li>
        <li class="breadcrumb-item"><a [routerLink]="['/mc/overview',conference.ConferenceId]" *ngIf="conference">{{ conference.Name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gremien</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <h1>Gremien verwalten</h1>
  </div>

  <!-- Übersicht -->
  <div class="row">
    <div class="card border-dark w-100">
      <div class="card-header">Gremien</div>
      <div class="card-body text-dark">
        <h5 class="card-title">Gremien</h5>

        <p *ngIf="conference.Committees" class="card-text">{{ conference.Committees.length }} Gremien gefunden.</p>
        <p *ngIf="!conference.Committees" class="card-text text-danger">Keine Gremien initialisiert!</p>
        <table class="table">
          <thead>
            <tr>
              <th>Id </th>
              <th>Name </th>
              <th>Abkürzung</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let committee of conference.Committees">
              <td>{{ committee.CommitteeId}}</td>
              <td>{{ committee.Name }}</td>
              <td>{{ committee.Abbreviation }}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-block btn-primary" (click)="openModal(addCommitteeModal)">Gremium hinzufügen</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card border-primary">
        <div class="card-header">
          <h3 class="card-title">Delegation zur Konferenz hinzufügen</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Delegation auswählen</label>
            <select class="form-control" [(ngModel)]="addDelegationSelection" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let delegation of presetDelegations" [ngValue]="delegation">{{ delegation.Name }}</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-block btn-primary" (click)="addDelegationClick()">Auswahl Hinzufügen</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <label>Suche: </label>
      <input type="text" class="form-control" placeholder="Suchbegriff" (keyup)="onSearchKey($event)" />
    </div>
    <div class="col-12">
      <table class="table table-hover">
        <tr>
          <th>Delegation\Gremium</th>
          <th *ngFor="let committee of conference.Committees" class="text-center">{{ committee.Abbreviation }}</th>
        </tr>
        <tr *ngFor="let delegation of filteredDelegations">
          <td>{{ delegation.Name }}</td>
          <td *ngFor="let committee of conference.Committees" [class.bg-success]="isDelegationInCommittee(delegation, committee)">
            <div class="checkbox align-content-center">
              <label style="font-size: 1em">
                  <input type="checkbox" value="" [checked]="isDelegationInCommittee(delegation, committee)" (change)="toggleDelegationInCommittee(delegation, committee)">
              </label>
            </div>
          </td>
        </tr>
      </table>
    </div>

  </div>

</div>


<!-- Add Committee Modal -->
<ng-template #addCommitteeModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Gremium hinzufügen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCommitteeForm"  (ngSubmit)="addCommittee()">
      <!-- Name -->
      <div class="form-group">
        <label class="control-label">Anzeigename</label>
        <div class="col-12">
          <input formControlName="name"
                 class="form-control" [class.is-invalid]="addCommitteeSubmitted && acf.name.errors">
        </div>
      </div>

      <!-- Abkürzung -->
      <div class="form-group">
        <label class="control-label">Abkürzung/Kurzform</label>
        <div class="col-12">
          <input formControlName="abbreviation"
                 class="form-control" [class.is-invalid]="addCommitteeSubmitted && acf.abbreviation.errors">
        </div>
      </div>

      <!-- Abkürzung -->
      <div class="form-group">
        <label class="control-label">Artikel (der/die/das)</label>
        <div class="col-12">
          <input formControlName="article"
                 class="form-control"  [class.is-invalid]="addCommitteeSubmitted && acf.article.errors">
        </div>
      </div>

      <!-- Übergeordnetes Gremium -->
      <div class="form-group">
        <label class="control-label">Übergeodnetes Gremium</label>
        <div class="col-12">
          <input formControlName="parentcommittee"
                 [typeahead]="conference.Committees"
                 typeaheadOptionField="Name"
                 class="form-control"
                 aria-describedby="dsds">
          <small id="dsds" class="text-muted">Wenn keines existiert Feld leer lassen</small>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-block btn-primary" (click)="addCommittee()" [disabled]="isAddingCommittee">Hinzufügen</button>
      </div>
    </form>
    <div *ngIf="errorAddingCommittee" class="alert alert-danger">
      <b>Fehler</b>
      <p>{{ errorAddingCommittee }}</p>
    </div>
  </div>
</ng-template>
